
<wj-flex-grid [itemsSource]="data" control="flex" selectionMode="Row" [frozenColumns]="1" [isReadOnly]="true" headersVisibility="Column" (itemsSourceChanged)="onItemsSourceChanged()" #flex>
    <wj-flex-grid-filter></wj-flex-grid-filter>
    <wj-flex-grid-column [header]="'Server Name'" [binding]="'device_name'" [width]="280"></wj-flex-grid-column>
    <wj-flex-grid-column [header]="'Status'" [binding]="'status'" [width]="180" align="center">
        <template wjFlexGridCellTemplate [cellType]="'Cell'" let-cell="cell">
            <div [ngSwitch]="cell.item.status">
                <span *ngSwitchCase="'OK'" class="label label-pill label-success">{{cell.item.status}}</span>
                <span *ngSwitchCase="'Issue'" class="label label-pill label-warning">{{cell.item.status}}</span>
                <span *ngSwitchCase="'Not Responding'" class="label label-pill label-danger">{{cell.item.status}}</span>
                <span *ngSwitchCase="'Maintenance'" class="label label-pill label-info">{{cell.item.status}}</span>
            </div>
        </template>
    </wj-flex-grid-column>
    <wj-flex-grid-column [header]="'CAS'" [binding]="'cas'"></wj-flex-grid-column>
    <wj-flex-grid-column [header]="'MBX'" [binding]="'mbx'"></wj-flex-grid-column>
    <wj-flex-grid-column [header]="'EDGE'" [binding]="'edge'" ></wj-flex-grid-column>
    <wj-flex-grid-column [header]="'HUB'" [binding]="'hub'" align="right"></wj-flex-grid-column>
    <wj-flex-grid-column [header]="'CPU'" [binding]="'cpu'"></wj-flex-grid-column>
    <wj-flex-grid-column [header]="'Memory'" [binding]="'memory'" [width]="300"></wj-flex-grid-column>
    <wj-flex-grid-column [header]="'Response Time'" [binding]="'response_time'" ></wj-flex-grid-column>
    <wj-flex-grid-column [header]="'OS'" [binding]="'operating_system'"[width]="300"></wj-flex-grid-column>
    <wj-flex-grid-column [header]="'Version'" [binding]="'Version'"></wj-flex-grid-column>

    

</wj-flex-grid>
<div class="btn-group" *ngIf="data != null">
    <button type="button" class="btn btn-default"
            (click)="data.moveToFirstPage()"
            [disabled]="data.pageIndex <= 0">
        <span class="glyphicon glyphicon-fast-backward"></span>
    </button>
    <button type="button" class="btn btn-default"
            (click)="data.moveToPreviousPage()"
            [disabled]="data.pageIndex <= 0">
        <span class="glyphicon glyphicon-step-backward">
        </span>
    </button>
    <button type="button" class="btn btn-default" disabled style="width:100px">
        {{data.pageIndex + 1 | number}} / {{data.pageCount | number}}
    </button>
    <button type="button" class="btn btn-default"
            (click)="data.moveToNextPage()"
            [disabled]="data.pageIndex >= data.pageCount - 1">
        <span class="glyphicon glyphicon-step-forward"></span>
    </button>
    <button type="button" class="btn btn-default"
            (click)="data.moveToLastPage()"
            [disabled]="data.pageIndex >= data.pageCount - 1">
        <span class="glyphicon glyphicon-fast-forward"></span>
    </button>
</div>
