
<div id="zeusContext">

    <div id="zeusContextNavigation">
        <div id="zeusContextNavigationIcon">
            <img class="svgInject" src="/img/servers/MSExchange.svg" title="Dashboard" alt="Dashboard"  style="fill:white;"/>
        </div>
        <div id="zeusContextNavigationText">
            <h2>
                Microsoft Exchange
                <app-navigator></app-navigator>
            </h2>
            <p>Microsoft Exchange dashboard</p>
        </div>
    </div>
<div class="clearfix"></div>
 <br />
        <div class="row">
            <div class="{{widget.css}}" *ngFor="let widget of widgets">
                <div class="widgetWrapper">
                    <div class="widgetTitle">
                        {{widget.title}}
                    </div>
                    <div class="widgetContent" id="{{widget.id}}">
                        <my-widget [contract]="widget">loading...</my-widget>
                    </div>
                </div>
            </div>
            <vs-ms-exchange-details></vs-ms-exchange-details>
        </div>
    </div>

