
<wj-flex-grid [itemsSource]="data" control="flex" selectionMode="Row" [frozenColumns]="1" [isReadOnly]="true" headersVisibility="Column" (itemsSourceChanged)="onItemsSourceChanged()" #flex>
    <wj-flex-grid-filter></wj-flex-grid-filter>
    <wj-flex-grid-column [header]="'Server Name'" [binding]="'device_name'" [width]="280"></wj-flex-grid-column>
    <wj-flex-grid-column [header]="'RPC'" [binding]="'rpc'"></wj-flex-grid-column>
    <wj-flex-grid-column [header]="'IMAP'" [binding]="'imap'" [width]="180" align="center">
        <template wjFlexGridCellTemplate [cellType]="'Cell'" let-cell="cell">
            <div [ngSwitch]="cell.item.status">
                <span *ngSwitchCase="'Passed'" class="label label-pill label-success">{{cell.item.imap}}</span>
                <span *ngSwitchCase="'Fail'" class="label label-pill label-warning">{{cell.item.imap}}</span>
            </div>
        </template>
    </wj-flex-grid-column>
    <wj-flex-grid-column [header]="'OWA	'" [binding]="'owa'"></wj-flex-grid-column>
    <wj-flex-grid-column [header]="'POP'" [binding]="'pop3'" ></wj-flex-grid-column>
    <wj-flex-grid-column [header]="'Active Sync'" [binding]="'active_sync'" align="right"></wj-flex-grid-column>
    <wj-flex-grid-column [header]="'SMTP'" [binding]="'smtp'"></wj-flex-grid-column>
    <wj-flex-grid-column [header]="'Outlook Anywhere'" [binding]="'outlook_anywhere'"></wj-flex-grid-column>
    <wj-flex-grid-column [header]="'Auto Discovery'" [binding]="'auto_discovery'"></wj-flex-grid-column>
    <wj-flex-grid-column [header]="'Services'" [binding]="'services'"></wj-flex-grid-column>
</wj-flex-grid>
<div class="btn-group" *ngIf="data != null">
    <button type="button" class="btn btn-default"
            (click)="data.moveToFirstPage()"
            [disabled]="data.pageIndex <= 0">
        <span class="glyphicon glyphicon-fast-backward"></span>
    </button>
    <button type="button" class="btn btn-default"
            (click)="data.moveToPreviousPage()"
            [disabled]="data.pageIndex <= 0">
        <span class="glyphicon glyphicon-step-backward">
        </span>
    </button>
    <button type="button" class="btn btn-default" disabled style="width:100px">
        {{data.pageIndex + 1 | number}} / {{data.pageCount | number}}
    </button>
    <button type="button" class="btn btn-default"
            (click)="data.moveToNextPage()"
            [disabled]="data.pageIndex >= data.pageCount - 1">
        <span class="glyphicon glyphicon-step-forward"></span>
    </button>
    <button type="button" class="btn btn-default"
            (click)="data.moveToLastPage()"
            [disabled]="data.pageIndex >= data.pageCount - 1">
        <span class="glyphicon glyphicon-fast-forward"></span>
    </button>
</div>
