<div id="zeusContext">

    <div id="zeusContextNavigation">
        <div id="zeusContextNavigationIcon">
            <img class="svgInject" src="/img/menu/dashboard.svg" title="Dashboard" alt="Dashboard" />
        </div>
        <div id="zeusContextNavigationText">
            <h2>
                Microsoft Exchange
                <app-navigator></app-navigator>
            </h2>
            <p>Microsoft Exchange dashboard</p>
        </div>
    </div>

    <div class="clearfix"></div>
</div>
<div class="row">
    <div class="{{widget.css}}" *ngFor="let widget of widgets">
        <div class="widgetWrapper">
            <div class="widgetTitle">
                {{widget.title}}
            </div>
            <div class="widgetContent" id="{{widget.id}}">
                <my-widget [contract]="widget">loading...</my-widget>
            </div>
        </div>
    </div>
    <div id="MsExchangeDetail" *ngIf="service">

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">

            <li role="presentation" [class.active]="tab.active" (click)="selectTab(tab)" *ngFor="let tab of service.tabs">
                <a href="javascript:void(0);">{{tab.title}}</a>
            </li>

        </ul>

    </div>
    <!-- Tab panes -->
    <div id="MsExchangeDetailContent" class="tab-content">

        <div #tab></div>

    </div>
</div>

