<wj-flex-grid [itemsSource]="data" selectionMode="Row" [isReadOnly]="true"  [frozenColumns]="1" id="flex" headersVisibility="Column" (selectionChanged)="onSelectionChanged($event)"  
              (itemsSourceChanged)="itemsSourceChangedHandler()" #flex>
    <wj-flex-grid-filter></wj-flex-grid-filter>
    <wj-flex-grid-column [header]="'Sever Name'" [binding]="'server_name'" [width]="150"></wj-flex-grid-column>
    <wj-flex-grid-column [header]="'Database Name'" [binding]="'database_name'" [width]="150"></wj-flex-grid-column>
    <wj-flex-grid-column [header]="'Activation Preference'" [binding]="'action_preference'" [width]="160"></wj-flex-grid-column>
    <wj-flex-grid-column [header]="'Copy Queue	'" [binding]="'copy_queue'" [width]="120"></wj-flex-grid-column>
    <wj-flex-grid-column [header]="'Replay Queue	'" [binding]="'replay_queue'" [width]="120"></wj-flex-grid-column>
    <wj-flex-grid-column [header]="'Replay Lagged'" [binding]="'replay_lagged'" [width]="120"></wj-flex-grid-column>
    <wj-flex-grid-column [header]="'Truncation Laggeds'" [binding]="'truncation_lagged'" [width]="120"></wj-flex-grid-column>
    <wj-flex-grid-column [header]="'Content Indexs'" [binding]="'context_index'" [width]="120">
        <template wjFlexGridCellTemplate [cellType]="'Cell'" let-cell="cell">
            <span *ngIf="cell.item.context_index == 'Healthy'" class="label label-pill label-success">Healthy</span>
            <span *ngIf="cell.item.context_index == 'Suspended'" class="label label-pill label-danger">Suspended</span>
            
        </template>
    </wj-flex-grid-column>
</wj-flex-grid>

<div class="pull-right" *ngIf="data != null">
    <wj-menu [(value)]="pageSize" [header]="'Page size'">
        <wj-menu-item [value]="10">10</wj-menu-item>
        <wj-menu-item [value]="20">20</wj-menu-item>
        <wj-menu-item [value]="50">50</wj-menu-item>
    </wj-menu>
</div>