<!doctype html>
<html lang="">

<head>
    <base href="/" />

    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />

    <title>Vital Signs - @ViewBag.Title</title>

    <meta name="description" content="Example of the Vital signs UI" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />

    <link rel="shortcut icon" href="~/img/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="~/img/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="~/img/apple-touch-icon.png" />

    <!-- Styles -->
    <link rel="stylesheet" href="~/css/vendor/Bootstrap/bootstrap.css" />
    <link rel="stylesheet" href="~/css/vendor/Bootstrap/bootstrap-theme.css" />
    <link rel="stylesheet" href="~/css/vendor/Zeus/zeus-fonts.css" />
    <link rel="stylesheet" href="~/css/vendor/Zeus/zeus-normalize.css" />
    <link rel="stylesheet" href="~/css/vendor/Zeus/zeus.css" />

    <link rel="stylesheet" href="~/css/vendor/FlagIcon/css/flag-icon.css" />
    <link rel="stylesheet" href="~/css/vitalsigns.css" />
    <link rel="stylesheet" href="~/css/vitalsignswidgets.css" />

    <!-- Wijmo styles -->
    <link href="~/css/vendor/wijmo/wijmo.css" rel="stylesheet" />

    <!-- Angular 2 -->
    <script src="~/angular2/shim.min.js"></script>
    <script src="~/angular2/zone.js"></script>
    <script src="~/angular2/reflect.js"></script>
    <script src="~/angular2/system.src.js"></script>

    <!-- SystemJS -->
    <script src="~/js/systemjs.config.js"></script>

    <!-- Scripts -->
    <script src="~/lib/jQuery/jquery-2.2.0.min.js"></script>
    <script src="~/lib/jquery/jquery-ui-1.12.0.min.js"></script>
    <script src="~/lib/Bootstrap/bootstrap.min.js"></script>
    <script src="~/lib/SVGInject/svg-injector.min.js"></script>
    <script src="~/lib/Highcharts/js/highcharts.js"></script>
    <script src="~/lib/Highcharts/js/modules/exporting.js"></script>
    <script src="~/lib/EventManager/EventManager.js"></script>
    <script src="~/lib/Zeus/zeus.js"></script>

    <!-- TODO: integrate to zeus -->
    <script src="~/js/vitalsignsnavigator.js"></script>
    
    <!-- Wijmo JS -->
    <script src="~/lib/wijmo/wijmo.min.js"></script>
    <script src="~/lib/wijmo/wijmo.grid.min.js"></script>

    <!-- Wijmo Angular 2 -->
    <script src="~/lib/wijmo/wijmo.angular2.min.js"></script>

    @RenderSection("scripts", required: false)

</head>
<body>
    @RenderBody()
</body>
</html>
