<div class="container">
    <wj-group-panel [grid]="flex" [placeholder]="'Drag columns here to create groups.'" class="visible"></wj-group-panel>
    <wj-flex-grid #flex [itemsSource]="data" selectionMode="Row" [frozenColumns]="1" [isReadOnly]="true">
        <wj-flex-grid-filter></wj-flex-grid-filter>
        <wj-flex-grid-column [header]="'Name'" [binding]="'name'" [width]="100"> </wj-flex-grid-column>
        <wj-flex-grid-column [header]="'Start Time'" [binding]="'start_time'" [width]="100"></wj-flex-grid-column>
        <wj-flex-grid-column [header]="'Duration'" [binding]="'duration'" [width]="100"></wj-flex-grid-column>
        <wj-flex-grid-column [header]="'Sunday'" [binding]="'sunday'" [width]="100"></wj-flex-grid-column>
        <wj-flex-grid-column [header]="'Monday'" [binding]="'monday'" [width]="100"></wj-flex-grid-column>
        <wj-flex-grid-column [header]="'Tuesday'" [binding]="'tuesday'" [width]="100"></wj-flex-grid-column>
        <wj-flex-grid-column [header]="'Wednesday'" [binding]="'wednesday'" [width]="100"></wj-flex-grid-column>
        <wj-flex-grid-column [header]="'Thursday'" [binding]="'thursday'" [width]="100"></wj-flex-grid-column>
        <wj-flex-grid-column [header]="'Friday'" [binding]="'friday'" [width]="100"></wj-flex-grid-column>
        <wj-flex-grid-column [header]="'Saturday'" [binding]="'saturday'" [width]="100"></wj-flex-grid-column>
    </wj-flex-grid>
    <div class="btn-group" *ngIf="data != null">
        <button type="button" class="btn btn-default"
                (click)="data.moveToFirstPage()"
                [disabled]="data.pageIndex <= 0">
            <span class="glyphicon glyphicon-fast-backward"></span>
        </button>
        <button type="button" class="btn btn-default"
                (click)="data.moveToPreviousPage()"
                [disabled]="data.pageIndex <= 0">
            <span class="glyphicon glyphicon-step-backward">
            </span>
        </button>
        <button type="button" class="btn btn-default" disabled style="width:100px">
            {{
data.pageIndex + 1 | number
            }} / {{data.pageCount | number}}
        </button>
        <button type="button" class="btn btn-default"
                (click)="data.moveToNextPage()"
                [disabled]="data.pageIndex >= data.pageCount - 1">
            <span class="glyphicon glyphicon-step-forward"></span>
        </button>
        <button type="button" class="btn btn-default"
                (click)="data.moveToLastPage()"
                [disabled]="data.pageIndex >= data.pageCount - 1">
            <span class="glyphicon glyphicon-fast-forward"></span>
        </button>
    </div>
    <div class="pull-right" *ngIf="data != null">
        <wj-menu [(value)]="pageSize" [header]="'Page size'">
            <wj-menu-item [value]="10">10</wj-menu-item>
            <wj-menu-item [value]="20">20</wj-menu-item>
            <wj-menu-item [value]="50">50</wj-menu-item>
        </wj-menu>
    </div>

    <div class="well grid-sort-group">

        <!-- edit details in a popup -->
        <button class="btn btn-default" (click)="editGridRow1(frmDialog)">
            Edit
        </button>
        <button class="btn btn-default" (click)="addGridRow1(frmDialog)">
            Add
        </button>
        <button class="btn btn-default" (click)="delteBusinessHour();">
            Delete
        </button>
    </div>
    <wj-popup class="col-md-6 modal-content" #frmDialog>

        <form (ngSubmit)="saveBusinessHour(frmDialog)" #frmUser="ngForm">
            <h4 class="modal-header">
                {{formTitle}}
                <button type="button" tabindex="-1" class="close wj-hide" (click)="cancelEditAdd()" name="cancel">&times;</button>
            </h4>
            <div class="modal-body" *ngIf="currentEditItem">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" required name="name" [(ngModel)]="currentEditItem.name">
                </div>
                <div class="form-group">
                    <label for="start_time">Start Time</label>
                    <input type="text" class="form-control" id="start_time" required name="start_time" [(ngModel)]="currentEditItem.start_time">
                </div>
                <div class="form-group">
                    <label for="duration">Duration</label>
                    <input type="number" class="form-control" id="duration" required name="duration" [(ngModel)]="currentEditItem.duration">
                </div>
                <div class="form-group">
                    <label for="duration">Sunday</label>
                    <input type="checkbox" class="checkbox-inline" id="sunday" [(ngModel)]="currentEditItem.sunday">
                </div>
                <div class="form-group">
                    <label for="monday">Monday</label>
                    <input type="checkbox" class="checkbox-inline" id="monday" [(ngModel)]="currentEditItem.monday">
                </div>
                <div class="form-group">
                    <label for="tuesday">Tuesday</label>
                    <input type="checkbox" class="checkbox-inline" id="tuesday" [(ngModel)]="currentEditItem.tuesday">
                </div>
                <div class="form-group">
                    <label for="wednesday">Wednesday</label>
                    <input type="checkbox" class="checkbox-inline" id="wednesday" [(ngModel)]="currentEditItem.wednesday">
                </div>
                <div class="form-group">
                    <label for="thursday">Thursday</label>
                    <input type="checkbox" class="checkbox-inline" id="thursday" [(ngModel)]="currentEditItem.thursday">
                </div>
                <div class="form-group">
                    <label for="friday">Friday</label>
                    <input type="checkbox" class="checkbox-inline" id="friday" [(ngModel)]="currentEditItem.friday">
                </div>
                <div class="form-group">
                    <label for="saturday">Saturday</label>
                    <input type="checkbox" class="checkbox-inline" id="saturday" [(ngModel)]="currentEditItem.saturday">
                </div>

            </div>

            <div class="modal-footer">
                <button class="btn btn-primary" type="submit" name="submit" [disabled]="!frmUser.form.valid">Save</button>
                <button class="btn btn-primary" type="cancel" name="cancel" [disabled]="!frmUser.form.valid">Cancel</button>
            </div>


        </form>
    </wj-popup>
  

</div>


