<div class="widgetWrapper">
    <div class="widgetContent">
        <div class="grid-sort-group">

            <!-- edit details in a popup -->
            <button class="btn btn-default" (click)="editGridRow(frmDialog)">
                Edit
            </button>
            <button class="btn btn-default" (click)="addMaintainUser(frmDialog)">
                Add
            </button>
            <button class="btn btn-default" (click)="delteMaintainUsers();">
                Delete
            </button>
        </div>
        <div>&nbsp;</div>
        <wj-flex-grid #flex [itemsSource]="data" headersVisibility="Column" selectionMode="Row" [frozenColumns]="1" [isReadOnly]="true">
            <wj-flex-grid-filter></wj-flex-grid-filter>
            <wj-flex-grid-column [header]="'Login Name'" [binding]="'login_name'" [width]="180"></wj-flex-grid-column>
            <wj-flex-grid-column [header]="'Full Name'" [binding]="'full_name'" [width]="200"></wj-flex-grid-column>
            <wj-flex-grid-column [header]="'Email'" [binding]="'email'" [width]="250"></wj-flex-grid-column>
            <wj-flex-grid-column [header]="'Status'" [binding]="'status'" [width]="120"></wj-flex-grid-column>
            <wj-flex-grid-column [header]="'Super Admin'" [binding]="'super_admin'" [width]="120"></wj-flex-grid-column>
            <wj-flex-grid-column [header]="'Configurator Access	'" [binding]="'configurator_access'" [width]="160"></wj-flex-grid-column>
            <wj-flex-grid-column [header]="'Console Command Access'" [binding]="'console_command_access'" [width]="200"></wj-flex-grid-column>
        </wj-flex-grid>
        <div class="btn-group" *ngIf="data != null">
            <button type="button" class="btn btn-default"
                    (click)="data.moveToFirstPage()"
                    [disabled]="data.pageIndex <= 0">
                <span class="glyphicon glyphicon-fast-backward"></span>
            </button>
            <button type="button" class="btn btn-default"
                    (click)="data.moveToPreviousPage()"
                    [disabled]="data.pageIndex <= 0">
                <span class="glyphicon glyphicon-step-backward">
                </span>
            </button>
            <button type="button" class="btn btn-default" disabled style="width:100px">
                {{
data.pageIndex + 1 | number
                }} / {{data.pageCount | number}}
            </button>
            <button type="button" class="btn btn-default"
                    (click)="data.moveToNextPage()"
                    [disabled]="data.pageIndex >= data.pageCount - 1">
                <span class="glyphicon glyphicon-step-forward"></span>
            </button>
            <button type="button" class="btn btn-default"
                    (click)="data.moveToLastPage()"
                    [disabled]="data.pageIndex >= data.pageCount - 1">
                <span class="glyphicon glyphicon-fast-forward"></span>
            </button>
        </div>
        <div class="pull-right" *ngIf="data != null">
            <wj-menu [(value)]="pageSize" [header]="'Page size'">
                <wj-menu-item [value]="10">10</wj-menu-item>
                <wj-menu-item [value]="20">20</wj-menu-item>
                <wj-menu-item [value]="50">50</wj-menu-item>
            </wj-menu>
        </div>


        <wj-popup class="modal-content col-sm-10" #frmDialog>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <b> {{formTitle}}</b>

                    <button type="button" tabindex="-1" class="close wj-hide" (click)="cancelEditAdd()" name="cancel">&times;</button>
                </div>
                <form (ngSubmit)="saveMaintainUser(frmDialog)" #frmUser="ngForm" class="form-horizontal">

                    <div class="panel-body" *ngIf="currentEditItem">
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label for="login_name" class="control-label col-sm-5">Login Name</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" id="login_name" required name="login_name" [(ngModel)]="currentEditItem.login_name">
                                </div>
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="full_name" class="control-label col-sm-5">Full Name</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" id="full_name" required name="full_name" [(ngModel)]="currentEditItem.full_name">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label for="email" class="control-label col-sm-5">Email</label>
                                <div class="col-sm-7">
                                    <input type="email" class="form-control" id="email" required name="email" [(ngModel)]="currentEditItem.email">
                                </div>
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="status" class="control-label col-sm-5">Status</label>
                                <div class="col-sm-7">
                                    <wj-combo-box name="status" [itemsSource]="status" [(ngModel)]="currentEditItem.status">
                                    </wj-combo-box>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label for="super_admin" class="control-label col-sm-5">Super Admin</label>
                                <div class="col-sm-7">
                                    <wj-combo-box name="super_admin" [itemsSource]="superadmin" [(ngModel)]="currentEditItem.super_admin">
                                    </wj-combo-box>
                                </div>
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="configurator_access" class="control-label col-sm-5">Configurator Access</label>
                                <div class="col-sm-7">
                                    <input type="checkbox" class="checkbox-inline" id="configurator_access" [(ngModel)]="currentEditItem.configurator_access" name="configurator_access">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label for="console_command_access" class="control-label col-sm-5">Console Command Access</label>
                                <div class="col-sm-7">
                                    <input type="checkbox" class="checkbox-inline" id="console_command_access" [(ngModel)]="currentEditItem.console_command_access" name="console_command_access">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <button class="btn btn-primary" type="submit" name="submit" [disabled]="!frmUser.form.valid">Save</button>
                        <button class="btn btn-primary wj-hide " type="button" name="cancel" (click)="cancelEditAdd()">Cancel</button>
                    </div>
                </form>
            </div>
        </wj-popup>
    </div>
</div>
