<div id="zeusContext">
    <div id="zeusContextNavigation">
        <div id="zeusContextNavigationIcon">
            <img class="svgInject" src="img/menu/servers.svg" title="Application Settings" alt="Application Settings" />
        </div>
        <div id="zeusContextNavigationText">
            <h2>
                Application Settings               
            </h2>
            <p>Manage your application settings</p>
        </div>
    </div>
    <div class="clearfix"></div>
</div>

<div id="zeusContent" class="noPadding">

</div>