<div class="widgetWrapper">
    <div class="widgetContent">
        <div class="row">
            <div class="alert alert-info col-lg-12">
                <p> Hours definitions below may be used when configuring server scanning and maintenance as well as alerting. Note: the default definition for Business Hours may not be renamed or deleted.</p>
            </div>


            <div class="grid-sort-group">

                <!-- edit details in a popup -->
                <button class="btn btn-success" (click)="editBusinessHours(frmDialog)">
                    Edit
                </button>
                <button class="btn btn-success" (click)="addBusinessHours(frmDialog)">
                    Add
                </button>
                <button class="btn btn-success" (click)="delteBusinessHour();">
                    Delete
                </button>
            </div>
            <div>&nbsp;</div>
            <wj-flex-grid #flex [itemsSource]="data" headersVisibility="Column" selectionMode="Row" [isReadOnly]="true">
                <wj-flex-grid-filter></wj-flex-grid-filter>
                <wj-flex-grid-column [header]="'Name'" [binding]="'name'" [width]="180"> </wj-flex-grid-column>
                <wj-flex-grid-column [header]="'Start Time'" [binding]="'start_time'" [width]="100"></wj-flex-grid-column>
                <wj-flex-grid-column [header]="'Duration'" [binding]="'duration'" [width]="100"></wj-flex-grid-column>
                <wj-flex-grid-column [header]="'Sunday'" [binding]="'sunday'" [width]="100"></wj-flex-grid-column>
                <wj-flex-grid-column [header]="'Monday'" [binding]="'monday'" [width]="100"></wj-flex-grid-column>
                <wj-flex-grid-column [header]="'Tuesday'" [binding]="'tuesday'" [width]="100"></wj-flex-grid-column>
                <wj-flex-grid-column [header]="'Wednesday'" [binding]="'wednesday'" [width]="100"></wj-flex-grid-column>
                <wj-flex-grid-column [header]="'Thursday'" [binding]="'thursday'" [width]="100"></wj-flex-grid-column>
                <wj-flex-grid-column [header]="'Friday'" [binding]="'friday'" [width]="100"></wj-flex-grid-column>
                <wj-flex-grid-column [header]="'Saturday'" [binding]="'saturday'" [width]="100"></wj-flex-grid-column>
                <!--<wj-flex-grid-column [header]="'Use Type'" [binding]="'use_type'" [width]="100"></wj-flex-grid-column>-->

            </wj-flex-grid>
            <div class="btn-group" *ngIf="data != null">
                <button type="button" class="btn btn-default"
                        (click)="data.moveToFirstPage()"
                        [disabled]="data.pageIndex <= 0">
                    <span class="glyphicon glyphicon-fast-backward"></span>
                </button>
                <button type="button" class="btn btn-default"
                        (click)="data.moveToPreviousPage()"
                        [disabled]="data.pageIndex <= 0">
                    <span class="glyphicon glyphicon-step-backward">
                    </span>
                </button>
                <button type="button" class="btn btn-default" disabled style="width:100px">
                    {{
data.pageIndex + 1 | number
                    }} / {{data.pageCount | number}}
                </button>
                <button type="button" class="btn btn-default"
                        (click)="data.moveToNextPage()"
                        [disabled]="data.pageIndex >= data.pageCount - 1">
                    <span class="glyphicon glyphicon-step-forward"></span>
                </button>
                <button type="button" class="btn btn-default"
                        (click)="data.moveToLastPage()"
                        [disabled]="data.pageIndex >= data.pageCount - 1">
                    <span class="glyphicon glyphicon-fast-forward"></span>
                </button>
            </div>
            <div class="pull-right" *ngIf="data != null">
                <wj-menu [(value)]="pageSize" [header]="'Page size'">
                    <wj-menu-item [value]="10">10</wj-menu-item>
                    <wj-menu-item [value]="20">20</wj-menu-item>
                    <wj-menu-item [value]="50">50</wj-menu-item>
                </wj-menu>
            </div>

            <wj-popup class="modal-content col-sm-10" #frmDialog>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <b> {{formTitle}}</b>
                        <button type="button" tabindex="-1" class="close wj-hide" (click)="cancelEditAdd()" name="cancel">&times;</button>
                    </div>

                    <form (ngSubmit)="saveBusinessHour(frmDialog)" #frmUser="ngForm" class="form-horizontal">

                        <div class="panel-body" *ngIf="currentEditItem">

                            <div class="row">
                                <div class="form-group col-sm-12">
                                    <div class="col-sm-1">

                                    </div>
                                    <div class="col-sm-2">
                                        <input type="radio" id="use_type" name="use_type" value= "0" [(ngModel)]="currentEditItem.use_type"> <label for="use_type">Use for Alerts Only</label>
                                    </div>
                                    <div class="col-sm-2">
                                        <input type="radio" id="use_type" name="use_type" value= "1" [(ngModel)]="currentEditItem.use_type"><label for="use_type">Use for Servers Only</label>
                                    </div>
                                    <div class="col-sm-2">
                                        <input type="radio" id="use_type" name="use_type" value= "2" [(ngModel)]="currentEditItem.use_type"><label for="use_type">Use for both</label>
                                    </div>

                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <label for="name" class="control-label col-sm-5">Name</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control" id="name" required name="name" [(ngModel)]="currentEditItem.name">
                                    </div>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label for="start_time" class="control-label col-sm-5">Start Time</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control" id="start_time" required name="start_time" [(ngModel)]="currentEditItem.start_time">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <label for="duration" class="control-label col-sm-5">Duration</label>
                                    <div class="col-sm-5">
                                        <input type="number" min="1" class="form-control" id="duration" required name="duration" [(ngModel)]="currentEditItem.duration">
                                    </div>
                                    <label for="duration" class="control-label col-sm-2">Minutes</label>
                                </div>

                            </div>


                            <div class="row">
                                <div class="form-group col-sm-2"></div>
                                <div class="form-group col-sm-6">

                                    <div class="panel panel-default">
                                        <div class="panel-body">


                                            <div class="row">
                                                <div class="form-group col-sm-2">
                                                </div>
                                                <div class="form-group col-sm-3">
                                                    <button class="btn btn-primary" type="button" name="submit" (click)="selectAllClick(this);">Select All</button>
                                                </div>
                                                <div class="form-group col-sm-8">
                                                    <button class="btn btn-primary" type="button" name="submit" (click)="deselectAllClick(this);">Clear All</button>
                                                </div>

                                            </div>
                                            <div class="row">
                                                <div class="form-group col-sm-3">
                                                    <label for="sunday" class="control-label col-sm-8">Sunday</label>
                                                    <div class="col-sm-2">
                                                        <input type="checkbox" class="checkbox-inline " id="sunday" name="sunday" [(ngModel)]="currentEditItem.sunday">
                                                    </div>


                                                </div>
                                                <div class="form-group col-sm-3">
                                                    <label for="monday" class="control-label col-sm-8">Monday</label>
                                                    <div class="col-sm-2">
                                                        <input type="checkbox" class="checkbox-inline" id="monday" name="monday" [(ngModel)]="currentEditItem.monday">
                                                    </div>

                                                </div>
                                                <div class="form-group col-sm-3">
                                                    <label for="tuesday" class="control-label col-sm-8">Tuesday</label>
                                                    <div class="col-sm-2">
                                                        <input type="checkbox" class="checkbox-inline" id="tuesday" name="tuesday" [(ngModel)]="currentEditItem.tuesday">
                                                    </div>

                                                </div>
                                                <div class="form-group col-sm-3">
                                                    <label for="wednesday" class="control-label col-sm-8">Wednesday</label>
                                                    <div class="col-sm-2">
                                                        <input type="checkbox" class="checkbox-inline" id="wednesday" name="wednesday" [(ngModel)]="currentEditItem.wednesday">
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="row">

                                                <div class="form-group col-sm-3">
                                                    <label for="thursday" class="control-label col-sm-8">Thursday</label>
                                                    <div class="col-sm-2">
                                                        <input type="checkbox" class="checkbox-inline" id="thursday" name="thursday" [(ngModel)]="currentEditItem.thursday">
                                                    </div>

                                                </div>

                                                <div class="form-group col-sm-3">
                                                    <label for="friday" class="control-label col-sm-8">Friday</label>
                                                    <div class="col-sm-2">
                                                        <input type="checkbox" class="checkbox-inline" id="friday" name="friday" [(ngModel)]="currentEditItem.friday">
                                                    </div>

                                                </div>

                                                <div class="form-group col-sm-3">
                                                    <label for="saturday" class="control-label col-sm-8">Saturday</label>
                                                    <div class="col-sm-2">
                                                        <input type="checkbox" class="checkbox-inline" id="saturday" name="saturday" [(ngModel)]="currentEditItem.saturday">
                                                    </div>

                                                </div>

                                            </div>

                                            <div class="row">

                                            </div>


                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel-footer">
                            <button class="btn btn-primary" type="submit" name="submit" [disabled]="!frmUser.form.valid">Save</button>
                            <button class="btn btn-primary wj-hide" type="button" name="cancel" (click)="cancelEditAdd()">Cancel</button>
                        </div>


                    </form>
                </div>
            </wj-popup>
        </div>
    </div>
</div>


