<div class="widgetWrapper">
    <div class="widgetContent">
        <div class="grid-sort-group"  *ngIf="data" >

            <!-- edit details in a popup -->
            <button class="btn btn-success" (click)="editServerCredential(frmDialog)" [disabled]="data.itemCount==0">
                Edit
            </button>
            <button class="btn btn-success" (click)="addServerCredential(frmDialog)">
                Add
            </button>
            <button class="btn btn-success" (click)="delteServerCredential();" [disabled]="data.itemCount==0">
                Delete
            </button>
        </div>
        <div>&nbsp;</div>
        <wj-flex-grid [itemsSource]="data" selectionMode="Row" [frozenColumns]="1" [isReadOnly]="true" #flex  headersVisibility="Column">
            <wj-flex-grid-filter></wj-flex-grid-filter>

            <wj-flex-grid-column [header]="'Alias'" [binding]="'alias'" [width]="300"></wj-flex-grid-column>
            <wj-flex-grid-column [header]="'User Id'" [binding]="'user_id'" [width]="300"></wj-flex-grid-column>
            <!--<wj-flex-grid-column [header]="'Password'" [binding]="'password'" [width]="300" ></wj-flex-grid-column>-->
            <wj-flex-grid-column [header]="'Device Type'" [binding]="'device_type'" [width]="300"></wj-flex-grid-column>

        </wj-flex-grid>
        <div class="btn-group" *ngIf="data != null">
            <button type="button" class="btn btn-default"
                    (click)="data.moveToFirstPage()"
                    [disabled]="data.pageIndex <= 0">
                <span class="glyphicon glyphicon-fast-backward"></span>
            </button>
            <button type="button" class="btn btn-default"
                    (click)="data.moveToPreviousPage()"
                    [disabled]="data.pageIndex <= 0">
                <span class="glyphicon glyphicon-step-backward">
                </span>
            </button>
            <button type="button" class="btn btn-default" disabled style="width:100px">
                {{
data.pageIndex + 1 | number
                }} / {{data.pageCount | number}}
            </button>
            <button type="button" class="btn btn-default"
                    (click)="data.moveToNextPage()"
                    [disabled]="data.pageIndex >= data.pageCount - 1">
                <span class="glyphicon glyphicon-step-forward"></span>
            </button>
            <button type="button" class="btn btn-default"
                    (click)="data.moveToLastPage()"
                    [disabled]="data.pageIndex >= data.pageCount - 1">
                <span class="glyphicon glyphicon-fast-forward"></span>
            </button>
        </div>
        <div class="pull-right" *ngIf="data != null">
            <wj-menu [(value)]="pageSize" [header]="'Page size'">
                <wj-menu-item [value]="10">10</wj-menu-item>
                <wj-menu-item [value]="20">20</wj-menu-item>
                <wj-menu-item [value]="50">50</wj-menu-item>
            </wj-menu>
        </div>
        <wj-popup class="col-md-6 modal-content" #frmDialog>
            <div class="panel panel-default">


                <div class="panel-heading">
                    <b>
                        {{formTitle}}
                        <button type="button" tabindex="-1" class="close wj-hide" (click)="cancelEditAdd()" name="cancel">&times;</button>
                    </b>
                </div>
                <form (ngSubmit)="saveServerCredential(frmDialog)" #frmCredential="ngForm" class="form-horizontal">
                    <div class="panel-body" *ngIf="currentEditItem">

                        <div class="form-group col-sm-12">
                            <label for="alias" class="control-label col-sm-5">Alias</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" #name d="alias" required name="alias" [(ngModel)]="currentEditItem.alias">
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <label for="user_id" class="control-label col-sm-5">User Id</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" required name="user_id" [(ngModel)]="currentEditItem.user_id">
                            </div>
                        </div>
                        <div class="form-group col-sm-12" *ngIf="deviceTypes">
                            <label for="device_type" class="control-label col-sm-5">Device Type</label>
                            <div class="col-sm-7">
                                <wj-combo-box name="device_type" [itemsSource]="deviceTypes" [(text)]="currentEditItem.device_type"
                                              [(ngModel)]="currentEditItem.device_type" displayMemberPath="text" selectedValuePath="value"  placeholder="Select Device Type"  [isEditable]="true" required>
                                </wj-combo-box>
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <label for="password" class="control-label col-sm-5" >Password</label>
                            <div class="col-sm-7">
                                <input type="password" class="form-control" name="password" [(ngModel)]="currentEditItem.password" required (keypress)="valuechange($event)">
                            </div>
                        </div>
                        <!--<div class="form-group col-sm-12">
                            <label for="confirmPassword" class="control-label col-sm-5">Confirm Password</label>
                            <div class="col-sm-7">
                                <input type="password" class="form-control" name="confirmPassword" required [(ngModel)]="currentEditItem.confirm_password">
                            </div>
                        </div>-->
                 

                    </div>
                    <div class="panel-footer">
                        <button type="submit" class="btn btn-primary" [disabled]="!frmCredential.form.valid"> Save </button>
                        <button class="btn btn-primary wj-hide " type="button" name="cancel" (click)="cancelEditAdd()">Cancel</button>
                    </div>
                </form>
            </div>
        </wj-popup>
    </div>
</div>
