
<div class="container">
  
    <form [formGroup]="ibmDominoSettingsForm" (ngSubmit)="onSubmit(ibmDominoSettingsForm.value)">
        <div class="form-group">
            <label for="name">Notes Program Directory Path:</label>
            <input type="text" class="form-control" #notesprogramdirectory   name="notes_program_directory" formControlName="notes_program_directory">
        </div>
       
        <div class="form-group">
            <label for="name">Notes ID file:</label>
            <input type="text" class="form-control" #notesuserid   name="notes_user_id" formControlName="notes_user_id">
        </div>

        <div class="form-group">
            <label for="name">Notes.INI:</label>
            <input type="text" class="form-control" #notesini   name="notes_ini" formControlName="notes_ini">
        </div>

        <div class="form-group">
            <label for="name">Notes Password:</label>
            <input type="password" class="form-control" #notespassword   name="notes_password" formControlName="notes_password">
        </div>

        <div class="form-group">
            <label for="enableex_journal">EXJournaling is enabled: </label>
            <input type="checkbox" class="checkbox-inline" id="enableex_journal" formControlName="enableex_journal">
        </div>
        <div class="form-group">
            <label for="enable_domino_console_commands">Enable Console Commands</label>
            <input type="checkbox" class="checkbox-inline" id="enable_domino_console_commands" formControlName="enable_domino_console_commands">
        </div>
        <div class="form-group">
            <label for="exjournalthreshold">Threshold:</label>
            <input type="text" class="form-control" #exjournalthreshold  name="exjournal_threshold" formControlName="exjournal_threshold">
        </div>

        <div class="form-group">
            <label for="consecutivetelnet">Consecutive Telnet</label>
            <input type="text" class="form-control" #consecutivetelnet  name="consecutive_telnet" formControlName="consecutive_telnet">
        </div>

        <button type="submit" class="btn btn-success">Submit</button>
        <!--<a class="btn btn-primary" [routerLink]="['/profiles']" role="button">Cancel</a>-->
    </form>
</div>