<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Reports.master.cs" Inherits="VSWebUI.Reports" %>

<%@ Register Assembly="DevExpress.Web.v14.2, Version=14.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"
    Namespace="DevExpress.Web" TagPrefix="dx" %>
<%@ Register Assembly="DevExpress.Web.v14.2, Version=14.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"
    Namespace="DevExpress.Web" TagPrefix="dx1" %>
<%@ Register Src="~/Controls/StatusBoxHeader.ascx" TagName="StatusBoxHeader" TagPrefix="uc1" %>
<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="cc1" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title></title>
    <link rel="shortcut icon" href="images/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link rel="stylesheet" type="text/css" href="css/control.css" />
    <link rel="stylesheet" type="text/css" href="css/vswebforms.css" />
    <link rel="stylesheet" type="text/css" href="css/menu_style.css" />
    <link href='#' rel='stylesheet' type='text/css' id="fontLink" runat="server" />
    <!-- 12/17/2013 NS commented out the script below
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.0/jquery.min.js"></script>
    <script type="text/javascript">
        $.ajaxSetup({
            // Disable caching of AJAX responses */
            cache: false
        });
        //setInterval(reloadmaster, 10000); // refresh every 10000 milliseconds
        //function reloadmaster() {
            //alert('test');
          //  $('#headerdiv').load('DashboardSite.Master');
        //}
        //$(document).ready(function () {

        //});
        </script>
    -->
    <meta http-equiv="CACHE-CONTROL" content="NO-CACHE" />
    <!--
        function timedRefresh(timeoutPeriod) {
            //setTimeout("location.reload(true);", timeoutPeriod);
            setTimeout("window.location.href=window.location.href;", timeoutPeriod);
        }

//   -->
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
    <%-- <script type='text/javascript' src='http://code.jquery.com/jquery-1.8.3.js'></script>--%>
  <%--  <script src="../js/jquery-1.8.2.min.js" type="text/javascript"></script>--%>
  <script src="../js/jquery-1.9.1.js" type="text/javascript"></script>
    <link href="css/jquery.contextMenu.css" rel="stylesheet" type="text/css" />
    <link href="css/screen.css" rel="stylesheet" type="text/css" />
    <link href="css/prettify.sunburst.css" rel="stylesheet" type="text/css" />
    <script language="javascript" type="text/javascript">
        var num = 94;
        $(window).bind('scroll', function () {
            if ($(window).scrollTop() > num) {
                $('.menumd').addClass('fixedmd');
            } else {
                $('.menumd').removeClass('fixedmd');
            }
        });
        function OnKeyDown() {
            var keyCode = window.event.keyCode;
            if (keyCode == 13)
                goButton.DoClick();
        }
        function OnKeyDown2(s, e) {
            var keyCode = window.event.keyCode;
            if (keyCode == 13)
                SearchRptButton.DoClick();
           }
           //08/06/2016 sowmya added for VSPLUS-2880

           var nav = window.Event ? true : false;
           if (nav) {
           	window.captureEvents(Event.KEYDOWN);
           	window.onkeydown = NetscapeEventHandler_KeyDown;
           } else {
           	document.onkeydown = MicrosoftEventHandler_KeyDown;
           }

           function NetscapeEventHandler_KeyDown(e) {

           	if (e.which == 13 && e.target.id != 'SearchTextBox' && e.target.type != 'submit') {
           		return false;
           	}
           	return true;
           }

           function MicrosoftEventHandler_KeyDown() {
           	if (event.keyCode == 13 && event.srcElement.id != 'SearchTextBox' &&
            event.srcElement.type != 'submit')
           		return false;
           	return true;
           }
    </script>
	
    <style type="text/css">
        .menumd
        {
            /*height: 2em;*/ /*position: absolute;*/
            position: relative; /*top: 94px;*/
            width: 100%;
            background-color: #444;
            z-index: 1000;
        }
        .fixedmd
        {
            position: fixed;
            top: 0;
        }
        .dxpnl-expanded
        {
            position: static !important;
        }
        .dxpnlControl.dxpnl-bar
        {
            padding: 4px !important;
        }
        .dx-wrap
        {
            text-decoration: none !important;
        }
        input {  outline: none }
input.srchcustom[type="text"] {
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	background: white;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	height: 20px;
	border: 1px solid rgba(0,0,0,0.2);
	width: 170px;
	padding: 3px 23px 3px 8px;
	margin-bottom: 0px;
	position: relative;
}

input.srchcustom[type="reset"] {
	background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAMAAAAolt3jAAAAGFBMVEUAAAC/v7+/v7+/v7+/v7+/v7+/v7+/v7+hAPa4AAAAB3RSTlMAQNCwkKDgPaU3lgAAAEZJREFUeNplj9EKACAIA2dm+/8/bkj4sI6wDsIpRCRFBprNxx4bD12LrwRSDxRZkCcoCqVDIW1v+9Q+W6sOOhNkY9iQtsIFhO0DtcbsWN0AAAAASUVORK5CYII=');
	width: 14px;
	height: 14px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	border: 0;
	text-indent: -999px;
	position: absolute;
	left: 180px;
	top: 7px;
	cursor: pointer;
	line-height: normal;
}

input.srchcustom[type="text"]:invalid {
	outline: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	background: white url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAMAAABhq6zVAAAAIVBMVEW/v7+/v78AAAC/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v79QUkolAAAAC3RSTlOLYAAJeoMjRhpOcbsbtd4AAABJSURBVHjaVc1JDsAgDATB9uAF8v8Hx0QcSN9KssZI5eClDj18PRsFlmlQDcfUGd6A3EgYP1xncQ+sa5qYOk9jRQt1Y0izhU5bL2o2AW3ZQKeJAAAAAElFTkSuQmCC) 10px 6px no-repeat;
}
input.srchcustom[type="text"]:invalid + input[type="reset"] {
	visibility:hidden;
}
table.tblheader
        {
            background-color: #045FB4;
            border: 0px;
        }
        table.mainheader
        {
            width: 100%;
            border-collapse: collapse; 
            background-color: #444;
        }
        td.maintd
        {
             background-color: #045FB4; 
             padding-left: 100px;
             text-align: left;
        }
        a.tooltipH {outline:none; }
a.tooltipH strong {line-height:30px;}
a.tooltipH:hover {text-decoration:none;} 
a.tooltipH span {
    z-index:10;display:none; padding:8px 6px;
    margin-top:-5px; margin-left:40px;
    width:180px; line-height:12px;
}
a.tooltipH:hover span{
    display:inline; position:absolute; color:#111;
    border:1px solid #DCA; background:#fffAF0;}
.callout {z-index:20;position:absolute;top:12px;border:0;left:-12px;}
    
/*CSS3 extras*/
a.tooltipH span
{
    border-radius:4px;
    /*box-shadow: 5px 5px 8px #CCC;*/
}

    </style>
    <!-- Mukund 17Apr14, for filter box tooltips -->
    <link type="text/css" rel="stylesheet" href="tooltip/jquery.qtip.css" />
    
</head>
<body id="Body1" runat="server">
    <form id="form1" runat="server">
    <asp:ScriptManager ID="ScriptManager1" runat="server" EnablePageMethods="true">
    </asp:ScriptManager>
    <div class="wrapper" id="wrapdiv" runat="server">
        <div id="headerdiv" style="background-color: #444">
            <table class="mainheader">
                <tr>
                    <td class="maintd">
                        <table class="tblheader">
                            <tr>
                                <td colspan="5">
                                </td>
                            </tr>
                            <tr>
                                <td rowspan="2" align="right" valign="top">
                                    <div class="HeaderLabel">
                                        VitalSigns</div>
                                    <div class="SubHeaderLabel">
                                        Executive Dashboard</div>
                                </td>
                                <td rowspan="2">
                                    &nbsp;
                                </td>
                                <td rowspan="2" valign="middle">
                                    <asp:Timer ID="timer1" runat="server" OnTick="timer1_Tick">
                                    </asp:Timer>
                                    <asp:UpdatePanel ID="updatepan1" runat="server">
                                        <ContentTemplate>
                                            <uc1:StatusBoxHeader ID="StatusBox1" runat="server" Button1CssClass="button1" Button1Link="~/Dashboard/DeviceTypeList.aspx?status=Not Responding"
                                                Button2CssClass="button2" Button2Link="~/Dashboard/DeviceTypeList.aspx?status=OK"
                                                Button3CssClass="button3" Button3Link="~/Dashboard/DeviceTypeList.aspx?status=Issue"
                                                Button4CssClass="button4" Button4Link="~/Dashboard/DeviceTypeList.aspx?status=Maintenance"
                                                ButtonCssClass="button" Height="100%" Label11CssClass="label11" Label11Text="20"
                                                Label12CssClass="label12" Label12Text="Not Responding" Label21CssClass="label11"
                                                Label21Text="10" Label22CssClass="label12" Label22Text="No Issues" Label31CssClass="label41"
                                                Label31Text="3" Label32CssClass="label42" Label32Text="Issues" Label41CssClass="label11"
                                                Label41Text="4" Label42CssClass="label12" Label42Text="In Maintenance" Width="300px" Visible="false" />
                                            <table style="border: 1px; border-collapse: separate; border-spacing: 2px;">
                                                <tr>
                                                    <td>
                                                        <a href="#" class="tooltipH">
                                                            <input type="button" id="NRBtn" class="redheaderButton" value="&nbsp;" runat="server" onclick="location.href = '../Dashboard/DeviceTypeList.aspx?status=Not Responding'" />  
                                                            <span id="NRLabel" runat="server">                    
                                                            </span>
                                                        </a>
                                                    </td>
                                                    <td>
                                                        <a href="#" class="tooltipH">
                                                            <input type="button" id="OKBtn" class="greenheaderButton" value="&nbsp;" runat="server" onclick="location.href = '../Dashboard/DeviceTypeList.aspx?status=OK'" />
                                                            <span id="OKLabel" runat="server">
                                                            </span>
                                                        </a>
                                                    </td>
                                                    <td>
                                                        <a href="#" class="tooltipH">
                                                            <input type="button" id="IBtn" class="yellowheaderButton" value="&nbsp;" runat="server" onclick="location.href = '../Dashboard/DeviceTypeList.aspx?status=Issue'" />
                                                            <span id="ILabel" runat="server">                    
                                                            </span>
                                                        </a>
                                                    </td>
                                                    <td>
                                                        <a href="#" class="tooltipH">
                                                            <input type="button" id="MBtn" class="grayheaderButton" value="&nbsp;" runat="server" onclick="location.href = '../Dashboard/DeviceTypeList.aspx?status=Maintenance'" />
                                                            <span id="MLabel" runat="server">                    
                                                            </span>
                                                        </a>
                                                    </td>
                                                </tr>
                                            </table>
                                        </ContentTemplate>
                                        <Triggers>
                                            <asp:AsyncPostBackTrigger ControlID="timer1" EventName="Tick" />
                                        </Triggers>
                                    </asp:UpdatePanel>
                                </td>
                                <td rowspan="2">
                                    &nbsp;
                                </td>
                                <td rowspan="2">
                                    &nbsp;
                                </td>
                            </tr>
                            <tr>
                                <td style="padding: 1px;" valign="middle">
                                    <div style="position: relative;">
                                    <input type="text" class="srchcustom" id="SearchTextBox" runat="server" onkeydown="OnKeyDown()">
		                            <input type="reset" class="srchcustom" value="x">
                                    </div>
                                </td>
                                <td style="padding: 1px;" valign="middle">
                                    <asp:TextBox ID="SearchTextBox1" runat="server" Width="250px" ToolTip="Test Search" Visible="false"></asp:TextBox>
                                </td>
                                <td valign="middle">
                                    <dx:ASPxButton ID="ASPxButton1" ClientInstanceName="goButton" ClientVisible="false" runat="server" BackColor="Transparent" OnClick="ASPxButton1_Click"
                                        Height="40px" Width="40px">
                                        <BackgroundImage ImageUrl="~/images/zoom.png" Repeat="NoRepeat" />
                                        <Border BorderWidth="0px" />
                                    </dx:ASPxButton>
                                </td>
                                <td valign="top">
                                    &nbsp;
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                </td>
                            </tr>
                        </table>
                        <script>
                            //To avoid changing values in the Textbox by Mouse Scrolling
                            ASPxClientTextEdit.prototype.OnMouseWheel = function () { };
                        </script>
                    </td>
                    <td style="background-color: #045FB4; padding-right: 10px; padding-top: 10px;" align="right"
                        valign="top">
                        <div class="SubHeaderLabelSmall">
                            Welcome <span id="nameAndLogoutButton" runat="server">
                                <asp:Label ID="UserFullNameLabel" runat="server"></asp:Label>
                                <asp:LinkButton Visible="false"
                                    ID="LogoutLinkButton" runat="server" CssClass="styleone" OnClick="LogoutLinkButton_Click"
                                    CausesValidation="False">Logout</asp:LinkButton>
                                <br />
                            </span>
                            <img id="logo" runat="server" class="logoimg" style="width: 150px; height: 45px;"
                                visible="true" alt="" />
                        </div>
                    </td>
                    <td style="background-color: #045FB4; padding-right: 10px; padding-top: 10px;" align="right"
                        valign="top">
                                    <table>
                                        <tr>
                                            <td>
                                                <dx:ASPxMenu ID="ASPxMenu3" runat="server" ShowAsToolbar="True" 
                            Theme="Moderno">
                                <Items>
                        <dx:MenuItem Name="MainItem">
                            <Items>
                                <dx:MenuItem NavigateUrl="~/Security/MyAccount.aspx?dboard=true" Text="Account Details"
                                        Target="_self">
                                    </dx:MenuItem>
                                <dx:MenuItem NavigateUrl="~/Login.aspx" Text="Logout" BeginGroup="True">
                                    </dx:MenuItem>
                            </Items>
                            <Image Url="~/images/icons/user.png">
                            </Image>
                        </dx:MenuItem>
                    </Items>
                                    </dx:ASPxMenu>
                                            </td>
                                            <td>
                                                <dx:ASPxMenu ID="ASPxMenu2" runat="server" ShowAsToolbar="True" 
                            Theme="Moderno" onitemclick="ASPxMenu2_ItemClick">
                            <Items>
                        <dx:MenuItem Name="MainItem">
                            <Items>
                                <dx:MenuItem Name="HelpItem" Text="About VitalSigns">
                                </dx:MenuItem>
                            </Items>
                            <Image Url="~/images/icons/information.png">
                            </Image>
                        </dx:MenuItem>
                    </Items>
                        </dx:ASPxMenu>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                </tr>
            </table>
            <asp:UpdatePanel ID="UpdatePanel4" runat="server">
                <ContentTemplate>
                    <div class="sysmsg" runat="server" id="sysmsgDivMain" style="display: none">
                        <div style="display: inline-block">
                            <span id="sysmsgDiv" runat="server"></span>
                        </div>
                        <div style="display: inline-block">
                            <dx:ASPxButton ID="DismissButton" runat="server" Text="dismiss" CssClass="sysButton">
                            </dx:ASPxButton>
                        </div>
                    </div>
                </ContentTemplate>
            </asp:UpdatePanel>
        </div>
        <div class="menumd">
            <table width="100%" style="background-color: AliceBlue">
                <tr>
                    <td width="4px">
                        &nbsp;
                    </td>
                    <td>
                        <dx:ASPxPanel ID="TopPanel" runat="server" FixedPosition="None" ClientInstanceName="topPanel"
                            Collapsible="true">
                            <SettingsAdaptivity CollapseAtWindowInnerWidth="900" />
                            <SettingsCollapsing ExpandEffect="PopupToTop" AnimationType="Slide" ExpandButton-GlyphType="Strips">
                                <ExpandButton GlyphType="Strips"></ExpandButton>
                            </SettingsCollapsing>
                            <PanelCollection>
                                <dx:PanelContent ID="PanelContent1" runat="server" SupportsDisabledAttribute="True">
                                    <dx:ASPxMenu ID="ASPxMenu1" runat="server" AutoSeparators="RootOnly" EnableTheming="True"
                                        Theme="Moderno" Visible="true" BorderBetweenItemAndSubMenu="HideRootOnly">
                                        <Items>
                                            <dx:MenuItem Text="Overall Health">
                                                <Items>
                                                    <dx:MenuItem Text="Overview" NavigateUrl="~/Dashboard/OverallHealth1.aspx" Target="_self">
                                                        <Image Url="images/icons/dash.png">
                                                        </Image>
                                                    </dx:MenuItem>
                                                    <dx:MenuItem Text="Executive Summary" NavigateUrl="~/Dashboard/SummaryLandscape.aspx"
                                                        Target="_self" BeginGroup="True">
                                                        <Image Url="images/icons/dash.png">
                                                        </Image>
                                                    </dx:MenuItem>
                                                    <dx:MenuItem Text="EXJournal Summary" NavigateUrl="~/Dashboard/SummaryEXJournal.aspx"
                                                        Target="_self" BeginGroup="True">
                                                        <Image Url="images/icons/dash.png">
                                                        </Image>
                                                    </dx:MenuItem>
                                                    <dx:MenuItem Text="Mail Delivery Status" NavigateUrl="~/Dashboard/MailDeliveryStatus.aspx"
                                                        Target="_self" BeginGroup="True">
                                                        <Image Url="images/icons/dash.png">
                                                        </Image>
                                                    </dx:MenuItem>
                                                    <dx:MenuItem Text="Status List" NavigateUrl="~/Dashboard/DeviceTypeList.aspx" Target="_self"
                                                        BeginGroup="True">
                                                        <Image Url="images/icons/detail_list.png">
                                                        </Image>
                                                    </dx:MenuItem>
                                                </Items>
                                            </dx:MenuItem>
                                            <dx:MenuItem Text="Server Health">
                                                <Items>
                                                    <dx:MenuItem Text="Domino Health" NavigateUrl="~/Dashboard/DominoServerHealthPage.aspx"
                                                        Target="_self">
                                                        <Image Url="images/icons/dominoserver.gif">
                                                        </Image>
                                                    </dx:MenuItem>
                                                    <dx:MenuItem Text="Traveler Health" NavigateUrl="~/Dashboard/TravelerUsersDevicesOS.aspx"
                                                        Target="_self" BeginGroup="True">
                                                        <Image Url="images/icons/traveler-icon.png">
                                                        </Image>
                                                    </dx:MenuItem>
                                                    <dx:MenuItem Text="Quickr Health" NavigateUrl="~/Dashboard/QuickrHealth.aspx" Target="_self"
                                                        BeginGroup="True">
                                                        <Image Url="images/icons/quickr.gif">
                                                        </Image>
                                                    </dx:MenuItem>
                                                    <dx:MenuItem Text="Sametime Server Health" NavigateUrl="~/Dashboard/SametimeHealth.aspx"
                                                        Target="_self" BeginGroup="True">
                                                        <Image Url="images/icons/sametime.gif">
                                                        </Image>
                                                    </dx:MenuItem>
                                                    <dx:MenuItem Text="Exchange Server Health" NavigateUrl="~/Dashboard/ExchangeHealth.aspx"
                                                        Target="_self" BeginGroup="True">
                                                        <Image Url="images/icons/exchange.jpg">
                                                        </Image>
                                                    </dx:MenuItem>
                                                    <dx:MenuItem Text="Server Days Up" NavigateUrl="~/Dashboard/ServerDaysUp.aspx" Target="_self"
                                                        BeginGroup="True">
                                                        <Image Url="images/icons/dominoserver.gif">
                                                        </Image>
                                                    </dx:MenuItem>
                                                    <dx:MenuItem Text="Alerts History" NavigateUrl="~/Dashboard/OverallServerAlerts.aspx"
                                                        Target="_self" BeginGroup="True">
                                                        <Image Url="images/icons/error.png">
                                                        </Image>
                                                    </dx:MenuItem>
                                                </Items>
                                            </dx:MenuItem>
                                            <dx:MenuItem Text="Key Metrics">
                                                <Items>
                                                    <dx:MenuItem Text="Mobile Users" NavigateUrl="~/Dashboard/MobileUsers.aspx" Target="_self">
                                                        <Image Url="images/icons/group.png">
                                                        </Image>
                                                    </dx:MenuItem>
                                                    <dx:MenuItem Text="Disk Health" NavigateUrl="~/Dashboard/DiskHealth.aspx" Target="_self"
                                                        BeginGroup="True">
                                                        <Image Url="images/icons/network.gif">
                                                        </Image>
                                                    </dx:MenuItem>
                                                    <dx:MenuItem Text="Mail Health" NavigateUrl="~/Dashboard/MailHealth.aspx" Target="_self"
                                                        BeginGroup="True">
                                                        <Image Url="images/icons/email.png">
                                                        </Image>
                                                    </dx:MenuItem>
                                                    <dx:MenuItem Text="Cluster Health" NavigateUrl="~/Dashboard/ClusterHealth.aspx" Target="_self"
                                                        BeginGroup="True">
                                                        <Image Url="images/icons/cluster.gif">
                                                        </Image>
                                                    </dx:MenuItem>
                                                    <dx:MenuItem Text="URL Health" NavigateUrl="~/Dashboard/URLHealth.aspx" Target="_self"
                                                        BeginGroup="True">
                                                        <Image Url="images/icons/url.gif">
                                                        </Image>
                                                    </dx:MenuItem>
                                                    <dx:MenuItem Text="User Counts" NavigateUrl="~/Dashboard/UserCount.aspx" Target="_self"
                                                        BeginGroup="True">
                                                        <Image Url="images/icons/group.png">
                                                        </Image>
                                                    </dx:MenuItem>
                                                    <dx:MenuItem Text="Response Time" NavigateUrl="~/Dashboard/ResponseTime.aspx" Target="_self"
                                                        BeginGroup="True">
                                                        <Image Url="images/icons/chart_line.png">
                                                        </Image>
                                                    </dx:MenuItem>
                                                    <dx:MenuItem Text="Maintenance Windows" NavigateUrl="~/Dashboard/ServerMaintenanceList.aspx"
                                                        Target="_self" BeginGroup="True">
                                                        <Image Url="images/icons/information.png">
                                                        </Image>
                                                    </dx:MenuItem>
                                                    <dx:MenuItem Text="Overall Statistics" NavigateUrl="~/Dashboard/OverallServerStats.aspx"
                                                        Target="_self" BeginGroup="True">
                                                        <Image Url="images/icons/chart_line.png">
                                                        </Image>
                                                    </dx:MenuItem>
                                                </Items>
                                            </dx:MenuItem>
                                            <dx:MenuItem Text="Database List">
                                                <Items>
                                                    <dx:MenuItem Text="All Databases" NavigateUrl="~/Dashboard/MonitoredDB.aspx" Target="_self">
                                                        <Image Url="images/icons/detail_list.png">
                                                        </Image>
                                                    </dx:MenuItem>
                                                    <dx:MenuItem Text="By Template" NavigateUrl="~/Dashboard/DBsByTemplate.aspx" Target="_self"
                                                        BeginGroup="True">
                                                        <Image Url="images/icons/detail_list.png">
                                                        </Image>
                                                    </dx:MenuItem>
                                                    <dx:MenuItem Text="Problems" NavigateUrl="~/Dashboard/Problems.aspx" Target="_self"
                                                        BeginGroup="True">
                                                        <Image Url="images/icons/exclamation.png">
                                                        </Image>
                                                    </dx:MenuItem>
                                                    <%--  <dx:MenuItem Text="Directory Health" NavigateUrl="~/Dashboard/OverallHealth1.aspx"
                                            Target="_self">
                                            <Image Url="images/icons/nab.gif">
                                            </Image>
                                        </dx:MenuItem>--%>
                                                </Items>
                                            </dx:MenuItem>
                                            <dx:MenuItem Text="Mail Files">
                                                <Items>
                                                    <dx:MenuItem Text="Alphabetical Order" NavigateUrl="~/Dashboard/MailFiles.aspx?MItem=1"
                                                        Target="_self">
                                                        <Image Url="images/icons/email.png">
                                                        </Image>
                                                    </dx:MenuItem>
                                                    <dx:MenuItem Text="Biggest Mail Files" NavigateUrl="~/Dashboard/BiggestMailFiles.aspx"
                                                        Target="_self" BeginGroup="True">
                                                        <Image Url="images/icons/email.png">
                                                        </Image>
                                                    </dx:MenuItem>
                                                    <dx:MenuItem Text="By Inbox Count" NavigateUrl="~/Dashboard/MailFiles.aspx?MItem=2"
                                                        Visible="false" Target="_self" BeginGroup="True">
                                                        <Image Url="images/icons/email.png">
                                                        </Image>
                                                    </dx:MenuItem>
                                                    <dx:MenuItem Text="By Mail Template" NavigateUrl="~/Dashboard/MailFiles.aspx?MItem=4"
                                                        Target="_self" BeginGroup="True">
                                                        <Image Url="images/icons/email.png">
                                                        </Image>
                                                    </dx:MenuItem>
                                                    <dx:MenuItem Text="By Percent of Quota" NavigateUrl="~/Dashboard/MailFiles.aspx?MItem=3"
                                                        Target="_self" BeginGroup="True">
                                                        <Image Url="images/icons/exclamation.png">
                                                        </Image>
                                                    </dx:MenuItem>
                                                    <dx:MenuItem Text="Overall Mail Statistics" NavigateUrl="~/Dashboard/OverallMailStats.aspx"
                                                        Target="_self" BeginGroup="True">
                                                        <Image Url="images/icons/chart_line.png">
                                                        </Image>
                                                    </dx:MenuItem>
                                                </Items>
                                            </dx:MenuItem>
                                            <dx:MenuItem Text="Reports" NavigateUrl="~/Configurator/Reports.aspx?M=d">
                                            </dx:MenuItem>
                                            <dx:MenuItem Name="dashboard" Text="Configurator" NavigateUrl="~/Configurator/Default.aspx"
                                                Target="_self" Visible="false">
                                            </dx:MenuItem>
                                            <dx:MenuItem Text="My Account">
                                                <Items>
                                                    <dx:MenuItem NavigateUrl="~/Security/MyAccount.aspx?dboard=true" Text="  Account Details"
                                                        Target="_self">
                                                    </dx:MenuItem>
                                                    <dx:MenuItem NavigateUrl="~/Dashboard/MyCustomPages.aspx" Text="  My Custom Pages"
                                                        Target="_self" BeginGroup="True">
                                                    </dx:MenuItem>
                                                    <dx:MenuItem NavigateUrl="~/Login.aspx" Text="  Logout" BeginGroup="True">
                                                    </dx:MenuItem>
                                                </Items>
                                            </dx:MenuItem>
                                            <dx:MenuItem Text="Login" Visible="false">
                                                <Items>
                                                    <dx:MenuItem NavigateUrl="~/Login.aspx" Text="Login">
                                                    </dx:MenuItem>
                                                </Items>
                                            </dx:MenuItem>
                                        </Items>
                                        <SubMenuStyle ItemSpacing="0px" SeparatorColor="Transparent">
                                            <SeparatorBackgroundImage Repeat="NoRepeat" />
                                        </SubMenuStyle>
                                        <Border BorderStyle="None" />
                                    </dx:ASPxMenu>
                                </dx:PanelContent>
                            </PanelCollection>
                            <ExpandBarTemplate>
                            </ExpandBarTemplate>
                            <ExpandedPanelTemplate>
                                <dx:ASPxMenu ID="menu" runat="server" AutoSeparators="RootOnly" EnableTheming="True"
                                    Theme="Moderno" BorderBetweenItemAndSubMenu="HideRootOnly" Orientation="Vertical"
                                    OnInit="menu_Init">
                                    <SubMenuStyle ItemSpacing="0px" SeparatorColor="Transparent">
                                        <SeparatorBackgroundImage Repeat="NoRepeat" />
                                    </SubMenuStyle>
                                    <Border BorderStyle="None" />
                                </dx:ASPxMenu>
                            </ExpandedPanelTemplate>
                        </dx:ASPxPanel>
                    </td>
                    <%--<td align="left">
					<asp:LinkButton runat="server" PostBackUrl="~/Login.aspx" Text="Click here to Login." ID="lblReturnToLogin" Visible="false"></asp:LinkButton>
					</td>--%>
                    <td class="menu" valign="top">
                    <div style="padding-top: 1px;">
                    <dx:ASPxButton ID="ASPxButton2" runat="server" 
                        Text="test" CssClass="greenButton" 
                EncodeHtml="False" ImagePosition="Right" onclick="ASPxButton2_Click">
                
            </dx:ASPxButton> </div>
                        <div style="float: right; padding-right: 10px; padding-top: 2px; height: 29px; display:none;">
                            <asp:Image ID="Vslogo" runat="server" ImageUrl="~/images/menulogo.png" />
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div id="maindiv">
           <asp:UpdatePanel ID="UpdatePanel1" runat="server" UpdateMode="Conditional">
                            <Triggers>
                                <asp:AsyncPostBackTrigger ControlID="SearchRptButton" />
                                <asp:AsyncPostBackTrigger ControlID="ClearRptButton" />
                            </Triggers>
                            <ContentTemplate>
            <table width="100%">
            
                <tr>
                    <td valign="top">
                        <table>
                            <tr>
                               
                               <%-- <td valign="top">
                                    <div id="displaydiv" class="alert alert-danger" runat="server" style="visibility: hidden">
                                        No records</div>
                                </td>--%>
                                
                            </tr>
                            <tr>
                                <td>
                                    <table>
                                        <tr>
                                            <td>
                                                <dx:ASPxButton ID="SearchRptButton" ClientInstanceName="SearchRptButton" runat="server" Text="Search" CssClass="sysButton"
                                                    AutoPostBack="true" OnClick="SearchRptButton_Click">
                                                </dx:ASPxButton>
                                            </td>
                                            <td>
                                                <dx:ASPxButton ID="ClearRptButton" runat="server" Text="Clear" CssClass="sysButton"
                                                    OnClick="ClearRptButton_Click">
                                                </dx:ASPxButton>
                                            </td>
                                            <td>
                                                &nbsp;
                                            </td>
                                            <td>
                                                <dx:ASPxButton ID="SchedRptButton" runat="server" Text="Schedule" ClientInstanceName="SchedRptButton"
                                                    CssClass="sysButton" OnClick="SchedRptButton_Click">
                                                </dx:ASPxButton>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="3">
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <dx:ASPxLabel ID="ASPxLabel1" runat="server" Text="Enter text to search the report list:"
                                        CssClass="lblsmallFont">
                                    </dx:ASPxLabel>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                 <dx:ASPxTextBox ID="SearchRptTextBox" runat="server" Width="198px">
                                    <ClientSideEvents KeyDown="function(s, e) {OnKeyDown2(s, e);}" />
                                            </dx:ASPxTextBox>
                                    <%--<asp:UpdatePanel ID="UpdatePanel2" runat="server" UpdateMode="Conditional">
                                        <Triggers>
                                            <asp:AsyncPostBackTrigger ControlID="ClearRptButton" />
                                        </Triggers>
                                        <ContentTemplate>
                                           
                                        </ContentTemplate>
                                    </asp:UpdatePanel>--%>
                                </td>
                            </tr>
                            <tr><td align="center">
                                    <dx:ASPxLabel runat="server" ID="lblerror" Text="No reports found." Visible="false"
                                        ForeColor="Red" Font-Bold="true" ClientInstanceName="lblerror">
                                    </dx:ASPxLabel>
                                </td></tr>
                        </table>
                        <br />
                        <table>
                            <tr>
                                <td>
                                    <dx:ASPxNavBar EnableTheming="False" ID="ReportsMenu" runat="server" EnableViewState="False"
                                        Width="220px" EnableAnimation="True" BackColor="Transparent" AutoCollapse="True">
                                        <ItemStyle HorizontalAlign="Left" Wrap="True" CssClass="lblsmallFont" VerticalAlign="Middle"
                                            BackColor="Transparent">
                                            <Paddings PaddingTop="0px" PaddingRight="5px" PaddingBottom="0px" PaddingLeft="0px">
                                            </Paddings>
                                            <HoverStyle BackColor="#E0EEFE" ForeColor="#1473D2">
                                                <Border BorderWidth="0px"></Border>
                                            </HoverStyle>
                                            <SelectedStyle BackColor="#AEAFB0" ForeColor="White">
                                                <Border BorderWidth="0px"></Border>
                                            </SelectedStyle>
                                        </ItemStyle>
                                        <GroupHeaderStyleCollapsed HorizontalAlign="Left">
                                            <BorderBottom BorderStyle="Solid"></BorderBottom>
                                        </GroupHeaderStyleCollapsed>
                                        <GroupHeaderStyle BackColor="#587EC4" ForeColor="White" HorizontalAlign="Left">
                                            <Paddings PaddingTop="4px" PaddingRight="9px" PaddingBottom="5px" PaddingLeft="12px">
                                            </Paddings>
                                            <BorderBottom BorderStyle="None"></BorderBottom>
                                            <Border BorderColor="#C9C9C9"></Border>
                                        </GroupHeaderStyle>
                                        <LinkStyle Color="#0033CC">
                                        </LinkStyle>
                                        <BackgroundImage Repeat="NoRepeat"></BackgroundImage>
                                        <ExpandImage Url="~/images/icons/nbExpand.gif" Height="13px" Width="13px">
                                        </ExpandImage>
                                        <CollapseImage Url="~/images/icons/nbCollapse.gif" Height="13px" Width="13px">
                                        </CollapseImage>
                                        <GroupContentStyle BackColor="Transparent" ForeColor="#1473D2" HorizontalAlign="Left">
                                            <Paddings PaddingTop="13px" Padding="1px" PaddingBottom="20px" PaddingLeft="15px">
                                            </Paddings>
                                            <Border BorderColor="#C9C9C9"></Border>
                                        </GroupContentStyle>
                                    </dx:ASPxNavBar>
                                </td>
                            </tr>
                        </table>
                      
                                
                           
                    </td>
                    <td valign="top">
                        <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
                        </asp:ContentPlaceHolder>
                    </td>
                </tr>
            </table>
             </ContentTemplate>
                        </asp:UpdatePanel>
            <dx:ASPxPopupControl ID="ASPxPopupControl1" runat="server" 
                HeaderText="About VitalSigns" PopupHorizontalAlign="WindowCenter" 
                PopupVerticalAlign="WindowCenter" Theme="Moderno" Width="700px">
                <ContentCollection>
<dx:PopupControlContentControl ID="PopupControlContentControl1" runat="server">
    <table class="navbarTbl">
        <tr>
            <td>
                <div class="subheadergreen" id="lblVersion" runat="server">
                    VSx.x_SPRT_xx_RCxx
                </div>    
            </td>
        </tr>
        <tr>
            <td>
                <dx1:ASPxGridView ID="AssemblyGridView" runat="server" EnableTheming="True" 
                    Theme="Office2003Blue" 
                    Width="100%">
                    <SettingsBehavior AutoExpandAllGroups="True" ColumnResizeMode="NextColumn" 
                        ProcessSelectionChangedOnServer="True" />
                    <SettingsPager Mode="ShowAllRecords" SEOFriendly="Enabled" Visible="False">
                        <PageSizeItemSettings Visible="True">
                        </PageSizeItemSettings>
                    </SettingsPager>
                    <Settings ShowGroupPanel="True" />
                    <SettingsText ConfirmDelete="Are you sure you want to delete this server?" />
                    <Styles>
                        <AlternatingRow CssClass="GridAltRow" Enabled="True">
                        </AlternatingRow>
                        <Header ImageSpacing="5px" SortingImageSpacing="5px">
                        </Header>
                        <LoadingPanel ImageSpacing="5px">
                        </LoadingPanel>
                    </Styles>
                    <StylesPager>
                        <PageNumber ForeColor="#3E4846">
                        </PageNumber>
                        <Summary ForeColor="#1E395B">
                        </Summary>
                    </StylesPager>
                    <StylesEditors ButtonEditCellSpacing="0">
                        <ProgressBar Height="21px">
                        </ProgressBar>
                    </StylesEditors>
                    <Templates>
                        <GroupRowContent>
                            <%# Container.GroupText%>
                        </GroupRowContent>
                    </Templates>
                </dx1:ASPxGridView>
            </td>
        </tr>
        <tr>
            <td>
                &nbsp;</td>
        </tr>
    </table>
                    </dx:PopupControlContentControl>
</ContentCollection>
            </dx:ASPxPopupControl>
        </div>
    </div>
    <div class="footer" style="background-color: #C9D0E0;">
        <div id="leftnav">
            <p class="two">
                Copyright
                <script language="JavaScript" type="text/javascript">
                    now = new Date
                    theYear = now.getYear()
                    if (theYear < 1900)
                        theYear = theYear + 1900
                    document.write(theYear)
                </script>
                , RPR Wyatt, Inc. All rights reserved.</p>
        </div>
        <div id="rightnav">
            &nbsp;</div>
    </div>
    <%--<td align="left">
					<asp:LinkButton runat="server" PostBackUrl="~/Login.aspx" Text="Click here to Login." ID="lblReturnToLogin" Visible="false"></asp:LinkButton>
					</td>--%>
    <%--<div id="holder">--%>
	<!-- Sowjanya 2/2/16, for VSPLUS-2463 -->
  
    <!-- jQuery FIRST i.e. before qTip (and all other scripts too usually) -->
    <script type="text/javascript" src="../tooltip/jquery.qtip.min.js"></script>
    <!-- Include either the minifed or production version, NOT both!! -->
    <script type="text/javascript" src="../tooltip/jquery.qtip.js"></script>
    <!-- Optional: imagesLoaded script to better support images inside your tooltips -->
    <script type="text/javascript" src="../tooltip/imagesloaded.pkg.min.js"></script>
    <!-------------------------------------------->
    <script type="text/javascript" language="javascript">
        var inputs = document.getElementsByTagName("input");
        // alert(inputs[0].id.indexOf("DXFREditor"));
        for (var i = 0; i < inputs.length; i++) {
            if (inputs[i].id.indexOf("DXFREditor") >= 0)
            //document.getElementById(inputs[i].id).setAttribute('title', 'Enter some text and press return to limit the the rows displayed below to those containing the text you entered.  Remove the text to show all rows.');
                $(document.getElementById(inputs[i].id)).qtip({
                    content: 'Enter some text and press return to limit the the rows displayed below to those containing the text you entered.  Remove the text to show all rows.',
                    position: {
                        my: 'top left',  // Position my top left...
                        at: 'bottom center'
                    }
                });
        }
    </script>
    <script type="text/javascript"></script>

	
    <script type="text/javascript" language="javascript">
        $('[title]').qtip();
        //4/23/2014 NS added per Mukund's recommendation to fix the issue in reports - disabled action buttons
        function setDivs() { };


        //VSPLUS-965: Menu wrap issue for small screens
        //-----------------------------------------------

        var w = window.innerWidth;

        //var m1 = document.getElementById("menu").offsetWidth;

        var diff = w - 116;
        // alert(diff);
        var inputs1 = document.getElementsByTagName("li");
        for (var i = 0; i < inputs1.length; i++) {

            if (inputs1[i].id.indexOf("menu_DXI") == 0) {

                var m3 = document.getElementById(inputs1[i].id);
                // alert(m2);
                if (diff <= 1250) {
                    //m2.className = "menu1linew";
                    m3.className = m3.className.replace
      (/(?:^|\s)menu1li(?!\S)/g, '');
                    m3.className += " menu1linew";
                }
                else {
                    //m2.className = "menu1li";
                    m3.className = m3.className.replace
      (/(?:^|\s)menu1linew(?!\S)/g, '');
                    m3.className += " menu1li";
                }

            }
        }
        var inputs = document.getElementsByTagName("div");
        for (var i = 0; i < inputs.length; i++) {

            if (inputs[i].id.indexOf("menu_DXI") == 0) {

                var m2 = document.getElementById(inputs[i].id);
                // alert(m2);
                if (diff <= 1250) {
                    //m2.className = "menu1linew";
                    m2.className = m2.className.replace
      (/(?:^|\s)menu1li(?!\S)/g, '');
                    m2.className += " menu1linew";
                }
                else {
                    //m2.className = "menu1li";
                    m2.className = m2.className.replace
      (/(?:^|\s)menu1linew(?!\S)/g, '');
                    m2.className += " menu1li";
                }

            }

        }

        //-----------------------------------------------

    </script>
	
    </form>
</body>
</html>
