<div class="col-xs-12">
    <button class="btn btn-primary" (click)="moreDetails()">More Details</button>
    <wj-flex-grid [itemsSource]="data" selectionMode="Row" [isReadOnly]="true" id="flex" headersVisibility="Column" 
                  (itemsSourceChanged)="itemsSourceChangedHandler()" (dblclick)="moreDetails()" #flex>
        <wj-flex-grid-filter></wj-flex-grid-filter>
        <wj-flex-grid-column [header]="'Script'" [binding]="'script_name'"></wj-flex-grid-column>
        <wj-flex-grid-column [header]="'Device Type'" [binding]="'device_type'"></wj-flex-grid-column>
        <wj-flex-grid-column [header]="'User'" [binding]="'user_name'"></wj-flex-grid-column>
        <wj-flex-grid-column [header]="'Date'" [binding]="'date_time_executed'"></wj-flex-grid-column>

    </wj-flex-grid>
    <div class="btn-group" *ngIf="data != null">
        <button type="button" class="btn btn-default"
                (click)="data.moveToFirstPage()"
                [disabled]="data.pageIndex <= 0">
            <span class="glyphicon glyphicon-fast-backward"></span>
        </button>
        <button type="button" class="btn btn-default"
                (click)="data.moveToPreviousPage()"
                [disabled]="data.pageIndex <= 0">
            <span class="glyphicon glyphicon-step-backward">
            </span>
        </button>
        <button type="button" class="btn btn-default" disabled style="width:100px">
            {{data.pageIndex + 1 | number}} / {{data.pageCount | number}}
        </button>
        <button type="button" class="btn btn-default"
                (click)="data.moveToNextPage()"
                [disabled]="data.pageIndex >= data.pageCount - 1">
            <span class="glyphicon glyphicon-step-forward"></span>
        </button>
        <button type="button" class="btn btn-default"
                (click)="data.moveToLastPage()"
                [disabled]="data.pageIndex >= data.pageCount - 1">
            <span class="glyphicon glyphicon-fast-forward"></span>
        </button>
    </div>
    <div class="pull-right" *ngIf="data != null">
        <wj-menu [(value)]="pageSize" [header]="'Page size'">
            <wj-menu-item [value]="10">10</wj-menu-item>
            <wj-menu-item [value]="20">20</wj-menu-item>
            <wj-menu-item [value]="50">50</wj-menu-item>
        </wj-menu>
    </div>
</div>

<wj-popup style="border: 0px; width: 820px" #moreDetailsPopup>
    <div class="modal-content">
        <div class="modal-header">
            PowerScript Audit Entry
            <button type="button" tabindex="-1" class="close wj-hide" (click)="closePopup()" name="cancel">&times;</button>
        </div>
        <div class="modal-body">
            <div *ngIf="selectedItem != null">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Request Information
                    </div>
                    <div class="panel-body">
                        <div class="col-sm-12" *ngIf="selectedItem.script_name != null">
                            <label class="control-label col-sm-3">Script Name</label>
                            <label class="control-label col-sm-9">{{selectedItem.script_name}}</label>
                        </div>

                        <div class="col-sm-12" *ngIf="selectedItem.script_path != null">
                            <label class="control-label col-sm-3">Script Path</label>
                            <label class="control-label col-sm-9">{{selectedItem.script_path}}</label>
                        </div>

                        <div class="col-sm-12" *ngIf="selectedItem.user_name != null">
                            <label class="control-label col-sm-3">User</label>
                            <label class="control-label col-sm-9">{{selectedItem.user_name}}</label>
                        </div>

                        <div class="col-sm-12" *ngIf="selectedItem.device_type != null">
                            <label class="control-label col-sm-3">Device Type</label>
                            <label class="control-label col-sm-9">{{selectedItem.device_type}}</label>
                        </div>

                        <div class="col-sm-12" *ngIf="selectedItem.device_name != null">
                            <label class="control-label col-sm-3">Device Name</label>
                            <label class="control-label col-sm-9">{{selectedItem.device_name}}</label>
                        </div>

                        <div class="col-sm-12" *ngIf="selectedItem.date_time_executed != null">
                            <label class="control-label col-sm-3">Date Executed</label>
                            <label class="control-label col-sm-9">{{selectedItem.date_time_executed}}</label>
                        </div>

                        <div class="col-sm-12" *ngIf="selectedItem.parameters != null">
                            <label class="control-label col-sm-3">Parameters</label>
                            <div class="col-sm-9">
                                <div *ngFor="let param of selectedItem.parameters">
                                    <label class="control-label col-sm-12">{{param.name}} : {{param.value}}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                 </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Response
                    </div>
                    <div class="panel-body">
                        <div class="col-sm-12" *ngIf="selectedItem.response != null">
                            <label class="control-label col-sm-12" [innerHTML]="selectedItem.response"></label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</wj-popup>