<form [formGroup]="alertSettings" (ngSubmit)="onSubmit(alertSettings.value)" class="form-horizontal">
    <button type="submit" class="btn btn-primary">Save</button>
    <div>&nbsp;</div>
    <div class="row">
        <div class="col-xs-12 col-md-4 col-sm-12 col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">Persistent Notifications</div>
                <div class="panel-body">
                    <div id="infoDiv1" class="alert alert-info col-md-12" align="left">
                        By default a notification is sent at the time of the event and again when it is closed. Enabling persistent alerting will allow you to receive notifications repeatedly until an exception is cleared or for the duration in hours specified below.
                    </div>
                    <div class="funkyradio">
                        <div class="funkyradio-default">
                            <input type="checkbox" id="enable_persistent_alerting" formControlName="enable_persistent_alerting" name="enable_persistent_alerting" (change)="isPAChecked($event.target.checked)" />
                            <label for="enable_persistent_alerting">Enable Persistent Alerting</label>
                        </div>
                    </div>
                    <div class="row" *ngIf="persistentChecked">
                        &nbsp;
                    </div>
                    <div class="row" *ngIf="persistentChecked">
                        <label for="alert_interval" class="control-label col-sm-4">Alert Interval</label>
                        <div class="form-group col-sm-5">
                            <select name="alert_interval" class="form-control" formControlName="alert_interval" id="alert_interval">
                                <option value="15">15</option>
                                <option value="30">30</option>
                                <option value="45">45</option>
                                <option value="60">60</option>
                                <option value="90">90</option>
                                <option value="120">120</option>
                            </select>
                            <!--<input type="text" class="form-control" id="alert_interval" name="alert_interval" formControlName="alert_interval"
                                   onkeypress='return event.charCode >= 48 && event.charCode <= 57' />-->
                        </div>
                        <div class="col-sm-1">
                            minutes
                        </div>
                    </div>
                    <div class="row" *ngIf="persistentChecked">
                        <label for="alert_duration" class="control-label col-sm-4">Alert Duration</label>
                        <div class="form-group col-sm-5">
                            <select name="alert_duration" class="form-control" formControlName="alert_duration" id="alert_duration">
                                <option value="Until Cleared">Until Cleared</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                            </select>
                            <!--<input type="text" class="form-control" id="alert_duration" name="alert_duration" formControlName="alert_duration"
                                   onkeypress='return event.charCode >= 48 && event.charCode <= 57' />-->
                        </div>
                        <div class="col-sm-1" *ngIf="alert_duration!='Until Cleared'">
                            hours
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--
                    <div class="col-xs-12 col-md-6 col-sm-12 col-lg-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">Emergency Alerting</div>
                            <div class="panel-body">
                                <p>Enter emergency contact email address(es) below.</p>
                                <wj-flex-grid #flex [itemsSource]="data" selectionMode="Row" [frozenColumns]="1" [isReadOnly]="true" headersVisibility="Column">
                                    <wj-flex-grid-filter></wj-flex-grid-filter>
                                    <wj-flex-grid-column [header]="'E-Mail'" [binding]="'e_mail'" [width]="180"></wj-flex-grid-column>
                                </wj-flex-grid>
                                <div class="btn-group" *ngIf="data != null">
                                    <button type="button" class="btn btn-default"
                                            (click)="data.moveToFirstPage()"
                                            [disabled]="data.pageIndex <= 0">
                                        <span class="glyphicon glyphicon-fast-backward"></span>
                                    </button>
                                    <button type="button" class="btn btn-default"
                                            (click)="data.moveToPreviousPage()"
                                            [disabled]="data.pageIndex <= 0">
                                        <span class="glyphicon glyphicon-step-backward">
                                        </span>
                                    </button>
                                    <button type="button" class="btn btn-default" disabled style="width:100px">
                                        {{
        data.pageIndex + 1 | number
                                        }} / {{data.pageCount | number}}
                                    </button>
                                    <button type="button" class="btn btn-default"
                                            (click)="data.moveToNextPage()"
                                            [disabled]="data.pageIndex >= data.pageCount - 1">
                                        <span class="glyphicon glyphicon-step-forward"></span>
                                    </button>
                                    <button type="button" class="btn btn-default"
                                            (click)="data.moveToLastPage()"
                                            [disabled]="data.pageIndex >= data.pageCount - 1">
                                        <span class="glyphicon glyphicon-fast-forward"></span>
                                    </button>
                                </div>
                                <div class="pull-right" *ngIf="data != null">
                                    <wj-menu [(value)]="pageSize" [header]="'Page size'">
                                        <wj-menu-item [value]="10">10</wj-menu-item>
                                        <wj-menu-item [value]="20">20</wj-menu-item>
                                        <wj-menu-item [value]="50">50</wj-menu-item>
                                    </wj-menu>
                                </div>
                                <div class="well grid-sort-group">
                                    <button class="btn btn-default" (click)="editGridRow(frmDialog)">
                                        Edit
                                    </button>
                                    <button class="btn btn-default" (click)="addGridRow(frmDialog)">
                                        Add
                                    </button>
                                    <button class="btn btn-default" (click)="delteAlertSettings();">
                                        Delete
                                    </button>
                                </div>
                                <wj-popup class="col-md-6 modal-content" #frmDialog>
                                    <form (ngSubmit)="saveAlertSettings(frmDialog)" #frmAlert="ngForm">
                                        <h4 class="modal-header">
                                            {{formTitle}}
                                            <button type="button" tabindex="-1" class="close wj-hide" (click)="cancelEditAdd()" name="cancel">&times;</button>
                                        </h4>
                                        <div class="modal-body" *ngIf="currentEditItem">
                                            <div class="form-group">
                                                <label for="e_mail">E-Mail</label>
                                                <input type="text" class="form-control" id="e_mail" required name="e_mail" [(ngModel)]="currentEditItem.e_mail">
                                            </div>

                                        </div>
                                    </form>
                                </wj-popup>
                            </div>
                        </div>
                    </div>
                    -->


       
            <div class="col-xs-12 col-md-4 col-sm-12 col-lg-4">
                <div class="panel panel-default">
                    <div class="panel-heading">Alert Limits</div>
                    <div class="panel-body">
                        <div id="infoDiv2" class="alert alert-info col-md-12" align="left">
                            When alert limits are enabled a value of '0' in an alert limit text box will be interpreted as 'none'. For example, if total maximum alerts per definition is set to 0 and total maximum alerts per day is set to 50, there will be no more than 50 alerts generated in a given day.
                        </div>
                        <div class="funkyradio">
                            <div class="funkyradio-default">
                                <input type="checkbox" id="enable_alert_limits" formControlName="enable_alert_limits" name="enable_alert_limits" (change)="isLimitsChecked($event.target.checked)" />
                                <label for="enable_alert_limits">Enable Alert Limits</label>
                            </div>
                        </div>
                        <div class="row" *ngIf="limitsChecked">
                            &nbsp;
                        </div>
                        <div class="row" *ngIf="limitsChecked">
                            <label for="total_maximum_alerts_per_definition" class="control-label col-sm-9">Total Maximum Alerts per Definition</label>
                            <div class="form-group col-sm-3">
                                <input type="text" class="form-control" id="total_maximum_alerts_per_definition" name="total_maximum_alerts_per_definition"
                                       formControlName="total_maximum_alerts_per_definition" onkeypress='return event.charCode >= 48 && event.charCode <= 57' />
                            </div>
                        </div>
                        <div class="row" *ngIf="limitsChecked">
                            <label for="total_maximum_alerts_per_day" class="control-label col-sm-9">Total Maximum Alerts per Day</label>
                            <div class="form-group col-sm-3">
                                <input type="text" class="form-control" id="total_maximum_alerts_per_day" name="total_maximum_alerts_per_day"
                                       formControlName="total_maximum_alerts_per_day" onkeypress='return event.charCode >= 48 && event.charCode <= 57' />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        <div class="col-xs-12 col-md-3 col-sm-12 col-lg-3">
            <div class="panel panel-default">
                <div class="panel-heading">Alerts On/Off</div>
                <div class="panel-body">
                    <div class="btn-group" id="status" data-toggle="buttons">
                        <label #alertOnLabel class="btn btn-default btn-on btn-sm" (click)="setOn(true)">
                            <input type="radio" formControlName="alerts_on" id="alertsOn" #alertsOn>ON
                        </label>
                        <label #alertOffLabel class="btn btn-default btn-off btn-sm" (click)="setOn(false)">
                            <input type="radio" formControlName="alerts_on" id="alertsOff" #alertsOff>OFF
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-3 col-sm-12 col-lg-3">
            <div class="panel panel-default">
                <div class="panel-heading">SNMP Listener</div>
                <div class="panel-body">
                    <div class="funkyradio">
                        <div class="funkyradio-default">
                            <input type="checkbox" id="enable_SNMP_traps" formControlName="enable_SNMP_traps" name="enable_SNMP_traps" />
                            <label for="enable_SNMP_traps">Enable SNMP traps</label>
                        </div>
                    </div>
                    <div class="row">
                        &nbsp;
                    </div>
                    <div class="row">
                        <label class="control-label col-sm-4" for="host_name">Host Name</label>
                        <div class="form-group col-sm-8">
                            <input type="text" class="form-control" id="host_name" name="host_name" formControlName="host_name" />
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">Primary SMTP Server</div>
                <div class="panel-body">

                    <div class="row">
                        <div class="form-group col-sm-12 col-lg-4">
                            <label for="primary_host_name" class="control-label col-sm-4">Host Name</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="primary_host_name" required name="primary_host_name" formControlName="primary_host_name" />
                            </div>
                        </div>
                        <div class="form-group col-sm-12 col-lg-4">
                            <label for="primary_user_id" class="control-label col-sm-4">User ID</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="primary_user_id" name="primary_user_id" formControlName="primary_user_id"
                                       pattern="\w+([-+.']\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*" />
                            </div>
                        </div>
                        <div class="funkyradio col-sm-12 col-lg-2">
                            <div class="funkyradio-default">
                                <input type="checkbox" id="primary_auth" formControlName="primary_auth" name="primary_auth" />
                                <label for="primary_auth">Requires Authentication</label>
                            </div>
                        </div>
                        <div class="form-group col-sm-12 col-lg-1" style="display: none">
                            <button type="submit" class="btn btn-primary">Test Connection</button>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-sm-12 col-lg-4">
                            <label for="primary_from" class="control-label col-sm-4">From</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="primary_from" required name="primary_from" formControlName="primary_from" />
                            </div>
                        </div>
                        <div class="form-group col-sm-8 col-lg-4">
                            <label for="primary_pwd" class="control-label col-sm-4">Password</label>
                            <div class="col-sm-8">
                                <!--<input type="password" class="form-control" id="primary_pwd" name="primary_pwd" formControlName="primary_pwd" />-->
                                <button #pwd1 type="button" class="btn btn-primary">
                                    Enter Password
                                </button>
                                <button #clearpwd1 type="button" class="btn btn-primary" (click)="clearPwd1()">
                                    Clear Password
                                </button>
                                <wj-popup #frmDialog1 class="popover" [owner]="pwd1" [showTrigger]="'Click'" [hideTrigger]="'None'">
                                    <h3 class="popover-title">
                                        Password
                                        <button type="button" tabindex="-1" class="close wj-hide">&times;</button>
                                    </h3>
                                    <div class="popover-content">
                                        <div class="input-group">
                                            <label for="primary_pwd" class="control-label">Please enter a password below</label>
                                            <input #primary_pwd class="form-control" name="primary_pwd" type="password" />
                                        </div>
                                        <div>&nbsp;</div>
                                        <div class="form-actions">
                                            <button type="button" class="btn btn-primary" name="save1" (click)="savePwdPrimary(frmDialog1);">Save</button>
                                        </div>
                                    </div>
                                </wj-popup>
                            </div>
                        </div>
                        <div class="funkyradio col-sm-12 col-lg-2">
                            <div class="funkyradio-default">
                                <input type="checkbox" id="primary_ssl" formControlName="primary_ssl" name="primary_ssl" />
                                <label for="primary_ssl">Requires SSL</label>
                            </div>
                        </div>
                        <div class="form-group col-sm-12 col-lg-1" style="display: none">
                            <button type="submit" class="btn btn-primary">Test Message</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-12 col-lg-4">
                            <label for="primary_port" class="control-label col-sm-4">Port</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="primary_port" name="primary_port" formControlName="primary_port"
                                       onkeypress='return event.charCode >= 48 && event.charCode <= 57' />
                            </div>
                        </div>
                        <div class="col-sm-10">
                            <button #Smtp1 type="button" class="btn btn-primary" >Test SMTP Server </button>
                            <wj-popup #frmDialogsmtp1 class="popover" [owner]="Smtp1" [showTrigger]="'Click'" [hideTrigger]="'None'">
                                <h3 class="popover-title">
                                    Email Id
                                    <button type="button" tabindex="-1" class="close wj-hide">&times;</button>
                                </h3>
                                <div class="popover-content">
                                    <div class="input-group">
                                        <label for="Smtp_Server" class="control-label">Please enter a Email Id below</label>
                                        <input id="PrimaryTestEmail" class="form-control" name="Smtp_Server" type="email" />
                                    </div>
                                    <div>&nbsp;</div>
                                    <div class="form-actions">
                                        <button type="button" class="btn btn-primary" name="saveSmtp" (click)="SendPrimarySmtpServer(frmDialogsmtp1);">Send</button>
                                    </div>
                                </div>
                            </wj-popup>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">Secondary SMTP Server</div>
                
                <div class="panel-body">
                    <div class="row">
                        <div class="form-group col-sm-12 col-lg-4">
                            <label for="secondary_host_name" class="control-label col-sm-4">Host Name</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="secondary_host_name" name="secondary_host_name" formControlName="secondary_host_name" />
                            </div>
                        </div>
                        <div class="form-group col-sm-12 col-lg-4">
                            <label for="secondary_user_id" class="control-label col-sm-4">User ID</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="secondary_user_id" name="secondary_user_id" formControlName="secondary_user_id"
                                       pattern="\w+([-+.']\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*" />
                            </div>
                        </div>
                        <div class="funkyradio col-sm-12 col-lg-2">
                            <div class="funkyradio-default">
                                <input type="checkbox" id="secondary_auth" formControlName="secondary_auth" name="secondary_auth" />
                                <label for="secondary_auth">Requires Authentication</label>
                            </div>
                        </div>
                        <div class="form-group col-sm-12 col-lg-1" style="display: none">
                            <button type="submit" class="btn btn-primary">Test Connection</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-12 col-lg-4">
                            <label for="secondary_from" class="control-label col-sm-4">From</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="secondary_from" name="secondary_from" formControlName="secondary_from" />
                            </div>
                        </div>
                        <div class="form-group col-sm-12 col-lg-4">
                            <label for="secondary_pwd" class="control-label col-sm-4">Password</label>
                            <div class="col-sm-8">
                                <!--<input type="password" class="form-control" id="secondary_pwd" name="secondary_pwd" formControlName="secondary_pwd" />-->
                                <button #pwd2 type="button" class="btn btn-primary">
                                    Enter Password
                                </button>
                                <button #clearpwd2 type="button" class="btn btn-primary" (click)="clearPwd2()">
                                    Clear Password
                                </button>
                                <wj-popup #frmDialog2 class="popover" [owner]="pwd2" [showTrigger]="'Click'" [hideTrigger]="'None'">
                                    <h3 class="popover-title">
                                        Password
                                        <button type="button" tabindex="-1" class="close wj-hide">&times;</button>
                                    </h3>
                                    <div class="popover-content">
                                        <div class="input-group">
                                            <label for="secondary_pwd" class="control-label">Please enter a password below</label>
                                            <input #secondary_pwd class="form-control" name="secondary_pwd" type="password" />
                                        </div>
                                        <div>&nbsp;</div>
                                        <div class="form-actions">
                                            <button type="button" class="btn btn-primary" name="save2" (click)="savePwdSecondary(frmDialog2);">Save</button>
                                        </div>
                                    </div>
                                </wj-popup>
                            </div>
                        </div>
                        <div class="funkyradio col-sm-12 col-lg-2">
                            <div class="funkyradio-default">
                                <input type="checkbox" id="secondary_ssl" formControlName="secondary_ssl" name="secondary_ssl" />
                                <label for="secondary_ssl">Requires SSL</label>
                            </div>
                        </div>
                        <div class="form-group col-sm-12 col-lg-1" style="display: none">
                            <button type="submit" class="btn btn-primary">Test Message</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-12 col-lg-4">
                            <label for="secondary_port" class="control-label col-sm-4">Port</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="secondary_port" name="secondary_port" formControlName="secondary_port"
                                       onkeypress='return event.charCode >= 48 && event.charCode <= 57' />
                            </div>
                        </div>
                        <div class="form-group col-sm-12 col-lg-8">
                            <button #Smtp2 type="button" class="btn btn-primary">Test SMTP Server </button>
                            <wj-popup #frmDialogsmtp2 class="popover" [owner]="Smtp2" [showTrigger]="'Click'" [hideTrigger]="'None'">
                                <h3 class="popover-title">
                                    Email Id
                                    <button type="button" tabindex="-1" class="close wj-hide">&times;</button>
                                </h3>
                                <div class="popover-content">
                                    <div class="input-group">
                                        <label for="Smtp_Server2" class="control-label">Please enter a Email Id below</label>
                                        <input id="secondaryTestEmail" class="form-control" name="Smtp_Server" type="email" />
                                    </div>
                                    <div>&nbsp;</div>
                                    <div class="form-actions">
                                        <button type="button" class="btn btn-primary" name="saveSmtp" (click)="SendSecondarySmtpServer(frmDialogsmtp2);">Send</button>
                                    </div>
                                </div>
                            </wj-popup>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">SMS/Text Alerting</div>
                <div class="panel-body">
                    <div class="col-sm-12">
                        <div id="infoDiv3" class="alert alert-info col-md-12" align="left">
                            In order to utilize the SMS capability within VitalSigns, please sign up for an account with Twilio at <a href="https://www.twilio.com/sms">https://www.twilio.com/sms</a>. Once you have established an active account, fill out the fields below and configure your individual Alert Definitions to receive SMS as needed. The Phone Number From field will contain a telephone number issued by Twilio that will appear on your SMS as a sender.
                        </div>
                    </div>
                    <div class="form-group col-sm-4">
                        <label for="sms_account_sid" class="control-label col-sm-4">Account Sid</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="sms_account_sid" name="sms_account_sid" formControlName="sms_account_sid" />
                        </div>
                    </div>
                    <div class="form-group col-sm-4">
                        <label for="sms_auth_token" class="control-label col-sm-4">Auth Token</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="sms_auth_token" name="sms_auth_token" formControlName="sms_auth_token" />
                        </div>
                    </div>
                    <div class="form-group col-sm-4">
                        <label for="sms_from" class="control-label col-sm-5">Phone Number From</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" id="sms_from" name="sms_from" formControlName="sms_from" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">Recurring Alert Options</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div id="infoDiv4" class="alert alert-info col-md-12" align="left">
                                Enable the flag 'Alert about recurrences only' when you want to be notified of events that happen on a frequent basis and are not considered critical. The alerting service will issue a notification when the number of recurrences of an event reaches the value specified in the 'Number of recurrences field' within the last hour of the service run time.
                            </div>
                        </div>
                        <div class="funkyradio col-sm-12 col-lg-3">
                            <div class="funkyradio-default">
                                <input type="checkbox" id="alert_about_recurrences_only" formControlName="alert_about_recurrences_only" name="alert_about_recurrences_only" (change)="isChecked($event.target.checked)" />
                                <label for="alert_about_recurrences_only">Alert about recurrences only</label>
                            </div>
                        </div>
                        <div class="form-inline col-sm-12 col-lg-8" *ngIf="recurrencesChecked">
                            <label for="number_of_recurrences">Number of recurrences (per hour)</label>
                            <input type="text" class="form-control" id="number_of_recurrences" name="number_of_recurrences" formControlName="number_of_recurrences"
                                   onkeypress='return event.charCode >= 48 && event.charCode <= 57' />
                        </div>
                    </div>
                    <div class="row" *ngIf="recurrencesChecked">
                        &nbsp;
                    </div>
                    <div class="row" *ngIf="recurrencesChecked">
                        <div class="col-sm-10">
                            <button class="btn btn-primary" type="button" name="selectall" (click)="selectAll()">Select All</button>
                            <button class="btn btn-primary" type="button" name="deselectall" (click)="deselectAll()">Deselect All</button>
                            &nbsp;
                            <button class="btn btn-primary" type="button" (click)="collapse(flex)">Collapse All Groups</button>
                            <button class="btn btn-primary" type="button" (click)="expand(flex)">Expand All Groups</button>
                        </div>
                    </div>
                    <div class="row" *ngIf="recurrencesChecked">
                        &nbsp;
                    </div>
                    <div class="row" *ngIf="recurrencesChecked">
                        <div class="col-sm-12 col-lg-8">
                            <wj-flex-grid style="height:400px;" [itemsSource]="data" selectionMode="Row" headersVisibility="Column" #flex>
                                <wj-flex-grid-column [header]="'Alert about Event Recurrences'" [binding]="'NotificationOnRepeat'" [width]="280"></wj-flex-grid-column>
                                <wj-flex-grid-column [header]="'Event Type'" [binding]="'EventType'" [width]="280" [isReadOnly]="true"></wj-flex-grid-column>
                                <wj-flex-grid-column [header]="'Device Type'" [binding]="'DeviceType'" [visible]="false"></wj-flex-grid-column>
                                <wj-flex-grid-column [header]="'Id'" [binding]="'Id'" [visible]="false"></wj-flex-grid-column>
                            </wj-flex-grid>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--<success-error-message #message></success-error-message>-->
    <button type="submit" class="btn btn-primary">Save</button>
</form>
