<ul>
    <li>
        <a href="javascript:void(0);" class="toggleMenuBt menuIcon">
            <img class="svgInject" src="/img/menu/toggleMenu.svg" title="toggle Menu" alt="toggle Menu" />
        </a>
    </li>
    <li>
        <a [routerLink]="['/dashboard']" class="menuIcon">
            <img id="dashboardMenu" class="svgInject" src="/img/menu/dashboard.svg" title="Dashboard" alt="Dashboard" />
            <span class="zeusMenuTitle">Dashboard</span>
        </a>
        <ul></ul>
    </li>
    <li>
        <a [routerLink]="['/services']" class="menuIcon">
            <img id="serversMenu" class="svgInject" src="/img/menu/servers.svg" title="Servers" alt="Servers" />
            <span class="zeusMenuTitle">Servers</span>
        </a>
        <ul></ul>
    </li>
    <li>
        <a [routerLink]="['/reports']" class="menuIcon">
            <img id="reportsMenu" class="svgInject" src="/img/menu/reports.svg" title="Reports" alt="Reports" />
            <span class="zeusMenuTitle">Reports</span>
        </a>
        <ul></ul>
    </li>
    <li>
        <a [routerLink]="['/configurator']" class="menuIcon">
            <img id="configuratorMenu" class="svgInject" src="/img/menu/configurator.svg" title="Configurator" alt="Configurator" />
            <span class="zeusMenuTitle">Configurator</span>
        </a>
        <ul></ul>
    </li>
</ul>