#headerLogo {
    padding: 11px 15px 0 15px;
}

.notifVitalSign {
    width: 80px;
    text-align: center;
    cursor: pointer;
}

    .notifVitalSign .notifVitalSignNumber {
        font-size: 11px;
        margin-top: 6px;
    }

    .notifVitalSign .notifVitalSignLabel {
        font-size: 10px;
        display: block;
        color: #9c9c9c;
    }

    .notifVitalSign:hover .notifVitalSignLabel {
        color: #5b5b5b;
    }


#maintenanceNotification .notifVitalSignNumber {
    background-color: #8c8c8c;
}

#issuesNotification .notifVitalSignNumber {
    background-color: #F99C1C;
}

#noIssuesNotification .notifVitalSignNumber {
    background-color: #5FBE7F;
}

#noResponseNotification .notifVitalSignNumber {
    background-color: #EF3A24;
}

#mobileUsersTable table {
    margin-bottom: 0;
    margin-top: 10px;
}

.notificationIcon {
    cursor: pointer;
}

    .notificationIcon.active {
        color: #5fbe7f;
    }

#dominoInfo {
    min-height: 902px;
}

.serversList {
    background-color: #FFFFFF;
    border-right: 1px solid #eaeaea;
}

#serversFilters {
    font-size: 13px;
    padding: 5px 10px;
}

#serversResults {
    font-size: 12px;
    border-top: 1px solid #eaeaea;
    padding: 4px 10px;
}

#serversListWrapper {
    border-top: 2px solid #eaeaea;
}

    #serversListWrapper .aServer {
        height: 70px;
        border-bottom: 1px solid #ffffff;
        position: relative;
        padding: 5px 5px 20px 5px;
        cursor: pointer;
    }

        #serversListWrapper .aServer.active {
            color: #FFFFFF;
        }



        #serversListWrapper .aServer .statusIndicator {
            position: absolute;
            height: 100%;
            width: 15px;
            right: 0;
            top: 0;
        }

        #serversListWrapper .aServer.selected .statusIndicator {
            display: none;
        }


        #serversListWrapper .aServer .serverIcon {
            height: 58px;
            width: 58px;
            background-color: #C6C6C5;
            border-radius: 10px;
            text-align: center;
            float: left;
            margin-right: 10px;
            margin-left: 2px;
        }

        #serversListWrapper .aServer:hover .serverIcon {
            background-color: #a6a6a5;
        }

        #serversListWrapper .aServer .serverIcon svg {
            fill: #FFFFFF;
            vertical-align: middle;
            height: 41px;
            width: 41px;
        }

        #serversListWrapper .aServer .serverIcon .helper {
            display: inline-block;
            height: 100%;
            vertical-align: middle;
        }


        #serversListWrapper .aServer .serverTitle {
            color: #3e3e3e;
            font-size: 16px;
            height: 23px;
            overflow: hidden;
            margin-right: 18px;
            word-break: break-all;
        }

        #serversListWrapper .aServer.active .serverTitle {
            color: #FFFFFF;
        }

        #serversListWrapper .aServer .flag-icon {
            margin-right: 5px;
            border: 1px solid #eaeaea;
        }



        #serversListWrapper .aServer .desc {
            font-size: 11px;
            height: 15px;
            line-height: 14px;
            margin: 0 0 2px;
            overflow: hidden;
            margin-right: 18px;
        }



        #serversListWrapper .aServer[data-status="notresponding"] {
            background-color: rgba(239, 58, 36, 0.15);
        }

            #serversListWrapper .aServer[data-status="notresponding"] .statusIndicator {
                background-color: rgba(239, 58, 36, 1);
            }

            #serversListWrapper .aServer[data-status="notresponding"]:hover {
                background-color: rgba(239, 58, 36, 0.25);
            }

            #serversListWrapper .aServer[data-status="notresponding"].active {
                background-color: rgba(239, 58, 36, 1);
            }

                #serversListWrapper .aServer[data-status="notresponding"].active:hover {
                    background-color: rgba(239, 58, 36, 0.85);
                }

                #serversListWrapper .aServer[data-status="notresponding"].active .serverIcon {
                    background-color: #FFFFFF;
                }

                    #serversListWrapper .aServer[data-status="notresponding"].active .serverIcon svg {
                        fill: rgba(239, 58, 36, 1);
                    }




        #serversListWrapper .aServer[data-status="ok"] {
            background-color: rgba(95, 190, 127, 0.15);
        }

            #serversListWrapper .aServer[data-status="ok"] .statusIndicator {
                background-color: rgba(95, 190, 127, 1);
            }

            #serversListWrapper .aServer[data-status="ok"]:hover {
                background-color: rgba(95, 190, 127, 0.25);
            }

            #serversListWrapper .aServer[data-status="ok"].active {
                background-color: rgba(95, 190, 127, 1);
            }

                #serversListWrapper .aServer[data-status="ok"].active:hover {
                    background-color: rgba(95, 190, 127, 0.85);
                }

                #serversListWrapper .aServer[data-status="ok"].active .serverIcon {
                    background-color: #FFFFFF;
                }

                    #serversListWrapper .aServer[data-status="ok"].active .serverIcon svg {
                        fill: rgba(95, 190, 127, 1);
                    }



        #serversListWrapper .aServer[data-status="issue"] {
            background-color: rgba(249, 156, 28, 0.15);
        }

            #serversListWrapper .aServer[data-status="issue"] .statusIndicator {
                background-color: rgba(249, 156, 28, 1);
            }

            #serversListWrapper .aServer[data-status="issue"]:hover {
                background-color: rgba(249, 156, 28, 0.25);
            }

            #serversListWrapper .aServer[data-status="issue"].active {
                background-color: rgba(249, 156, 28, 1);
            }

                #serversListWrapper .aServer[data-status="issue"].active:hover {
                    background-color: rgba(249, 156, 28, 0.85);
                }

                #serversListWrapper .aServer[data-status="issue"].active .serverIcon {
                    background-color: #FFFFFF;
                }

                    #serversListWrapper .aServer[data-status="issue"].active .serverIcon svg {
                        fill: rgba(249, 156, 28, 1);
                    }



        #serversListWrapper .aServer[data-status="maintenance"] {
            background-color: rgba(132, 132, 132, 0.15);
        }

            #serversListWrapper .aServer[data-status="maintenance"] .statusIndicator {
                background-color: rgba(132, 132, 132, 1);
            }

            #serversListWrapper .aServer[data-status="maintenance"]:hover {
                background-color: rgba(132, 132, 132, 0.25);
            }

            #serversListWrapper .aServer[data-status="maintenance"].active {
                background-color: rgba(132, 132, 132, 1);
            }

                #serversListWrapper .aServer[data-status="maintenance"].active:hover {
                    background-color: rgba(132, 132, 132, 0.85);
                }

                #serversListWrapper .aServer[data-status="maintenance"].active .serverIcon {
                    background-color: #FFFFFF;
                }

                    #serversListWrapper .aServer[data-status="maintenance"].active .serverIcon svg {
                        fill: rgba(132, 132, 132, 1);
                    }


        #serversListWrapper .aServer[data-status="notset"] {
            background-color: rgba(204, 220, 255, 0.15);
        }
            /*#serversListWrapper .aServer[data-status="notset"] .statusIndicator {
	background-color: rgba(204, 220, 255, 1);
}*/
            #serversListWrapper .aServer[data-status="notset"]:hover {
                background-color: rgba(204, 220, 255, 0.25);
            }

            #serversListWrapper .aServer[data-status="notset"].active {
                background-color: rgba(204, 220, 255, 1);
            }

                #serversListWrapper .aServer[data-status="notset"].active:hover {
                    background-color: rgba(204, 220, 255, 0.85);
                }

                #serversListWrapper .aServer[data-status="notset"].active .serverIcon {
                    background-color: #FFFFFF;
                }

                    #serversListWrapper .aServer[data-status="notset"].active .serverIcon svg {
                        fill: rgba(204, 220, 255, 1);
                    }

#serverListIcon {
    width: 40px;
    height: 35px;
    background-color: #5fbe7f;
    border-radius: 3px;
    text-align: center;
    float: left;
    margin-right: 2px;
    padding: 4px 2px 2px 2px;
}


    #serverListIcon svg {
        fill: #FFFFFF;
    }

#serverContext {
    background-color: #F2F2F2;
    padding: 5px 10px 5px 5px;
    position: relative;
}

.floatRight {
    float: right;
    padding-right: 15px;
}

.serverDetailWrapper #noServerSelectedWrapper {
    width: 100%;
    height: 100%;
    display: table;
}

.serverDetailWrapper #noServerSelected {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 100%;
    height: 100%:;
}

.serverDetailWrapper #noServerSelectedWrapper #noServerImg {
    transform: scale(5);
    -webkit-transform: scale(5);
    fill: #d3d3d3;
    margin-bottom: 20px;
    margin-top: 40px;
}

.serverDetailWrapper #noServerSelectedWrapper .glyphicon {
    font-size: 23px;
    color: #8c8c8c;
}

.serverDetailWrapper #noServerSelectedWrapper p {
    margin-bottom: 30px;
}

.serverDetailWrapper #serverDetail {
    width: 100%;
    height: 100%;
}

.serverDetailWrapper #serverDetailHeader {
    min-height: 121px;
    background-color: #FFFFFF;
}

.serverDetailWrapper #serverOverview {
    padding: 10px;
}

    .serverDetailWrapper #serverOverview .serverIcon {
        height: 58px;
        width: 58px;
        background-color: #C6C6C5;
        border-radius: 10px;
        text-align: center;
        float: left;
        margin-right: 10px;
        margin-left: 2px;
    }

        .serverDetailWrapper #serverOverview .serverIcon svg {
            fill: #FFFFFF;
            vertical-align: middle;
        }

        .serverDetailWrapper #serverOverview .serverIcon .helper {
            display: inline-block;
            height: 100%;
            vertical-align: middle;
        }

    .serverDetailWrapper #serverOverview .serverStatus {
        height: 58px;
        width: 58px;
        border-radius: 10px;
        text-align: center;
        float: left;
        margin-right: 6px;
        margin-left: 2px;
        color: #fff;
        font-size: 12px;
        font-weight: bold;
        line-height: 120%;
        padding-top: 14px;
    }

        .serverDetailWrapper #serverOverview .serverStatus.ok {
            background-color: #5fbe7f;
        }

        .serverDetailWrapper #serverOverview .serverStatus.notresponding {
            background-color: #EF3A24;
        }

        .serverDetailWrapper #serverOverview .serverStatus.issue {
            background-color: #F99C1C;
        }

        .serverDetailWrapper #serverOverview .serverStatus.maintenance {
            background-color: #8c8c8c;
        }




    .serverDetailWrapper #serverOverview h2 {
        color: #000000;
        font-size: 28px;
        margin: 0;
        height: 40px;
        overflow: hidden;
        margin-right: 18px;
        line-height: 38px;
    }


    .serverDetailWrapper #serverOverview .flag-icon {
        margin-right: 5px;
        border: 1px solid #eaeaea;
    }

    .serverDetailWrapper #serverOverview p {
        font-size: 13px;
        height: 15px;
        line-height: 14px;
        margin: 0 0 2px;
        overflow: hidden;
        margin-right: 18px;
    }

.serverDetailWrapper #serverDetailContent {
    padding: 20px 30px 20px 20px;
}

.stay-open .dropdown-menu {
    display: block !important;
}

.dropdown-menu {
    overflow: hidden;
    padding: 15px;
    font-size: 13px !important;
    font-weight: normal !important;
    right: -110px !important;
}

    .dropdown-menu .navbar-form {
        padding: 0 !important;
    }

    .dropdown-menu input {
        width: 100% !important;
        margin: 0 0 10px 0 !important;
    }

    .dropdown-menu .backBtn {
        float: left;
        cursor: pointer;
        margin: 0 0 10px 0;
        display: none;
    }

    .dropdown-menu .branchTitle {
        float: left;
    }

.items-bounding {
    display: block;
    clear: both;
    position: relative;
    left: 0px;
    margin: 25px 0 0 0;
}

    .items-bounding ul {
        list-style: none;
        top: 0px;
        display: block;
        padding: 0;
        margin: 0;
    }

        .items-bounding ul.active {
            display: block !important;
        }

        .items-bounding ul li {
            margin: 0;
            display: block;
            padding: 0;
            font-size: 13px !important;
        }

    .items-bounding li a {
        font-size: 13px !important;
        margin: 3px 0;
        display: inline-block;
    }

    .items-bounding li .nextLevel {
        margin: 0;
        cursor: pointer;
        display: inline-block;
        float: right;
        width: 5%;
    }

    .items-bounding ul.active li .nextLevel {
        margin-right: 30px;
    }

    .items-bounding li a.nextLevel:hover {
        text-decoration: none;
    }

.ui-autocomplete {
    list-style: none;
    clear: both;
    padding: 0;
    margin: 10px 0;
    top: 0px !important;
}

    .ui-autocomplete li {
        margin: 3px 0;
        padding: 0;
    }

.dashboard-menu {
    display: table-cell;
    width: 20%;
    min-width: 230px;
    vertical-align: top;
}

.container-fluid {
    display: table-cell;
}

.dashboard-menu li.activated {
    border-left: 3px solid #5fbe7f;
    background: #e9fff0;
}

.dashboard-menu li a {
    color: #4da56b;
}

.showMbtn {
    position: fixed;
    z-index: 1;
    bottom: -6px;
    padding: 0;
    margin: 0;
    background: none;
    border: none;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

    .showMbtn svg {
        z-index: 100;
        height: 45px;
        padding: 0;
        margin: 0;
        position: relative;
        bottom: 0%;
    }

        .showMbtn svg rect {
            fill: #ffffff;
        }

        .showMbtn svg path {
            fill: #4da56b;
        }

.siteMapEditor {
    padding-bottom: 100px;
}

    .siteMapEditor .form {
        position: fixed;
        width: 100%;
        bottom: 0px;
        left: 50px;
        transition: height 0.5s ease;
        border-top: 5px solid #dcdbdb;
        background-color: #f2f2f2;
        padding: 25px 100px 25px 35px;
    }

        .siteMapEditor .form .overlay {
            background-color: #f2f2f2;
            height: 100%;
            position: absolute;
            top: 0;
            width: 100%;
            padding-right: 135px;
            text-align: right;
            padding-top: 15px;
        }

        .siteMapEditor .form .contextButton {
            float: left;
            margin-right: 5px;
        }

    .siteMapEditor ul {
        list-style: outside none none;
        padding: 0px;
        font-family: Tahoma,Helvetica-Light,arial;
    }

    .siteMapEditor .hideItems li {
        display: none;
    }

    .siteMapEditor ul ul {
        padding-left: 18px;
    }

.siteMapNode {
    list-style: outside none none;
}

    .siteMapNode div {
        background-color: white;
        margin: 5px 0;
        width: 100%;
        position: relative;
        height: 36px;
    }

        .siteMapNode div .aDragger {
            background: url(/img/menu/dragger.png) repeat-y;
            cursor: move;
            display: inline-block;
            float: left;
            height: 32px;
            opacity: 0.15;
            width: 15px;
            margin-top: 2px;
            margin-left: 2px;
            border-right: 1px solid #000;
        }

        .siteMapNode div .aCollapse {
            border-right: 1px solid #d2d2d2;
            cursor: pointer;
            display: inline-block;
            float: left;
            height: 36px;
            opacity: 0.7;
            width: 19px;
            text-align: center;
        }

            .siteMapNode div .aCollapse b {
                height: 100%;
                display: block;
                width: 100%;
                font-weight: normal;
                padding-top: 6px;
            }

        .siteMapNode div .aTitle {
            float: left;
            font-size: 12px;
            padding-left: 10px;
            line-height: 36px;
            position: absolute;
            width: 100%;
            cursor: pointer;
        }

        .siteMapNode div .aToggle {
            border-left: 1px solid #f2f2f2;
            height: 36px;
            padding: 2px 0 0 5px;
            position: absolute;
            right: 0;
            top: 0;
            width: 36px;
        }

        .siteMapNode div.selected {
            font-weight: bold;
        }

.vsToggle {
    background-color: #f16922;
    border-radius: 12px;
    cursor: pointer;
    display: inline-block;
    height: 12px;
    position: relative;
    width: 24px;
    margin-top: 10px;
}

    .vsToggle.checked {
        background-color: #8be801;
    }

    .vsToggle span {
        background-color: white;
        border-radius: 4px;
        height: 8px;
        position: absolute;
        top: 2px;
        width: 8px;
        left: 2px;
    }

    .vsToggle.checked span {
        left: 14px;
    }

.list-group-item.selected {
    font-weight: bold;
    background-color: rgba(95, 190, 127, 0.05);
}

.reportsBrowser {
    background: rgb(204,204,204);
    padding: 0.5cm;
    height: 100%;
    overflow: auto;
}

.reportsPage {
    background: white;
    display: block;
    margin: 0 auto;
    margin-bottom: 0.5cm;
    box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
    width: 22cm;
    min-height: 29.7cm;
    padding: 1cm 1.5cm 2.5cm 1.5cm;
}

    .reportsPage h1 {
        font-family: Arial, Helvetica, sans-serif;
        padding-bottom: 25px;
    }

    .reportsPage h3 {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
    }

/* Navigator */

.navigator-container {
    position: relative;
    z-index: 1;
}

    .navigator-container .navigator {
        position: absolute;
        top: 5px;
        border: solid 1px #e2e2e2;
        float: left;
        width: 300px;
        height: 300px;
        padding-bottom: 55px;
        font-family: Tahoma,Helvetica-Light,arial;
        font-size: 12px;
        background-color: #fff;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
        border-radius: 2px;
    }

    .navigator-container .search-box {
        padding: 15px 10px 0 10px;
        margin: 0 10px 0 10px;
        background-color: #fff;
        height: 55px;
        border-bottom: 1px dashed #d8d8d8;
        position: relative;
    }

    .navigator-container .search-close {
        position: absolute;
        width: 14px;
        height: 14px;
        background: url('../img/menu/search-close.png') no-repeat;
        top: 20px;
        right: 15px;
        opacity: 0.2;
        cursor: pointer;
    }

        .navigator-container .search-close:hover {
            opacity: 0.4;
        }

    .navigator-container .search-box input[type='text'] {
        width: 100%;
        padding: 2px 3px;
        height: 25px;
    }

    .navigator-container .search-results {
        position: absolute;
        background-color: #fff;
        width: 100%;
        height: 100%;
        overflow-y: auto;
    }

    .navigator-container .panels {
        height: 100%;
        width: 100%;
        position: relative;
        overflow: hidden;
    }

    .navigator-container .nodePanel {
        background-color: #fff;
        width: 100%;
        height: 100%;
        float: left;
        position: absolute;
        padding-top: 10px;
    }

        .navigator-container .search-results a,
        .navigator-container .nodePanel a {
            cursor: pointer;
        }

            .navigator-container .search-results a:hover,
            .navigator-container .nodePanel a:hover {
                text-decoration: underline;
            }

        .navigator-container .search-results ul,
        .navigator-container .nodePanel ul {
            list-style: outside none none;
            margin: 0;
            padding: 0;
        }

        .navigator-container .search-results li,
        .navigator-container .nodePanel li {
            border: 0 none;
            position: relative;
            line-height: 24px;
            padding-left: 30px;
        }

            .navigator-container .search-results li:hover,
            .navigator-container .nodePanel li:hover {
                background-color: #f2f2f2;
            }

            .navigator-container .search-results li a::before,
            .navigator-container .nodePanel li a::before {
                background-color: #898989;
                content: '';
                height: 5px;
                left: 20px;
                position: absolute;
                top: 10px;
                width: 5px;
            }

            .navigator-container .nodePanel li.hasChild {
                cursor: pointer;
            }

    .navigator-container .roll-up {
        padding: 1px 20px 10px 20px;
        position: relative;
        margin-left: 15px;
        color: #7e7e7e;
        font-size: 11px;
        font-weight: bold;
        text-transform: uppercase;
        cursor: pointer;
    }

        .navigator-container .roll-up::before {
            background: url('../img/menu/roll-up.png') no-repeat;
            content: '';
            height: 14px;
            width: 14px;
            opacity: 0.2;
            position: absolute;
            top: 0;
            left: 0;
        }

        .navigator-container .roll-up:hover {
            color: #5e5e5e;
        }

            .navigator-container .nodePanel li:hover .drill-down,
            .navigator-container .roll-up:hover::before {
                opacity: 0.4;
            }

    .navigator-container .drill-down {
        background: url('../img/menu/drill-down.png') no-repeat;
        height: 14px;
        width: 14px;
        opacity: 0.2;
        float: right;
        cursor: pointer;
        padding-right: 35px;
        margin-top: 5px;
    }

    .navigator-container .link-active {
        font-weight: bold;
    }

    .navigator-container .hidden {
        display: none;
    }

/* Portrait phones and smaller */
/* class="xs" */
@media (max-width: 767px) {

    .dashboard-menu {
        position: absolute !important;
        top: 0px;
        z-index: 1;
        width: 100%;
        height: 100%;
        display: block;
        overflow: scroll;
    }

    .serverDetailWrapper #noServerSelectedWrapper {
        padding: 50px 0;
    }

    .serversList {
        border-right: none;
        border-bottom: 1px solid #eaeaea;
    }

    .serverDetailWrapper #serverDetailHeader {
        padding: 15px 15px 0 15px;
    }

    .serverDetailWrapper #serverDetailContent {
        padding: 30px 15px;
    }

    .serverDetailWrapper #serverOverview {
        padding: 0;
    }

        .serverDetailWrapper #serverOverview h2 {
            clear: both;
            margin: 64px 0 10px 0;
            height: auto;
            line-height: 32px;
            padding-top: 8px;
        }

        .serverDetailWrapper #serverOverview p {
            height: auto;
            line-height: 19px;
            margin: 0 18px 12px 0;
        }

    #serverDetailHeader .nav-tabs {
        border-bottom: none;
    }

        #serverDetailHeader .nav-tabs li {
            float: none;
        }

            #serverDetailHeader .nav-tabs li a {
                padding: 6px 6px;
            }

                #serverDetailHeader .nav-tabs li a:before {
                    content: '>';
                    display: inline-block;
                    margin: 0 10px 0 0;
                }

    .serverDetailWrapper #noServerSelected {
        padding: 0 15px;
    }

    .serverDetailWrapper .titleTabMobile {
        margin: 0 0 25px;
        font-size: 35px;
    }
}

/* Portrait tablets and small desktops */
/* class="sm" */
@media (min-width: 768px) and (max-width: 991px) {
    .dashboard-menu {
        position: absolute !important;
        top: 0px;
        z-index: 1;
        width: 100%;
        height: 100%;
        display: block;
        overflow: scroll;
    }
}

/* Landscape tablets and medium desktops */
/* class="md" */
@media (min-width: 992px) and (max-width: 1199px) {
}

/* Large desktops and laptops */
/* class="lg" */
@media (min-width: 1200px) {
}

#overview-stats-table td:nth-child(2) {
    text-align: right;
}

.info {
    font-family: Tahoma,Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: normal;
    border: 1px solid;
    margin-bottom: 10px;
    padding: 12px 5px 2px 30px;
    border-radius: 3px;
    background-repeat: no-repeat;
    background-position: 10px 15px;
    color: #00529B;
    background-color: #BDE5F8;
    background-image: url('../lib/highcharts/api/images/information.png');
}

.visible {
    display: block !important;
}

.overflowHidden {
    overflow: hidden !important;
}

.ng-valid[required] {
    border-left: 5px solid #5fbe7f;
}

.ng-touched.ng-invalid {
    border-left: 5px solid #ef3a24;
}

form.ng-touched.ng-invalid {
    border-left: inherit;
}

@media print {
    .noprint {
        display: none;
    }
}