<wj-group-panel [grid]="flex" [placeholder]="'Drag columns here to create groups.'" class="visible"></wj-group-panel>
<wj-flex-grid [itemsSource]="data" control="flex" selectionMode="Row" [isReadOnly]="true" #flex>
    <wj-flex-grid-filter></wj-flex-grid-filter>
    <wj-flex-grid-column [header]="'Device Name'" [binding]="'device_name'" [width]="280" [visible]="false"></wj-flex-grid-column>
    <wj-flex-grid-column [header]="'Disk Name'" [binding]="'disk_name'" [width]="280"></wj-flex-grid-column>
    <wj-flex-grid-column [header]="'Disk Size (GB)'" [binding]="'disk_size'" [width]="200" align="right"></wj-flex-grid-column>
    <wj-flex-grid-column [header]="'Disk Free (GB)'" [binding]="'disk_free'" [width]="200" align="right"></wj-flex-grid-column>
    <wj-flex-grid-column [header]="'Percent Free'" [binding]="'percent_free'" align="right"></wj-flex-grid-column>
    <wj-flex-grid-column [header]="'Last Updated'" [binding]="'last_updated'" [width]="180">
        <template wjFlexGridCellTemplate [cellType]="'Cell'" let-cell="cell">
            {{cell.item.last_updated | date: 'MM/dd/yyyy hh:mm:ss'}}
        </template>
    </wj-flex-grid-column>
</wj-flex-grid>
<div class="btn-group" *ngIf="data != null">
    <button type="button" class="btn btn-default"
            (click)="data.moveToFirstPage()"
            [disabled]="data.pageIndex <= 0">
        <span class="glyphicon glyphicon-fast-backward"></span>
    </button>
    <button type="button" class="btn btn-default"
            (click)="data.moveToPreviousPage()"
            [disabled]="data.pageIndex <= 0">
        <span class="glyphicon glyphicon-step-backward">
        </span>
    </button>
    <button type="button" class="btn btn-default" disabled style="width:100px">
        {{
data.pageIndex + 1 | number
        }} / {{data.pageCount | number}}
    </button>
    <button type="button" class="btn btn-default"
            (click)="data.moveToNextPage()"
            [disabled]="data.pageIndex >= data.pageCount - 1">
        <span class="glyphicon glyphicon-step-forward"></span>
    </button>
    <button type="button" class="btn btn-default"
            (click)="data.moveToLastPage()"
            [disabled]="data.pageIndex >= data.pageCount - 1">
        <span class="glyphicon glyphicon-fast-forward"></span>
    </button>
</div>
<div class="pull-right" *ngIf="data != null">
    <wj-menu [(value)]="pageSize" [header]="'Page size'">
        <wj-menu-item [value]="10">10</wj-menu-item>
        <wj-menu-item [value]="20">20</wj-menu-item>
        <wj-menu-item [value]="50">50</wj-menu-item>
    </wj-menu>
</div>