<div id="zeusContext">

    <div id="zeusContextNavigation">
        <div id="zeusContextNavigationIcon">
            <img class="svgInject" src="/img/menu/dashboard.svg" title="Dashboard" alt="Dashboard" />
        </div>
        <div id="zeusContextNavigationText">
            <h2>
                Exchange Mailbox statistics view
                <app-navigator></app-navigator>
            </h2>
        </div>
    </div>

    <div class="clearfix"></div>
</div>
<div id="zeusContent">
    <div class="widgetWrapper">
        <div class="widgetContent">
            <div class="tab-content">
                <button class="btn btn-primary" (click)="ExportExcel()">Export to Excel</button>
                <wj-group-panel [grid]="flex" [placeholder]="'Drag columns here to create groups.'" class="visible"></wj-group-panel>
                <wj-flex-grid [itemsSource]="data" selectionMode="Row" [isReadOnly]="true" headersVisibility="Column" #flex>
                    <wj-flex-grid-column [header]="'Display Name'" [binding]="'display_name'"></wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'Sam Account Name'" [binding]="'sam_account_name'"></wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'Email address'" [binding]="'primary_smtp_address'"></wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'Company'" [binding]="'company'"></wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'Department'" [binding]="'department'"></wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'Mailbox Size'" [binding]="'total_item_size_mb'"></wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'Total Item Count'" [binding]="'item_count'"></wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'Folder Count'" [binding]="'folder_count'"></wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'Mailbox Database'" [binding]="'database_name'"></wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'Last Logon'" [binding]="'last_logon_time'"></wj-flex-grid-column>
                </wj-flex-grid>
                <div class="btn-group" *ngIf="data != null">
                    <button type="button" class="btn btn-default"
                            (click)="data.moveToFirstPage()"
                            [disabled]="data.pageIndex <= 0">
                        <span class="glyphicon glyphicon-fast-backward"></span>
                    </button>
                    <button type="button" class="btn btn-default"
                            (click)="data.moveToPreviousPage()"
                            [disabled]="data.pageIndex <= 0">
                        <span class="glyphicon glyphicon-step-backward">
                        </span>
                    </button>
                    <button type="button" class="btn btn-default" disabled style="width:100px">
                        {{data.pageIndex + 1 | number}} / {{data.pageCount | number}}
                    </button>
                    <button type="button" class="btn btn-default"
                            (click)="data.moveToNextPage()"
                            [disabled]="data.pageIndex >= data.pageCount - 1">
                        <span class="glyphicon glyphicon-step-forward"></span>
                    </button>
                    <button type="button" class="btn btn-default"
                            (click)="data.moveToLastPage()"
                            [disabled]="data.pageIndex >= data.pageCount - 1">
                        <span class="glyphicon glyphicon-fast-forward"></span>
                    </button>
                </div>
                <div class="pull-right" *ngIf="data != null">
                    <wj-menu [(value)]="pageSize" [header]="'Page size'">
                        <wj-menu-item [value]="10">10</wj-menu-item>
                        <wj-menu-item [value]="20">20</wj-menu-item>
                        <wj-menu-item [value]="50">50</wj-menu-item>
                        <wj-menu-item [value]="100">100</wj-menu-item>
                        <wj-menu-item [value]="200">200</wj-menu-item>
                    </wj-menu>
                </div>
            </div>
        </div>
    </div>
</div>