<div id="zeusContext">
    <div id="zeusContextNavigation">
        <div id="zeusContextNavigationIcon">
            <img class="svgInject" src="/img/servers/MSExchange.svg" title="Alerts" alt="Alerts" />
        </div>
        <div id="zeusContextNavigationText">
            <h2>
                Exchange Mailboxes & Users
            </h2>
            <p>Microsoft Exchange On-Premise</p>
        </div>
    </div>
    <div class="clearfix"></div>
    <br />
    <div class="row">
        <div class="{{widget.css}}" *ngFor="let widget of widgets">
            <div class="widgetWrapper">
                <div class="widgetTitle">
                    {{widget.title}}
                </div>
                <div class="widgetContent" id="{{widget.id}}">
                    <chart [settings]="widget.settings">loading...</chart>
                </div>
            </div>
        </div>
        </div>
        <!--<div class="row">
            <div class="{{widget.css}}" *ngFor="let widget of widgets">
                <div class="widgetWrapper">
                    <div class="widgetTitle">
                        {{widget.title}}
                    </div>
                    <div class="widgetContent" id="{{widget.id}}">
                        <my-widget [contract]="widget">loading...</my-widget>
                    </div>
                </div>
            </div>
            <exchange-mailbox-charts></exchange-mailbox-charts>



        </div>-->
        <div class="row">

            <div>
                <div class="widgetWrapper">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" [class.active]="tab.active" (click)="selectTab(tab)" *ngFor="let tab of tabsData">
                            <a href="javascript:void(0);">{{tab.title}}</a>
                        </li>
                    </ul>
                    <div class="widgetContent">
                        <div class="tab-content">

                            <div #tab></div>

                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>



