    
                <button class="btn btn-primary" (click)="ExportExcel()">Export to Excel</button>
                <button class="btn btn-primary" (click)="moredetails()">more details</button>
                <wj-flex-grid [itemsSource]="data" selectionMode="Row" [isReadOnly]="true" headersVisibility="Column" #flex>
                    
                    <wj-flex-grid-filter></wj-flex-grid-filter>
                    <wj-flex-grid-column [header]="'Display Name'" [binding]="'display_name'" [width]="250"></wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'Identity'" [binding]="'identity'"[width]="250"></wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'Sum Of Mailboxes (GB)'" [binding]="'total_mailboxes_sizes_mb'"[width]="250"></wj-flex-grid-column>
                </wj-flex-grid>
                <div class="btn-group" *ngIf="data != null">
                    <button type="button" class="btn btn-default"
                            (click)="data.moveToFirstPage()"
                            [disabled]="data.pageIndex <= 0">
                        <span class="glyphicon glyphicon-fast-backward"></span>
                    </button>
                    <button type="button" class="btn btn-default"
                            (click)="data.moveToPreviousPage()"
                            [disabled]="data.pageIndex <= 0">
                        <span class="glyphicon glyphicon-step-backward">
                        </span>
                    </button>
                    <button type="button" class="btn btn-default" disabled style="width:100px">
                        {{data.pageIndex + 1 | number}} / {{data.pageCount | number}}
                    </button>
                    <button type="button" class="btn btn-default"
                            (click)="data.moveToNextPage()"
                            [disabled]="data.pageIndex >= data.pageCount - 1">
                        <span class="glyphicon glyphicon-step-forward"></span>
                    </button>
                    <button type="button" class="btn btn-default"
                            (click)="data.moveToLastPage()"
                            [disabled]="data.pageIndex >= data.pageCount - 1">
                        <span class="glyphicon glyphicon-fast-forward"></span>
                    </button>
                </div>
                <div class="pull-right" *ngIf="data != null">
                    <wj-menu [(value)]="pageSize" [header]="'Page size'">
                        <wj-menu-item [value]="10">10</wj-menu-item>
                        <wj-menu-item [value]="20">20</wj-menu-item>
                        <wj-menu-item [value]="50">50</wj-menu-item>
                        <wj-menu-item [value]="100">100</wj-menu-item>
                        <wj-menu-item [value]="200">200</wj-menu-item>
                    </wj-menu>
                </div>
          <wj-popup style="border: 0px; width: 820px" #moredetailsPopup>
    <div class="modal-content">
        <div class="modal-header">
            <table *ngIf="selectedrow!=null">{{selectedrow.display_name}} has access to the following mailboxes</table>
            
            <button type="button" tabindex="-1" class="close wj-hide" (click)="closePopup()" name="cancel">&times;</button>
        </div>
            <wj-flex-grid [itemsSource]="detailsdata" selectionMode="Row" [isReadOnly]="true" headersVisibility="Column" #flex1>
                <wj-flex-grid-filter></wj-flex-grid-filter>
                <wj-flex-grid-column [header]="'Display Name'" [binding]="'display_name'" [width]="200"></wj-flex-grid-column>
                <wj-flex-grid-column [header]="' Mailboxes Sizes (MB)'" [binding]="'mailbox_size_mb'" [width]="250"></wj-flex-grid-column>
            </wj-flex-grid>
           
       
    </div>
</wj-popup>