<button class="btn btn-primary" (click)="ExportExcel()">Export to Excel</button>
<div class="row">
    <div class="form-group col-sm-5">
        <label for="start_date" class="control-label col-sm-2">Month/Year</label>
        <div class="col-sm-3">
            <wj-input-date format="yyyy-MM" [(value)]="filterDate" style="width:125px;" id="start_date" required selectionMode="Month"></wj-input-date>
        </div>
        <div class="col-sm-3">
            <button type="button" class="btn btn-primary" (click)="filterStats()">Filter</button>
        </div>
    </div>
<wj-flex-grid [itemsSource]="data" selectionMode="Row" [frozenColumns]="1" [isReadOnly]="true" headersVisibility="Column" (itemsSourceChanged)="onItemsSourceChanged()" (selectionChanged)="refreshChart($event)" #flex>
    <wj-flex-grid-filter></wj-flex-grid-filter>
    <wj-flex-grid-column [header]="'Device Name'" [binding]="'DeviceName'" [width]="280"></wj-flex-grid-column>
    <wj-flex-grid-column [header]="'Total Routed'" [binding]="'TotalRouted'" align="right"></wj-flex-grid-column>
    <wj-flex-grid-column [header]="'Delivered'" [binding]="'Delivered'" align="right"></wj-flex-grid-column>
    <wj-flex-grid-column [header]="'Transfer Failures'" [binding]="'TransferFailures'" align="right"></wj-flex-grid-column>
    <wj-flex-grid-column [header]="'Total Pending'" [binding]="'TotalPending'" align="right"></wj-flex-grid-column>
    <wj-flex-grid-column [header]="'Avg Delivery Time (sec)'" [binding]="'AvgDeliveryTimeInSeconds'" align="right"></wj-flex-grid-column>
    <wj-flex-grid-column [header]="'Avg Server Hops'" [binding]="'AvgServerHops'" align="right"></wj-flex-grid-column>
    <wj-flex-grid-column [header]="'Avg Size Delivered'" [binding]="'AvgSizeDelivered'" align="right"></wj-flex-grid-column>
    <wj-flex-grid-column [header]="'SMTP Messages Processed'" [binding]="'SmtpMessagesProcessed'" align="right"></wj-flex-grid-column>
</wj-flex-grid>
<div class="btn-group" *ngIf="data != null">
    <button type="button" class="btn btn-default"
            (click)="data.moveToFirstPage()"
            [disabled]="data.pageIndex <= 0">
        <span class="glyphicon glyphicon-fast-backward"></span>
    </button>
    <button type="button" class="btn btn-default"
            (click)="data.moveToPreviousPage()"
            [disabled]="data.pageIndex <= 0">
        <span class="glyphicon glyphicon-step-backward">
        </span>
    </button>
    <button type="button" class="btn btn-default" disabled style="width:100px">
        {{
data.pageIndex + 1 | number
        }} / {{data.pageCount | number}}
    </button>
    <button type="button" class="btn btn-default"
            (click)="data.moveToNextPage()"
            [disabled]="data.pageIndex >= data.pageCount - 1">
        <span class="glyphicon glyphicon-step-forward"></span>
    </button>
    <button type="button" class="btn btn-default"
            (click)="data.moveToLastPage()"
            [disabled]="data.pageIndex >= data.pageCount - 1">
        <span class="glyphicon glyphicon-fast-forward"></span>
    </button>
</div>
<div class="pull-right" *ngIf="data != null">
    <wj-menu [(value)]="pageSize" [header]="'Page size'">
        <wj-menu-item [value]="10">10</wj-menu-item>
        <wj-menu-item [value]="20">20</wj-menu-item>
        <wj-menu-item [value]="50">50</wj-menu-item>
        <wj-menu-item [value]="100">100</wj-menu-item>
        <wj-menu-item [value]="200">200</wj-menu-item>
    </wj-menu>
</div>
</div>