<div id="zeusContext">

    <div id="zeusContextNavigation">
        <div id="zeusContextNavigationIcon">
            <img class="svgInject" src="img/menu/dashboard.svg" title="Dashboard" alt="Dashboard" />
        </div>
        <div id="zeusContextNavigationText">
            <h2>
                Domino Databases
                <!--<app-navigator></app-navigator>-->
            </h2>
            <p>Domino Databases dashboard</p>
        </div>
    </div>

    <div class="clearfix"></div>
</div>
<div id="zeusContent">
    <div class="col-xs-12">
        <div class="widgetWrapper">
            <div class="widgetEditButton"><span aria-hidden="true" class="glyphicon glyphicon-cog"></span></div>
            <div class="widgetContent" id="databaseDetails">
                <vs-overall-database-details>loading...</vs-overall-database-details>
            </div>
        </div>
    </div>
</div>