<wj-flex-grid [itemsSource]="data" control="flex" selectionMode="Row" [frozenColumns]="2" [isReadOnly]="true" #flex>
    <wj-flex-grid-filter></wj-flex-grid-filter>
    <wj-flex-grid-column [header]="'Name'" [binding]="'device_name'" [width]="360"></wj-flex-grid-column>
    <wj-flex-grid-column [header]="'Status'" [binding]="'status_code'" [width]="180" align="center">
        <template wjFlexGridCellTemplate [cellType]="'Cell'" let-cell="cell">
            <div [ngSwitch]="cell.item.status">
                <span *ngSwitchCase="'OK'" class="label label-pill label-success">{{cell.item.status}}</span>
                <span *ngSwitchCase="'Issue'" class="label label-pill label-warning">{{cell.item.status}}</span>
                <span *ngSwitchCase="'Not Responding'" class="label label-pill label-danger">{{cell.item.status}}</span>
                <span *ngSwitchCase="'Maintenance'" class="label label-pill label-info">{{cell.item.status}}</span>
                <span *ngSwitchDefault class="label label-pill label-default">{{cell.item.status}}</span>
            </div>
        </template>
    </wj-flex-grid-column>
    <wj-flex-grid-column [header]="'Avg Thread Pool'" [binding]="'AveragePoolSize'" align="right"></wj-flex-grid-column>
    <wj-flex-grid-column [header]="'Active Thread Count'" [binding]="'ActiveThreadCount'" align="right"></wj-flex-grid-column>
    <wj-flex-grid-column [header]="'Current Heap'" [binding]="'CurrentHeapSize'" align="right"></wj-flex-grid-column>
    <wj-flex-grid-column [header]="'Free Memory'" [binding]="'MemoryFree'" align="right"></wj-flex-grid-column>
    <wj-flex-grid-column [header]="'CPU Utilization'" [binding]="'ProcessCPUUsage'" align="right"></wj-flex-grid-column>
    <wj-flex-grid-column [header]="'Up Time'" [binding]="'UpTime'" align="right"></wj-flex-grid-column>
    <wj-flex-grid-column [header]="'Hung Thread Count'" [binding]="'CurrentHungThreadCount'" align="right"></wj-flex-grid-column>
    
</wj-flex-grid>
<div class="btn-group" *ngIf="data != null">
    <button type="button" class="btn btn-default"
            (click)="data.moveToFirstPage()"
            [disabled]="data.pageIndex <= 0">
        <span class="glyphicon glyphicon-fast-backward"></span>
    </button>
    <button type="button" class="btn btn-default"
            (click)="data.moveToPreviousPage()"
            [disabled]="data.pageIndex <= 0">
        <span class="glyphicon glyphicon-step-backward">
        </span>
    </button>
    <button type="button" class="btn btn-default" disabled style="width:100px">
        {{data.pageIndex + 1 | number}} / {{data.pageCount | number}}
    </button>
    <button type="button" class="btn btn-default"
            (click)="data.moveToNextPage()"
            [disabled]="data.pageIndex >= data.pageCount - 1">
        <span class="glyphicon glyphicon-step-forward"></span>
    </button>
    <button type="button" class="btn btn-default"
            (click)="data.moveToLastPage()"
            [disabled]="data.pageIndex >= data.pageCount - 1">
        <span class="glyphicon glyphicon-fast-forward"></span>
    </button>
</div>
<div class="pull-right" *ngIf="data != null">
    <wj-menu [(value)]="pageSize" [header]="'Page size'">
        <wj-menu-item [value]="10">10</wj-menu-item>
        <wj-menu-item [value]="20">20</wj-menu-item>
        <wj-menu-item [value]="50">50</wj-menu-item>
    </wj-menu>
</div>