<div id="zeusContext">
    <div id="zeusContextNavigation">
        <div id="zeusContextNavigationIcon">
            <img class="svgInject" src="img/menu/dashboard.svg" title="Dashboard" alt="Dashboard" />
        </div>
        <div id="zeusContextNavigationText">
            <h2>
                Overall Sametime Statistics
                <!--<app-navigator></app-navigator>-->
            </h2>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<div id="zeusContent">
    <div class="col-xs-12">
        <div class="widgetWrapper">
            <div class="widgetContent">
                <div>&nbsp;</div>
                <div class="row">
                    <div class="col-sm-4">
                        <label for="start_date" class="control-label col-sm-3">Month/Year:</label>
                        <div class="col-sm-7">
                            <input type="date" class="form-control col-sm-2" id="start_date" required name="start_date" [(ngModel)]="filterDate">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <button type="button" class="btn btn-primary" (click)="filterStats()">Filter</button>
                    </div>
                </div>
                <div>&nbsp;</div>
                <wj-flex-grid #flex [itemsSource]="data" headersVisibility="Column" selectionMode="Row" [frozenColumns]="1" [isReadOnly]="true" (itemsSourceChanged)="onItemsSourceChanged()">
                    <wj-flex-grid-filter></wj-flex-grid-filter>
                    <wj-flex-grid-column [header]="'Server Name'" [binding]="'device_name'" [width]="180" align="right"></wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'Stat Name'" [binding]="'stat_name'" [width]="200" align="right"></wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'Stat Value'" [binding]="'stat_value'" [width]="250" align="right"></wj-flex-grid-column>
                </wj-flex-grid>
                <div class="btn-group" *ngIf="data != null">
                    <button type="button" class="btn btn-default"
                            (click)="data.moveToFirstPage()"
                            [disabled]="data.pageIndex <= 0">
                        <span class="glyphicon glyphicon-fast-backward"></span>
                    </button>
                    <button type="button" class="btn btn-default"
                            (click)="data.moveToPreviousPage()"
                            [disabled]="data.pageIndex <= 0">
                        <span class="glyphicon glyphicon-step-backward">
                        </span>
                    </button>
                    <button type="button" class="btn btn-default" disabled style="width:100px">
                        {{
data.pageIndex + 1 | number
                        }} / {{data.pageCount | number}}
                    </button>
                    <button type="button" class="btn btn-default"
                            (click)="data.moveToNextPage()"
                            [disabled]="data.pageIndex >= data.pageCount - 1">
                        <span class="glyphicon glyphicon-step-forward"></span>
                    </button>
                    <button type="button" class="btn btn-default"
                            (click)="data.moveToLastPage()"
                            [disabled]="data.pageIndex >= data.pageCount - 1">
                        <span class="glyphicon glyphicon-fast-forward"></span>
                    </button>
                </div>
                <div class="pull-right" *ngIf="data != null">
                    <wj-menu [(value)]="pageSize" [header]="'Page size'">
                        <wj-menu-item [value]="10">10</wj-menu-item>
                        <wj-menu-item [value]="20">20</wj-menu-item>
                        <wj-menu-item [value]="50">50</wj-menu-item>
                    </wj-menu>
                </div>
            </div>
        </div>
    </div>
</div>

