<div class="container">
    <h3>Overall Domino Statistics</h3>
    <div class="row">
        <div class="col-sm-6">
            <label for="start_date" class="control-label col-sm-3">Month/Year:</label>
            <div class="col-sm-7">
                <input type="date" class="form-control col-sm-2" id="start_date" required name="start_date" [(ngModel)]="filterDate">
            </div>
        </div>
        <div class="col-sm-6">
            <button type="button" class="btn btn-primary" (click)="filterStats()">Done</button>
        </div>
    </div>
    <wj-group-panel [grid]="flex" [placeholder]="'Drag columns here to create groups.'" class="visible"></wj-group-panel>
    <wj-flex-grid #flex [itemsSource]="data" headersVisibility="Column" selectionMode="Row" [frozenColumns]="1" [isReadOnly]="true">
        <wj-flex-grid-filter></wj-flex-grid-filter>
        <wj-flex-grid-column [header]="'Server Name'" [binding]="'device_name'" [width]="180"></wj-flex-grid-column>
        <wj-flex-grid-column [header]="'Total Mail Delivered'" [binding]="'total_mail_delivered'" [width]="200"></wj-flex-grid-column>
        <wj-flex-grid-column [header]="'Avg Mail Delivery Time (ms)'" [binding]="'avg_mail_delivery'" [width]="250"></wj-flex-grid-column>
        <wj-flex-grid-column [header]="'Avg Server Availability Index'" [binding]="'avg_server_availability_index'" [width]="150"></wj-flex-grid-column>
        <wj-flex-grid-column [header]="'Down Time (min)'" [binding]="'down_time'" [width]="150"></wj-flex-grid-column>
        <wj-flex-grid-column [header]="'Avg Memory % Available'" [binding]="'avg_memory'" [width]="180"></wj-flex-grid-column>
        <wj-flex-grid-column [header]="'Web Documents Opened'" [binding]="'web_documents_opened'" [width]="200"></wj-flex-grid-column>
        <wj-flex-grid-column [header]="'Web Documents Created'" [binding]="'web_documents_created'" [width]="200"></wj-flex-grid-column>
        <wj-flex-grid-column [header]="'Web Databases Opened'" [binding]="'web_database_opened'" [width]="200"></wj-flex-grid-column>
        <wj-flex-grid-column [header]="'Web Views Opened'" [binding]="'web_views_opened'" [width]="200"></wj-flex-grid-column>
        <wj-flex-grid-column [header]="'Web Commands Total'" [binding]="'web_commands_total'" [width]="200"></wj-flex-grid-column>
        <wj-flex-grid-column [header]="'HTTP Sessions'" [binding]="'http_session'" [width]="200"></wj-flex-grid-column>


    </wj-flex-grid>
    <div class="btn-group" *ngIf="data != null">
        <button type="button" class="btn btn-default"
                (click)="data.moveToFirstPage()"
                [disabled]="data.pageIndex <= 0">
            <span class="glyphicon glyphicon-fast-backward"></span>
        </button>
        <button type="button" class="btn btn-default"
                (click)="data.moveToPreviousPage()"
                [disabled]="data.pageIndex <= 0">
            <span class="glyphicon glyphicon-step-backward">
            </span>
        </button>
        <button type="button" class="btn btn-default" disabled style="width:100px">
            {{
data.pageIndex + 1 | number
            }} / {{data.pageCount | number}}
        </button>
        <button type="button" class="btn btn-default"
                (click)="data.moveToNextPage()"
                [disabled]="data.pageIndex >= data.pageCount - 1">
            <span class="glyphicon glyphicon-step-forward"></span>
        </button>
        <button type="button" class="btn btn-default"
                (click)="data.moveToLastPage()"
                [disabled]="data.pageIndex >= data.pageCount - 1">
            <span class="glyphicon glyphicon-fast-forward"></span>
        </button>
    </div>
    <div class="pull-right" *ngIf="data != null">
        <wj-menu [(value)]="pageSize" [header]="'Page size'">
            <wj-menu-item [value]="10">10</wj-menu-item>
            <wj-menu-item [value]="20">20</wj-menu-item>
            <wj-menu-item [value]="50">50</wj-menu-item>
        </wj-menu>
    </div>
</div>
