<?xml version="1.0"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
	<appSettings>
		<add key="logFile" value="VSLog.log" />
		<add key="UserName" value="info@RPRVitalSigns.com" />
		<add key="Password" value="xxx@o365" />
		<add key="ScanIntervalMins" value="10" />
		<add key="Country" value="United States" />
		<add key="State" value="New Jersey" />
		<add key="City" value="Parlin" />
		<add key="serviceURL" value="http://jnitinc.com/WebService" />
		<add key="PingURL" value="https://outlook.office365.com" />
		<add key="URL" value="https://Office365Health.com" />
		<add key="PingTest" value="True" />
		<add key="ServerLoginTest" value="False" />
		<add key="SPOLoginTest" value="True" />
		
	</appSettings>
</configuration>
