body{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;font-family:Arial, Helvetica, sans-serif; color:#666; font-size:12px; overflow-x:hidden;}

/*
@font-face {
    font-family: Arial, Helvetica, sans-serif; 
    src: url('../fonts/Myriadpro/myriadpro-regular.eot');
    src: url('../fonts/Myriadpro/myriadpro-regular.eot') format('embedded-opentype'),
         url('../fonts/Myriadpro/myriadpro-regular.woff') format('woff'),
         url('../fonts/Myriadpro/myriadpro-regular.ttf') format('truetype'),
         url('../fonts/Myriadpro/myriadpro-regular.svg#MyriadProRegular') format('svg');
}
*/


*{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}
.main{width:100%; height:auto; background:#dee2c2 url(../images/bg.png) no-repeat top center; background-size:100%;}

.container{width:1000px; height:auto; margin:0 auto;}

.header{width:1000px; height:110px; float:left; display:inline;}

.logo_left{width:220px; height:45px; float:left; display:inline; margin:25px 0 0 0;}
.logo_right{width:230px; height:50px; float:right; display:inline; margin:25px 0 0 0; }
.welcome_div{width:120px; height:30px; float:left; display:inline; text-align:right; padding:5px 10px 0 0;}
.rpr_logo{width:85px; height:41px; float:right; display:inline; padding:0 0px 0 10px; border-left:#999999 1px solid;}



.login_div{width:306px; min-height:410px; height:auto; float:left; display:inline; margin:85px 0 20px 110px; background:#edf0e5; border:#c6d0d0 1px solid; border-radius:5px;}
.login_div_top{width:308px; height:38px; float:left; display:inline; margin:-1px 0 0 -1px; background:#ed1c24; border-radius:5px; padding:15px 0 0 0; text-align:center; font-family:Arial, Helvetica, sans-serif; font-size:21px; color:#FFF;}
.login_div_bot{width:266px; height:auto; float:left; display:inline; padding:30px 20px 10px 20px;}

.captcha_div{width:285px; height:auto; float:left; display:inline; margin:0 0 0 -10px; display:none;}
.captcha_div2{width:285px; height:auto; float:left; display:inline; margin:0 0 0 -10px;}

.dash_main_div{width:290px; height:auto; float:right; display:inline; margin:280px 55px 0 0;}
.iphone_div{width:120px; height:100px; background:#ee6e67; border-radius:60px; margin:10px; float:left; display:inline; text-align:center; padding:10px 0 10px 0;}
.iphone_div a{text-decoration:none;}
.android_div{width:120px; height:100px; background:#5fb357; border-radius:60px; margin:10px; float:left; display:inline; text-align:center; padding:10px 0 10px 0;}
.android_div a{text-decoration:none;}

.body_txt{font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#414042; text-align:center; padding:0 5px 0 5px; margin:0 0 15px 0;}
.body_txt2{font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#FFF; text-align:center; }
.body_txt3{font-family:Arial, Helvetica, sans-serif; font-size:20px; color:#FFF; text-align:center; }

.user_txt{font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#414042; }
.forgot_txt{font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#414042; }

.dash_txt{font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#006ec6; }




.clear{clear:both;}
.gap{height:5px;}
.marg{margin:0 5px 0 0;}
.br_line{border-bottom:#a0a0a0 1px solid;}


.txt_box_form{font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#414042; padding:2px 5px 2px 5px; height:23px; width:255px; background:#fefefe; border:#c9c9c9 1px solid; margin:10px 0 10px 0;}

.msg_box_form{font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#414042; padding:2px 5px 2px 5px; height:73px; width:400px; background:none; border:#8b8c82 1px solid; margin:10px 0 10px 0;}

.submit_btn{font-family:Arial, Helvetica, sans-serif; font-size:16px; color:#FFF; font-weight:bold; background:#006ec6; border:#00639e 1px solid; width:170px; height:38px; padding:1px 20px 2px 20px; border-radius:5px; border:none; cursor:pointer; margin:5px 0 10px 50px; letter-spacing:1px;}

.dash_btn{font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#414042; background:#ccd1a9; border:#c9c9c9 1px solid; 
          width:auto; height:30px; padding:1px 3px 2px 3px; border-radius:5px; border:none; cursor:pointer; margin:10px 0px 5px 5px; letter-spacing:1px;}
.dash_btn:hover{background:#8cb2d0;}




.links{font-family:Arial, Helvetica, sans-serif; color:#414042;}
.links a{text-decoration:none; color:#414042;}
.links a:hover{text-decoration:none; color:#006ec6;}

.links2{font-family:Arial, Helvetica, sans-serif; color:#006ec6;}
.links2 a{text-decoration:none; color:#006ec6;}
.links2 a:hover{text-decoration:none; color:#414042;}



.wrapper_footer{width:100%; height:20px; padding:10px 0 10px 0; background:#ccd1a9;}
.footer{width:1000px; height:20px; margin:0 auto; font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#000;}

