<div class="container">

    <wj-flex-grid #flex [itemsSource]="data" selectionMode="Row" [frozenColumns]="1" [isReadOnly]="true" headersVisibility="Column">
        <wj-flex-grid-filter></wj-flex-grid-filter>
        <wj-flex-grid-column [header]="'Server Name'" [binding]="'device_name'" [width]="180"></wj-flex-grid-column>

        <wj-flex-grid-column [header]="'Overall Status'" [binding]="'StatusCode'" [width]="200" align="center">

            <template wjFlexGridCellTemplate [cellType]="'Cell'" let-cell="cell">
                <div [ngSwitch]="cell.item.StatusCode">
                    <span *ngSwitchCase="'OK'" class="label label-pill label-success">{{cell.item.StatusCode}}</span>
                    <span *ngSwitchCase="'Not Responding'" class="label label-pill label-danger">{{cell.item.StatusCode}}</span>
                    <span *ngSwitchCase="'Issue'" class="label label-pill label-default">{{cell.item.StatusCode}}</span>
                    <span *ngSwitchDefault class="label label-pill label-default">{{cell.item.StatusCode}}</span>
                </div>
            </template>
        </wj-flex-grid-column>
        <wj-flex-grid-column [header]="'Pending Mail'" [binding]="'pending_mail'" [width]="120"></wj-flex-grid-column>
        <wj-flex-grid-column [header]="'Held Mail'" [binding]="'held_mail'" [width]="100"></wj-flex-grid-column>
        <wj-flex-grid-column [header]="'Dead Mail'" [binding]="'dead_mail'" [width]="100"></wj-flex-grid-column>
        <wj-flex-grid-column [header]="'Location'" [binding]="'location'" [width]="100"></wj-flex-grid-column>
        <wj-flex-grid-column [header]="'Category'" [binding]="'category'" [width]="100"></wj-flex-grid-column>
        <wj-flex-grid-column [header]="'Last Updated'" [binding]="'last_updated'" [width]="200"></wj-flex-grid-column>
    </wj-flex-grid>
    <div class="btn-group" *ngIf="data != null">
        <button type="button" class="btn btn-default"
                (click)="data.moveToFirstPage()"
                [disabled]="data.pageIndex <= 0">
            <span class="glyphicon glyphicon-fast-backward"></span>
        </button>
        <button type="button" class="btn btn-default"
                (click)="data.moveToPreviousPage()"
                [disabled]="data.pageIndex <= 0">
            <span class="glyphicon glyphicon-step-backward">
            </span>
        </button>
        <button type="button" class="btn btn-default" disabled style="width:100px">
            {{
data.pageIndex + 1 | number
            }} / {{data.pageCount | number}}
        </button>
        <button type="button" class="btn btn-default"
                (click)="data.moveToNextPage()"
                [disabled]="data.pageIndex >= data.pageCount - 1">
            <span class="glyphicon glyphicon-step-forward"></span>
        </button>
        <button type="button" class="btn btn-default"
                (click)="data.moveToLastPage()"
                [disabled]="data.pageIndex >= data.pageCount - 1">
            <span class="glyphicon glyphicon-fast-forward"></span>
        </button>
    </div>
    <div class="pull-right" *ngIf="data != null">
        <wj-menu [(value)]="pageSize" [header]="'Page size'">
            <wj-menu-item [value]="10">10</wj-menu-item>
            <wj-menu-item [value]="20">20</wj-menu-item>
            <wj-menu-item [value]="50">50</wj-menu-item>
        </wj-menu>
    </div>
</div>