.lbl{}
.txtsmall{width:30px; }
.txtmed{width:100px; }
.txtbig{width:400px; }
.lblsmallFont{font-weight:normal;color:#0033CC;font-family: Arial, Helvetica, sans-serif; font-size:12px;
    margin-right: 9px;
}
.lblsmallFontR{font-weight:normal;color:#0033CC;font-family: Arial, Helvetica, sans-serif; font-size:12px;
    margin-right: 9px; text-align:right;
}
/*              font-size:9.5pt;font-family:Microsoft Sans Serif;#15428B*/
.txtsmallFont{font-size:10px;font-family:Arial;font-weight:bold;color:Black}
    
.HeaderText{font-size:large;color:#182A50;font-family:Tahoma; font-weight:bold }
.header
{
   color: Black; font-weight:normal; font-family: 'Francois One', serif; font-size: 26px;
}
.subheader
{
    color: Black; font-weight:normal; font-family: 'Francois One', serif; font-size: 18px;
}
.scan
{ 
    color: Black; font-weight:normal; font-family: 'Francois One', serif; font-size: 12px; 
}
.HeaderLabel
{
    color: White; font-weight:normal; font-family: 'Francois One', serif; font-size: 44px;
}
.SubHeaderLabel
{
    color: White; font-weight:normal; font-family: 'Francois One', serif; font-size: 18px;
}
.StatusLabel 
{
    font-family: 'Francois One', serif;
    text-align:center;
    width:100px;
    font-size: 12px;
    color: Black;
}
.OK 
{
    font-family: 'Francois One', serif; font-size: 26px; font-weight: normal;
    text-align:center;
    background-color:#008000;
    width:100px;
    color: White;
}	
.OKUL
{
    font-family: 'Francois One', serif; font-size: 14px; font-weight: normal;
    text-align:center;
    background-color:#008000;
    color: White;
}
.Issue
{
    font-family: 'Francois One', serif; font-size: 18px; font-weight: normal;
    text-align:center;
    background-color:#f2f200;
    width:100px;
    color:#505050;
}
.IssueUL
{
    font-family: 'Francois One', serif; font-size: 14px; font-weight: normal;
    text-align:center;
    background-color:#f2f200;
    color:#505050;
}
.Maintenance
{
    font-family: 'Francois One', serif; font-size: 18px; font-weight: normal;
    text-align:center;
    background-color: #505050;
    width:100px;
    color: White;
}
.MaintenanceUL
{
    font-family: 'Francois One', serif; font-size: 14px; font-weight: normal;
    text-align:center;
    background-color: #505050;
    color: White;
}
.NotResponding
{
    font-family: 'Francois One', serif; font-size: 18px; font-weight: normal;
    text-align:center;
    background-color:#ff0000;
    width:100px;
    color: White;
}
.NotRespondingUL
{
    font-family: 'Francois One', serif; font-size: 14px; font-weight: normal;
    text-align:center;
    background-color:#ff0000;
    color: White;
}
.NotScanned
{
    font-family: 'Francois One', serif; font-size: 18px; font-weight: normal;
    text-align:center;
    background-color:#87CEEB;
    width:100px;
    color: White;
}





/*  For Grid */
.GridCss label{font-weight:normal;color:#0033CC;font-family:Arial, Helvetica, sans-serif; font-size:12px;} 
.GridCss input{font-weight:normal;color:#0033CC;font-family:Arial, Helvetica, sans-serif; font-size:12px;} 
.GridCss {font-weight:normal;color:#0033CC;font-family:Arial, Helvetica, sans-serif; font-size:12px;text-align:left;} 

.GridCss a{font-weight:normal;color:#0033CC;font-family:Arial, Helvetica, sans-serif; font-size:12px;text-decoration:none;} 
.GridCss a:hover{font-weight:normal;color:#0033CC;font-family:Arial, Helvetica, sans-serif; font-size:12px;text-decoration:underline;} 
.GridCss a:visited{font-weight:normal;color:#0033CC;font-family:Arial, Helvetica, sans-serif; font-size:12px;text-decoration:none;} 
.GridCss td{font-weight:normal;color:#0033CC;font-family:Arial, Helvetica, sans-serif; font-size:12px;vertical-align:middle;} 
                

.GridCss1 {font-weight:normal;color:#0033CC;font-family:Arial, Helvetica, sans-serif; font-size:12px;text-align:center;vertical-align:middle;} 
.GridCss1 a{font-weight:normal;color:#0033CC;font-family:Arial, Helvetica, sans-serif; font-size:12px;text-decoration:none;} 
.GridCss1 a:hover{font-weight:normal;color:#0033CC;font-family:Arial, Helvetica, sans-serif; font-size:12px;text-decoration:underline;} 
.GridCss1 a:visited{font-weight:normal;color:#0033CC;font-family:Arial, Helvetica, sans-serif; font-size:12px;text-decoration:none;} 
.GridCss1 td{font-weight:normal;color:#0033CC;font-family:Arial, Helvetica, sans-serif; font-size:12px;text-align:center; vertical-align:middle;} 

.GridCss2 {font-weight:normal;color:#0033CC;font-family:Arial, Helvetica, sans-serif; font-size:12px;text-align:right;vertical-align:middle;} 
.GridCss2 a{font-weight:normal;color:#0033CC;font-family:Arial, Helvetica, sans-serif; font-size:12px;text-decoration:none;} 
.GridCss2 a:hover{font-weight:normal;color:#0033CC;font-family:Arial, Helvetica, sans-serif; font-size:12px;text-decoration:underline;} 
.GridCss2 a:visited{font-weight:normal;color:#0033CC;font-family:Arial, Helvetica, sans-serif; font-size:12px;text-decoration:none;} 
.GridCss2 td{font-weight:normal;color:#0033CC;font-family:Arial, Helvetica, sans-serif; font-size:12px;text-align:right;vertical-align:middle;} 

.GridCss3 {font-weight:normal;color:white;font-family:Arial, Helvetica, sans-serif; font-size:12px;text-align:center;} 
.GridCss3 a{font-weight:normal;color:white;font-family:Arial, Helvetica, sans-serif; font-size:12px;text-decoration:none;} 
.GridCss3 a:hover{font-weight:normal;color:white;font-family:Arial, Helvetica, sans-serif; font-size:12px;text-decoration:underline;} 
.GridCss3 a:visited{font-weight:normal;color:white;font-family:Arial, Helvetica, sans-serif; font-size:12px;text-decoration:none;} 
.GridCss3 td{font-weight:normal;color:#0033CC;font-family:Arial, Helvetica, sans-serif; font-size:12px;text-align:center; vertical-align:middle;} 

.GridCssHeader{font-weight:bold; color:#0033CC;font-family:Arial, Helvetica, sans-serif; font-size:12px;text-align:left;} 
.GridCssHeaderWrap{font-weight:bold; color:#0033CC;font-family:Arial, Helvetica, sans-serif; font-size:12px;text-align:left; word-break:break-all;} 
.GridCssHeader  td {font-weight:bold; color:#0033CC;font-family:Arial, Helvetica, sans-serif; font-size:12px;text-align:left;} 


.GridCssHeader1{font-weight:bold; color:#0033CC;font-family:Arial, Helvetica, sans-serif; font-size:12px;text-align:center;} 
.GridCssHeader1  td {font-weight:bold; color:#0033CC;font-family:Arial, Helvetica, sans-serif; font-size:12px;text-align:center;} 

/* 10/18/2013 NS added */
.GridCssHeader2 {font-weight:bold; color:#0033CC;font-family:Arial, Helvetica, sans-serif; font-size:12px;text-align:right;} 
.GridCssHeader2  td {font-weight:bold; color:#0033CC;font-family:Arial, Helvetica, sans-serif; font-size:12px;text-align:right;} 

.GridAltrow
{
  background-color: #ADD8E6;   /* #F4F6F9;*/
}
.GridGroupRow
{
   font-size:medium;
   font-weight:bold;
    
}
.GridCssEditForm
{
    background-color: transparent;
}
                
