
<div id="zeusContext">

    <div id="zeusContextNavigation">
        <div id="zeusContextNavigationIcon">
            <img class="svgInject" src="/img/menu/dashboard.svg" title="Dashboard" alt="Dashboard" />
        </div>
        <div id="zeusContextNavigationText">
            <h2>
                Issues
                <app-navigator></app-navigator>
            </h2>
            <p>Issues list</p>
        </div>
    </div>

    <div class="clearfix"></div>
</div>

<div id="zeusContent">
    <div class="widgetWrapper">
        <div class="widgetContent">
            <div class="tab-content">

                <wj-flex-grid #flex [itemsSource]="data" selectionMode="Row" [frozenColumns]="1" [isReadOnly]="true" headersVisibility="Column">
                    <wj-flex-grid-filter></wj-flex-grid-filter>
                    <wj-flex-grid-column [header]="'Server Name'" [binding]="'device'" [width]="300"></wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'Server Type'" [binding]="'device_type'" [width]="150"></wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'Test Name'" [binding]="'event_type'" [width]="300"></wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'Details'" [binding]="'details'" [width]="300">
                        <template wjFlexGridCellTemplate [cellType]="'Cell'" let-cell="cell">
                            <div data-toggle="tooltip" data-placement="top" title={{cell.item.details}}>
                                {{cell.item.details}}
                            </div>
                        </template>
                    </wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'Last Update'" [binding]="'event_detected'" [width]="300"></wj-flex-grid-column>
                </wj-flex-grid>
                <div class="btn-group" *ngIf="data != null">
                    <button type="button" class="btn btn-default"
                            (click)="data.moveToFirstPage()"
                            [disabled]="data.pageIndex <= 0">
                        <span class="glyphicon glyphicon-fast-backward"></span>
                    </button>
                    <button type="button" class="btn btn-default"
                            (click)="data.moveToPreviousPage()"
                            [disabled]="data.pageIndex <= 0">
                        <span class="glyphicon glyphicon-step-backward">
                        </span>
                    </button>
                    <button type="button" class="btn btn-default" disabled style="width:100px">
                        {{
data.pageIndex + 1 | number
                        }} / {{data.pageCount | number}}
                    </button>
                    <button type="button" class="btn btn-default"
                            (click)="data.moveToNextPage()"
                            [disabled]="data.pageIndex >= data.pageCount - 1">
                        <span class="glyphicon glyphicon-step-forward"></span>
                    </button>
                    <button type="button" class="btn btn-default"
                            (click)="data.moveToLastPage()"
                            [disabled]="data.pageIndex >= data.pageCount - 1">
                        <span class="glyphicon glyphicon-fast-forward"></span>
                    </button>
                </div>
                <div class="pull-right" *ngIf="data != null">
                    <wj-menu [(value)]="pageSize" [header]="'Page size'">
                        <wj-menu-item [value]="10">10</wj-menu-item>
                        <wj-menu-item [value]="20">20</wj-menu-item>
                        <wj-menu-item [value]="50">50</wj-menu-item>
                    </wj-menu>
                </div>
            </div>
        </div>
    </div>
</div>
