<wj-group-panel [grid]="flex" [placeholder]="'Drag columns here to create groups.'" class="visible"></wj-group-panel>
<wj-flex-grid [itemsSource]="data" selectionMode="Row" [frozenColumns]="2" [isReadOnly]="true" #flex>
    <wj-flex-grid-filter></wj-flex-grid-filter>
    <wj-flex-grid-column [header]="'User Name'" [binding]="'user_name'" [width]="200"></wj-flex-grid-column>
    <wj-flex-grid-column [header]="'Device Name'" [binding]="'device'"></wj-flex-grid-column>
    <wj-flex-grid-column [header]="'OS Type'" [binding]="'os_type'"></wj-flex-grid-column>
    <wj-flex-grid-column [header]="'Last Sync Time'" [binding]="'last_sync_time'" [width]="180">
        <template wjFlexGridCellTemplate [cellType]="'Cell'" let-cell="cell">
            {{cell.item.last_sync_time | date: 'MM/dd/yyyy hh:mm:ss'}}
        </template>
</wj-flex-grid-column>
    <wj-flex-grid-column [header]="'Access'" [binding]="'access'" align="center">
        <template wjFlexGridCellTemplate [cellType]="'Cell'" let-cell="cell">
            <span *ngIf="cell.item.access == 'Allow'" class="label label-pill label-success">Allow</span>
            <span *ngIf="cell.item.access == 'Blocked'" class="label label-pill label-danger">Blocked</span>
        </template>
    </wj-flex-grid-column>
    <wj-flex-grid-column [header]="'Device ID'" [binding]="'device_id'" [width]="240"></wj-flex-grid-column>
</wj-flex-grid>
<div class="btn-group" *ngIf="data != null">
    <button type="button" class="btn btn-default"
            (click)="data.moveToFirstPage()"
            [disabled]="data.pageIndex <= 0">
        <span class="glyphicon glyphicon-fast-backward"></span>
    </button>
    <button type="button" class="btn btn-default"
            (click)="data.moveToPreviousPage()"
            [disabled]="data.pageIndex <= 0">
        <span class="glyphicon glyphicon-step-backward">
        </span>
    </button>
    <button type="button" class="btn btn-default" disabled style="width:100px">
        {{data.pageIndex + 1 | number}} / {{data.pageCount | number}}
    </button>
    <button type="button" class="btn btn-default"
            (click)="data.moveToNextPage()"
            [disabled]="data.pageIndex >= data.pageCount - 1">
        <span class="glyphicon glyphicon-step-forward"></span>
    </button>
    <button type="button" class="btn btn-default"
            (click)="data.moveToLastPage()"
            [disabled]="data.pageIndex >= data.pageCount - 1">
        <span class="glyphicon glyphicon-fast-forward"></span>
    </button>
</div>
<div class="pull-right" *ngIf="data != null">
    <wj-menu [(value)]="pageSize" [header]="'Page size'">
        <wj-menu-item [value]="10">10</wj-menu-item>
        <wj-menu-item [value]="20">20</wj-menu-item>
        <wj-menu-item [value]="50">50</wj-menu-item>
    </wj-menu>
</div>