<div class="widgetWrapper">
    <div class="widgetContent">
        <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12">
            <div class="row">
                <div class="alert alert-info col-lg-12">
                    You may set an alert threshold on any Server Statistic that is maintained by Domino, such as servers, users or number of transactions per minute.
                </div>
                <div class="grid-sort-group"  *ngIf="data">

                    <!-- edit details in a popup -->
                    <button class="btn btn-success" (click)="editCustomStat(frmDialog)" [disabled]="data.itemCount==0">
                        Edit
                    </button>
                    <button class="btn btn-success" (click)="addCustomStat(frmDialog)">
                        Add
                    </button>
                    <button class="btn btn-success" (click)="delteCustomStatistics();" [disabled]="data.itemCount==0">
                        Delete
                    </button>
                </div>
                <div>&nbsp;</div>
                <wj-flex-grid #flex [itemsSource]="data" headersVisibility="Column" selectionMode="Row" [frozenColumns]="1" [isReadOnly]="true">
                    <wj-flex-grid-filter></wj-flex-grid-filter>
                    <wj-flex-grid-column [header]="'Statistic'" [binding]="'stat_name'" [width]="220"></wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'Threshold Value'" [binding]="'yellow_threshold'" [width]="200" align="right"></wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'Repeat Factor'" [binding]="'times_in_a_row'" [width]="200"></wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'Comparison'" [width]="200">
                        <template wjFlexGridCellTemplate [cellType]="'Cell'" let-cell="cell">
                            <div [ngSwitch]="cell.item.type_of_statistic">
                                <span *ngSwitchCase="'String'">{{cell.item.equal_or_not_equal}}</span>
                                <span *ngSwitchDefault >{{cell.item.greater_than_or_less_than}}</span>
                            </div>
                        </template>
                    </wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'Console Command'" [binding]="'console_command'" [width]="200"></wj-flex-grid-column>
                </wj-flex-grid>
                <div class="btn-group" *ngIf="data != null">
                    <button type="button" class="btn btn-default"
                            (click)="data.moveToFirstPage()"
                            [disabled]="data.pageIndex <= 0">
                        <span class="glyphicon glyphicon-fast-backward"></span>
                    </button>
                    <button type="button" class="btn btn-default"
                            (click)="data.moveToPreviousPage()"
                            [disabled]="data.pageIndex <= 0">
                        <span class="glyphicon glyphicon-step-backward">
                        </span>
                    </button>
                    <button type="button" class="btn btn-default" disabled style="width:100px">
                        {{
data.pageIndex + 1 | number
                        }} / {{data.pageCount | number}}
                    </button>
                    <button type="button" class="btn btn-default"
                            (click)="data.moveToNextPage()"
                            [disabled]="data.pageIndex >= data.pageCount - 1">
                        <span class="glyphicon glyphicon-step-forward"></span>
                    </button>
                    <button type="button" class="btn btn-default"
                            (click)="data.moveToLastPage()"
                            [disabled]="data.pageIndex >= data.pageCount - 1">
                        <span class="glyphicon glyphicon-fast-forward"></span>
                    </button>
                </div>
                <div class="pull-right" *ngIf="data != null">
                    <wj-menu [(value)]="pageSize" [header]="'Page size'">
                        <wj-menu-item [value]="10">10</wj-menu-item>
                        <wj-menu-item [value]="20">20</wj-menu-item>
                        <wj-menu-item [value]="50">50</wj-menu-item>
                    </wj-menu>
                </div>
                <div>&nbsp;</div>
                <wj-popup class="modal-content col-sm-8" style="height:70%;overflow:auto" #frmDialog>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            {{formTitle}}
                            <button type="button" tabindex="-1" class="close wj-hide" (click)="cancelEditAdd()" name="cancel">&times;</button>
                        </div>
                        <form (ngSubmit)="saveCustomStatistics(frmDialog)" #frmUser="ngForm" class="form-horizontal">
                            <div class="panel-body" *ngIf="currentEditItem">
                                <div class="panel panel-default">
                                    <div class="panel-heading">Alert Setting</div>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="form-group col-sm-12">
                                                <label for="stat_name" class="control-label col-sm-4">Trigger an alert if this statistic</label>
                                                <div class="col-sm-7">
                                                    <input type="text" class="form-control" id="stat_name" required name="stat_name" [(ngModel)]="currentEditItem.stat_name" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-sm-12">
                                                <label class="control-label col-sm-4">...type of statistic:</label>
                                                <div class="col-sm-8">
                                                    <div class="radio radio-info radio-inline col-sm-12">
                                                        <input type="radio" id="numeric" name="type_of_statistic" value="Numeric" [(ngModel)]="currentEditItem.type_of_statistic" />
                                                        <label for="numeric" class="col-sm-3">Numeric</label>
                                                        <input type="radio" id="string" name="type_of_statistic" value="String" [(ngModel)]="currentEditItem.type_of_statistic" />
                                                        <label for="string" class="col-sm-3">String</label>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-sm-12" *ngIf="currentEditItem.type_of_statistic=='Numeric'">
                                                <label class="control-label col-sm-4">...has a value that is</label>
                                                <div class="col-sm-8">
                                                    <div class="radio radio-info radio-inline col-sm-12">
                                                        <input type="radio" id="greater_than" name="greater_than_or_less_than" value="Greater Than" [(ngModel)]="currentEditItem.greater_than_or_less_than" />
                                                        <label for="greater_than" class="col-sm-3">Greater Than</label>
                                                        <input type="radio" id="less_than" name="greater_than_or_less_than" value="Less Than" [(ngModel)]="currentEditItem.greater_than_or_less_than" />
                                                        <label for="less_than" class="col-sm-3">Less Than</label>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-sm-12" *ngIf="currentEditItem.type_of_statistic=='String'">
                                                <label class="control-label col-sm-4">...has a value that is</label>
                                                <div class="col-sm-8">
                                                    <div class="radio radio-info radio-inline col-sm-12">
                                                        <input type="radio" id="equal" name="eual_or_not_equal" value="Equal" [(ngModel)]="currentEditItem.equal_or_not_equal" />
                                                        <label for="equal" class="col-sm-3">Equal</label>
                                                        <input type="radio" id="not_equal" name="eual_or_not_equal" value="Not Equal" [(ngModel)]="currentEditItem.equal_or_not_equal" />
                                                        <label for="not_equal" class="col-sm-3">Not Equal</label>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-sm-12" *ngIf="currentEditItem.type_of_statistic=='Numeric'">
                                                <label for="yellow_threshold" class="control-label col-sm-4">...this value</label>
                                                <div class="col-sm-2">
                                                    <input type="number" class="form-control" id="yellow_threshold" name="yellow_threshold" [(ngModel)]="currentEditItem.yellow_threshold" />
                                                </div>
                                                <div class="col-sm-2">
                                                    <input type="number" class="form-control" id="times_in_a_row" name="times_in_a_row" [(ngModel)]="currentEditItem.times_in_a_row" 
                                                           onkeypress='return event.charCode >= 48 && event.charCode <= 57' />
                                                </div>
                                                <label for="times_in_a_row" class="control-label col-sm-2">times in a row</label>
                                            </div>
                                        </div>
                                        <div class="row" *ngIf="currentEditItem.type_of_statistic=='String'">
                                            <div class="form-group col-sm-12">
                                                <label for="yellow_threshold" class="control-label col-sm-4">...this value</label>
                                                <div class="col-sm-2">
                                                    <input type="text" class="form-control" name="string_value" [(ngModel)]="currentEditItem.yellow_threshold" />
                                                </div>
                                                <div class="col-sm-2">
                                                    <input type="number" class="form-control" name="string_times_in_a_row" [(ngModel)]="currentEditItem.times_in_a_row" 
                                                           onkeypress='return event.charCode >= 48 && event.charCode <= 57' />
                                                </div>
                                                <label for="times_in_a_row" class="control-label col-sm-2">times in a row</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">Action (optional)</div>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="form-group col-sm-12">
                                                <label for="console_command" class="control-label col-sm-4">Console Command</label>
                                                <div class="col-sm-4">
                                                    <input type="text" class="form-control" id="console_command" name="console_command" [(ngModel)]="currentEditItem.console_command">
                                                </div>
                                                <div class="form-group col-sm-4">
                                                    <label class="control-label"> for example: Tell HTTP Restart</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">Domino Servers</div>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="text-danger" *ngIf="devices.length==0"><b>* Please select at least one server</b></div>
                                                <div *ngIf="devices.length==0">&nbsp;</div>
                                                <server-location-list (checkedDevices)="changeInDevices($event)" [(deviceList)]="checkedDevices" [(deviceType)]="currentDeviceType"></server-location-list>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-footer">
                                <button class="btn btn-primary" type="submit" name="submit" [disabled]="!(frmUser.form.valid && devices.length>0)">Save</button>
                                <button class="btn btn-primary wj-hide " type="button" name="cancel" (click)="cancelEditAdd()">Cancel</button>
                            </div>
                        </form>
                    </div>
                </wj-popup>
            </div>
        </div>
    </div>
</div>