<div class="widgetWrapper">
    <div class="widgetContent">
        <div class="grid-sort-group">

            <!-- edit details in a popup -->
            <button class="btn btn-default" (click)="editGridRow(frmDialog)">
                Edit
            </button>
            <button class="btn btn-default" (click)="addTravelerData(frmDialog)">
                Add
            </button>
            <button class="btn btn-default" (click)="delteTravelerDataStore();">
                Delete
            </button>
        </div>
        <div>&nbsp;</div>
        <wj-flex-grid #flex [itemsSource]="data" headersVisibility="Column" selectionMode="Row" [frozenColumns]="1" [isReadOnly]="true">
            <wj-flex-grid-filter></wj-flex-grid-filter>
            <wj-flex-grid-column [header]="'Traveler Service Pool Name'" [binding]="'traveler_service_pool_name'" [width]="300"></wj-flex-grid-column>
            <wj-flex-grid-column [header]="'Server Name'" [binding]="'device_name'" [width]="300"></wj-flex-grid-column>
        </wj-flex-grid>
        <div class="btn-group" *ngIf="data != null">
            <button type="button" class="btn btn-default"
                    (click)="data.moveToFirstPage()"
                    [disabled]="data.pageIndex <= 0">
                <span class="glyphicon glyphicon-fast-backward"></span>
            </button>
            <button type="button" class="btn btn-default"
                    (click)="data.moveToPreviousPage()"
                    [disabled]="data.pageIndex <= 0">
                <span class="glyphicon glyphicon-step-backward">
                </span>
            </button>
            <button type="button" class="btn btn-default" disabled style="width:100px">
                {{
data.pageIndex + 1 | number
                }} / {{data.pageCount | number}}
            </button>
            <button type="button" class="btn btn-default"
                    (click)="data.moveToNextPage()"
                    [disabled]="data.pageIndex >= data.pageCount - 1">
                <span class="glyphicon glyphicon-step-forward"></span>
            </button>
            <button type="button" class="btn btn-default"
                    (click)="data.moveToLastPage()"
                    [disabled]="data.pageIndex >= data.pageCount - 1">
                <span class="glyphicon glyphicon-fast-forward"></span>
            </button>
        </div>
        <div class="pull-right" *ngIf="data != null">
            <wj-menu [(value)]="pageSize" [header]="'Page size'">
                <wj-menu-item [value]="10">10</wj-menu-item>
                <wj-menu-item [value]="20">20</wj-menu-item>
                <wj-menu-item [value]="50">50</wj-menu-item>
            </wj-menu>
        </div>
        <div>&nbsp;</div>
        <wj-popup class="modal-content col-sm-10" #frmDialog>



            <div class="panel panel-default">
                <div class="panel-heading">
                    <b> {{formTitle}}</b>
                    <button type="button" tabindex="-1" class="close wj-hide" (click)="cancelEditAdd()" name="cancel">&times;</button>
                </div>
                <form (ngSubmit)="saveTravelerDataStore(frmDialog)" #frmUser="ngForm" class="form-horizontal">
                    <div class="panel-body" *ngIf="currentEditItem">
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label for="traveler_service_pool_name" class="control-label col-sm-5">Traveler Service Pool Name</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" id="traveler_service_pool_name" required name="traveler_service_pool_name" [(ngModel)]="currentEditItem.traveler_service_pool_name">
                                </div>
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="device_name" class="control-label col-sm-5">Server Name</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" id="device_name" required name="device_name" [(ngModel)]="currentEditItem.device_name">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label for="data_store" class="control-label col-sm-5">Data Store</label>
                                <div class="col-sm-7">
                                    <select name="data_store" class="form-control" [(ngModel)]="currentEditItem.data_store">
                                        <option value="DB">DB2</option>
                                        <option value="Sql">SQL Server</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="database_name" class="control-label col-sm-5">Database</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" id="database_name" required name="database_name" [(ngModel)]="currentEditItem.database_name">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label for="port" class="control-label col-sm-5">Port</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" id="port" required name="port" [(ngModel)]="currentEditItem.port">
                                </div>
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="user_name" class="control-label col-sm-5">User Name</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" id="user_name" required name="user_name" [(ngModel)]="currentEditItem.user_name">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label for="password" class="control-label col-sm-5">Password</label>
                                <div class="col-sm-7">
                                    <input type="password" class="form-control" id="password" required name="password" [(ngModel)]="currentEditItem.password">
                                </div>
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="integrated_security" class="control-label col-sm-5">Authentication Type</label>
                                <div class="col-sm-7">
                                    <select name="integrated_security" class="form-control" [(ngModel)]="currentEditItem.integrated_security">
                                        <option value="SQL Server">SQL Server</option>
                                        <option value="Windows">Windows</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label for="test_scan_server" class="control-label col-sm-5">Test when scanning Traveler Server</label>
                                <div class="col-sm-7">
                                    <select name="test_scan_server" class="form-control" [(ngModel)]="currentEditItem.test_scan_server">
                                        <option value=""></option>
                                        <option value=""></option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="used_by_servers" class="control-label col-sm-5">Used by Servers</label>
                                <div class="col-sm-7">
                                    <select name="used_by_servers" class="form-control" [(ngModel)]="currentEditItem.used_by_servers">
                                        <option value=""></option>
                                        <option value=""></option>
                                    </select>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="panel-footer">
                        <button class="btn btn-primary" type="submit" name="submit" [disabled]="!frmUser.form.valid">Save</button>
                        <button class="btn btn-primary wj-hide " type="button" name="cancel" (click)="cancelEditAdd()">Cancel</button>
                    </div>
                </form>
            </div>
        </wj-popup>
    </div>
</div>

