<div class="container">
    <h3>Domino Event Definitions</h3>
    <p>The list of available Event Definitions is displayed below. In order to add new Event Definitions or configure existing alerts, please use the buttons in the 'Actions' column.</p>

    <div><a class="btn btn-default" [routerLink]="['/ibmDomino/add']" role="button">Add</a></div>
    <div class="well grid-sort-group">
        <table class="table table-hover">
            <tbody *ngIf="sererNames">
                <tr *ngFor="let dominolog of sererNames">
                    <th scope="row">{{dominolog.name}}</th>
                    <td>
                        <div class="table-cell-height">
                            <a class="btn btn-default"  [routerLink]="['/ibmDomino/add/'+dominolog.id]" role="button" (click)="selectService(dominolog.id)">Edit</a>
                            <a class="btn btn-default" [routerLink]="['/ibmDomino/add']" role="button">Add</a>
                            <button class="btn btn-default" (click)="deleteLogFileScanning(dominolog.id)">
                                Delete
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
    
</div>