<div class="container">
    <h3>IBM Domino Server Task Definitions</h3>
    <p>Tasks are programs that run on IBM Domino Servers. The table below lists various server tasks that could be monitored. You may define a server task here and associate it with a server using the Server Tasks tab on the Domino Server page.</p>
    <wj-group-panel [grid]="flex" [placeholder]="'Drag columns here to create groups.'" class="visible"></wj-group-panel>
    <wj-flex-grid #flex [itemsSource]="data" headersVisibility="Column" selectionMode="Row" [frozenColumns]="1" [isReadOnly]="true">
        <wj-flex-grid-filter></wj-flex-grid-filter>
        <wj-flex-grid-column [header]="'Task Name'" [binding]="'task_name'" [width]="180"></wj-flex-grid-column>
        <wj-flex-grid-column [header]="'Load String'" [binding]="'load_string'" [width]="200"></wj-flex-grid-column>
        <wj-flex-grid-column [header]="'Console String'" [binding]="'console_string'" [width]="250"></wj-flex-grid-column>
        <wj-flex-grid-column [header]="'Freeze Detection'" [binding]="'freeze_detect'" [width]="150"></wj-flex-grid-column>
        <wj-flex-grid-column [header]="'Idle String'" [binding]="'idle_string'" [width]="150"></wj-flex-grid-column>
        <wj-flex-grid-column [header]="'Maximum Busy Time'" [binding]="'max_busy_time'" [width]="180"></wj-flex-grid-column>
        <wj-flex-grid-column [header]="'Retry Count'" [binding]="'retry_count'" [width]="200"></wj-flex-grid-column>
    </wj-flex-grid>
    <div class="btn-group" *ngIf="data != null">
        <button type="button" class="btn btn-default"
                (click)="data.moveToFirstPage()"
                [disabled]="data.pageIndex <= 0">
            <span class="glyphicon glyphicon-fast-backward"></span>
        </button>
        <button type="button" class="btn btn-default"
                (click)="data.moveToPreviousPage()"
                [disabled]="data.pageIndex <= 0">
            <span class="glyphicon glyphicon-step-backward">
            </span>
        </button>
        <button type="button" class="btn btn-default" disabled style="width:100px">
            {{
data.pageIndex + 1 | number
            }} / {{data.pageCount | number}}
        </button>
        <button type="button" class="btn btn-default"
                (click)="data.moveToNextPage()"
                [disabled]="data.pageIndex >= data.pageCount - 1">
            <span class="glyphicon glyphicon-step-forward"></span>
        </button>
        <button type="button" class="btn btn-default"
                (click)="data.moveToLastPage()"
                [disabled]="data.pageIndex >= data.pageCount - 1">
            <span class="glyphicon glyphicon-fast-forward"></span>
        </button>
    </div>
    <div class="pull-right" *ngIf="data != null">
        <wj-menu [(value)]="pageSize" [header]="'Page size'">
            <wj-menu-item [value]="10">10</wj-menu-item>
            <wj-menu-item [value]="20">20</wj-menu-item>
            <wj-menu-item [value]="50">50</wj-menu-item>
        </wj-menu>
    </div>

    <div class="well grid-sort-group">

        <!-- edit details in a popup -->
        <button class="btn btn-default" (click)="editGridRow1(frmDialog)">
            Edit
        </button>
        <button class="btn btn-default" (click)="addGridRow1(frmDialog)">
            Add
        </button>
        <button class="btn btn-default" (click)="delteServerTaskDefinition();">
            Delete
        </button>
    </div>
    <wj-popup class="modal-content col-sm-10" #frmDialog>

        <div class="panel panel-default">
            <div class="panel-heading">
                <b> {{formTitle}}</b>

                <button type="button" tabindex="-1" class="close wj-hide" (click)="cancelEditAdd()" name="cancel">&times;</button>
            </div>
            <form (ngSubmit)="saveServerTaskDefinition(frmDialog)" #frmUser="ngForm" class="form-horizontal">

                <div class="panel-body" *ngIf="currentEditItem">
                    <div class="row">
                        <div class="form-group col-sm-6">
                            <label for="task_name" class="control-label col-sm-5">Task Name</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" id="task_name" required name="task_name" [(ngModel)]="currentEditItem.task_name">
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label for="load_string" class="control-label col-sm-5">Load String</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" id="load_string" required name="load_string" [(ngModel)]="currentEditItem.load_string">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-6">
                            <label for="console_string" class="control-label col-sm-5">Console String</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" id="console_string" required name="console_string" [(ngModel)]="currentEditItem.console_string">
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label for="freeze_detect" class="control-label col-sm-5">Enable Hang Detection</label>
                            <div class="col-sm-7">
                                <input type="checkbox" class="checkbox-inline" id="freeze_detect" [(ngModel)]="currentEditItem.freeze_detect" name="freeze_detect">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-6">
                            <label for="idle_string" class="control-label col-sm-5">Idle String</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" id="idle_string" required name="idle_string" [(ngModel)]="currentEditItem.idle_string">
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label for="max_busy_time" class="control-label col-sm-5">Maximum run time</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" id="max_busy_time" required name="max_busy_time" [(ngModel)]="currentEditItem.max_busy_time">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-6">
                            <label for="retry_count" class="control-label col-sm-5">Retry Count</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" id="retry_count" name="retry_count" [(ngModel)]="currentEditItem.retry_count">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <button class="btn btn-primary" type="submit" name="submit" [disabled]="!frmUser.form.valid">Save</button>
                    <button class="btn btn-primary wj-hide " type="button" name="cancel" (click)="cancelEditAdd()">Cancel</button>
                </div>
            </form>
        </div>
    </wj-popup>
</div>