<div class="widgetWrapper">
    <div class="widgetContent">
        <div class="row">
            <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12">
                <div class="alert alert-info col-lg-12">
                    <p>Notes Database Replicas are monitored to ensure that replicas of each database exist on all servers, and that document counts between replicas are consistent.</p>
                </div>
                    <div class="grid-sort-group"  *ngIf="data">

                        <!-- edit details in a popup -->
                        <button class="btn btn-success" (click)="editGridRow(frmDialog)" [disabled]="data.itemCount==0">
                            Edit
                        </button>
                        <button class="btn btn-success" (click)="addNotesDatabaseReplica(frmDialog)">
                            Add
                        </button>
                        <button class="btn btn-success" (click)="delteNotesDatabaseReplica();" [disabled]="data.itemCount==0">
                            Delete
                        </button>
                    </div>
                    <div>&nbsp;</div>
                    <wj-flex-grid #flex [itemsSource]="data" headersVisibility="Column" selectionMode="Row" [frozenColumns]="1" [isReadOnly]="true">
                        <wj-flex-grid-filter></wj-flex-grid-filter>
                        <wj-flex-grid-column [header]="'Enabled'" [binding]="'is_enabled'" [width]="120"></wj-flex-grid-column>
                        <wj-flex-grid-column [header]="'Name'" [binding]="'name'" [width]="180"></wj-flex-grid-column>
                        <wj-flex-grid-column [header]="'Scan Interval'" [binding]="'scan_interval'" [width]="180"></wj-flex-grid-column>
                        <wj-flex-grid-column [header]="'Off-Hours Scan Interval'" [binding]="'off_hours_scan_interval'" [width]="180"></wj-flex-grid-column>
                        <wj-flex-grid-column [header]="'Server A'" [binding]="'domino_server_a'" [width]="180"></wj-flex-grid-column>
                        <wj-flex-grid-column [header]="'Server B'" [binding]="'domino_server_b'" [width]="180"></wj-flex-grid-column>
                        <wj-flex-grid-column [header]="'Server C'" [binding]="'domino_server_c'" [width]="180"></wj-flex-grid-column>
                        <wj-flex-grid-column [header]="'Category'" [binding]="'category'" [width]="180"></wj-flex-grid-column>

                    </wj-flex-grid>
                    <div class="btn-group" *ngIf="data != null">
                        <button type="button" class="btn btn-default"
                                (click)="data.moveToFirstPage()"
                                [disabled]="data.pageIndex <= 0">
                            <span class="glyphicon glyphicon-fast-backward"></span>
                        </button>
                        <button type="button" class="btn btn-default"
                                (click)="data.moveToPreviousPage()"
                                [disabled]="data.pageIndex <= 0">
                            <span class="glyphicon glyphicon-step-backward">
                            </span>
                        </button>
                        <button type="button" class="btn btn-default" disabled style="width:100px">
                            {{
data.pageIndex + 1 | number
                            }} / {{data.pageCount | number}}
                        </button>
                        <button type="button" class="btn btn-default"
                                (click)="data.moveToNextPage()"
                                [disabled]="data.pageIndex >= data.pageCount - 1">
                            <span class="glyphicon glyphicon-step-forward"></span>
                        </button>
                        <button type="button" class="btn btn-default"
                                (click)="data.moveToLastPage()"
                                [disabled]="data.pageIndex >= data.pageCount - 1">
                            <span class="glyphicon glyphicon-fast-forward"></span>
                        </button>
                    </div>
                    <div class="pull-right" *ngIf="data != null">
                        <wj-menu [(value)]="pageSize" [header]="'Page size'">
                            <wj-menu-item [value]="10">10</wj-menu-item>
                            <wj-menu-item [value]="20">20</wj-menu-item>
                            <wj-menu-item [value]="50">50</wj-menu-item>
                        </wj-menu>
                    </div>
                    <wj-popup class="modal-content col-sm-10" #frmDialog style="height:70%;overflow:auto">

                        <div class="panel panel-default" style="height:60%;">
                            <div class="panel-heading">
                                <b> {{formTitle}}</b>

                                <button type="button" tabindex="-1" class="close wj-hide" (click)="cancelEditAdd()" name="cancel">&times;</button>
                            </div>
                            <form (ngSubmit)="saveNotesDatabaseReplica(frmDialog)" #frmDatabaseReplica="ngForm" class="form-horizontal">

                                <div class="panel-body" *ngIf="currentEditItem" style="height:70%;overflow:auto">
                                    <div class="row">
                                        <div class="form-group col-sm-offset-1 col-sm-6">
                                            <div class="panel panel-default">
                                                <div class="panel-heading">Replica Attributes</div>
                                                <div class="panel-body">
                                                    <div class="row">
                                                        <div class="form-group col-sm-6">
                                                            <label for="name" class="control-label col-sm-4">Name:</label>
                                                            <div class="col-sm-8">
                                                                <input type="text" class="form-control" name="name" [(ngModel)]="currentEditItem.name" required>

                                                            </div>

                                                        </div>


                                                    </div>
                                                    <div class="row">
                                                        <div class="form-group col-sm-12">
                                                            <label for="category" class="control-label col-sm-2">Category:</label>
                                                            <div class="col-sm-4">
                                                                <select name="category" class="form-control" [(ngModel)]="currentEditItem.category" id="category" required>
                                                                    <option value="" disabled selected hidden>Please Choose...</option>

                                                                    <option value="Administration Server">Administration Server</option>
                                                                    <option value="Application">Application</option>
                                                                    <option value="Backup">Backup</option>
                                                                    <option value="Development">Development</option>
                                                                    <option value="Directory">Directory</option>
                                                                    <option value="Disaster Recovery">Disaster Recovery</option>

                                                                    <option value="Gateway">Gateway</option>
                                                                    <option value="Hub">Hub</option>
                                                                    <option value="iNotes">iNotes</option>
                                                                    <option value="Internet Cluster Manager">Internet Cluster Manager</option>
                                                                    <option value="Mail">Mail</option>
                                                                    <option value="Multifunction">Multifunction</option>
                                                                    <option value="Production">Production</option>
                                                                    <option value="Pass-thru">Pass-thru</option>
                                                                    <option value="QuickPlace">QuickPlace</option>
                                                                    <option value="Replication">Replication</option>
                                                                    <option value="Web">Web</option>
                                                                    <option value="Test">Test</option>
                                                                    <option value="Other">Other</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="form-group col-sm-6">

                                                            <div class="funkyradio col-sm-offset-1 col-sm-12">
                                                                <div class="funkyradio-default">
                                                                    <input type="checkbox" id="is_enabled" name="is_enabled" [(ngModel)]="currentEditItem.is_enabled" />
                                                                    <label for="is_enabled">Enabled for scanning</label>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group col-sm-6">
                                            <div class="panel panel-default">
                                                <div class="panel-heading">Scan Settings</div>
                                                <div class="panel-body" style="width:600px;height:185px">
                                                    <div class="row">
                                                        <div class="form-group col-sm-12">
                                                            <label for="scan_interval" class="control-label col-sm-4">Scan Interval:</label>
                                                            <div class="col-sm-4">
                                                                <input type="number" class="form-control" name="scan_interval" [(ngModel)]="currentEditItem.scan_interval" required>

                                                            </div>
                                                            <label for="scan_interval" class="control-label col-sm-1">minutes</label>
                                                        </div>

                                                        <div class="row">
                                                            <div class="form-group col-sm-12">
                                                                <label for="off_hours_scan_interval" class="control-label col-sm-4">Off-Hours Scan Interval:</label>
                                                                <div class="col-sm-4">
                                                                    <input type="number" class="form-control" name="off_hours_scan_interval" [(ngModel)]="currentEditItem.off_hours_scan_interval" required>

                                                                </div>
                                                                <label for="off_hours_scan_interval" class="control-label col-sm-1">minutes</label>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--<div class="row">

                        </div>-->
                                    <div class="row">
                                        <div class="form-group col-sm-12">
                                            <div class="panel panel-default">
                                                <div class="panel-heading">Servers</div>
                                                <div class="panel-body">
                                                   
                                                        <div class="alert alert-info col-lg-12">
                                                            <p>The File Mask is a wild-card text string that if found in the file name, will qualify the database for cluster analysis. For example, putting mail as the file mask will select both mail\aforbes.nsf and mail2\Zbrown.nsf. It is not case sensitive.

                                                                  Enter .nsf as the file mask to select all databases on the server.

                                                            If you want to exclude a folder or folders from scanning, enter folder name(s) into the Exclude Folder(s) field using a comma as a value separator, e.g., mail, mail1, mail2.</p>

                                                        </div>
                                                   
                                                    <div class="form-group col-sm-4">
                                                        <div class="panel panel-default">
                                                            <div class="panel-heading">Server A</div>
                                                            <div class="panel-body">
                                                                <div class="form-group col-sm-12">
                                                                    <label for="domino_server_a" class="control-label col-sm-5"> Domino Server:</label>
                                                                    <div class="col-sm-7">
                                                                        <wj-combo-box name="domino_server_a" [itemsSource]="sererNames" displayMemberPath="text" selectedValuePath="value" [(ngModel)]="currentEditItem.domino_server_a" placeholder="Select Server" [isEditable]="true" required>

                                                                        </wj-combo-box>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group col-sm-12">
                                                                    <label for="domino_server_a_file_mask" class="control-label col-sm-5">File Mask:</label>
                                                                    <div class="col-sm-7">
                                                                        <input type="text" class="form-control" name="domino_server_a_file_mask" [(ngModel)]="currentEditItem.domino_server_a_file_mask" required>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group col-sm-12">
                                                                    <label for="domino_server_a_exclude_folders" class="control-label col-sm-5">Exclude Folder(s):</label>
                                                                    <div class="col-sm-7">
                                                                        <input type="text" class="form-control" name="domino_server_a_exclude_folders" [(ngModel)]="currentEditItem.domino_server_a_exclude_folders">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                    <div class="form-group col-sm-4">
                                                        <div class="panel panel-default">
                                                            <div class="panel-heading">Server B</div>
                                                            <div class="panel-body">
                                                                <div class="form-group col-sm-12">
                                                                    <label for="domino_server_b" class="control-label col-sm-5"> Domino Server:</label>
                                                                    <div class="col-sm-7">
                                                                        <wj-combo-box name="domino_server_b" [itemsSource]="sererNames" displayMemberPath="text" [(ngModel)]="currentEditItem.domino_server_b" selectedValuePath="value" placeholder="Select Server" [isEditable]="true" required>

                                                                        </wj-combo-box>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group col-sm-12">
                                                                    <label for="domino_server_b_file_mask" class="control-label col-sm-5">File Mask:</label>
                                                                    <div class="col-sm-7">
                                                                        <input type="text" class="form-control" name="domino_server_b_file_mask" [(ngModel)]="currentEditItem.domino_server_b_file_mask" required>
                                                                    </div> 
                                                                </div>
                                                                <div class="form-group col-sm-12">
                                                                    <label for="domino_server_b_exclude_folders" class="control-label col-sm-5">Exclude Folder(s):</label>
                                                                    <div class="col-sm-7">
                                                                        <input type="text" class="form-control" name="domino_server_b_exclude_folders" [(ngModel)]="currentEditItem.domino_server_b_exclude_folders">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                    <div class="form-group col-sm-4">
                                                        <div class="panel panel-default">
                                                            <div class="panel-heading">Server C</div>
                                                            <div class="panel-body">
                                                                <div class="form-group col-sm-12">
                                                                    <label for="domino_server_c" class="control-label col-sm-5"> Domino Server:</label>
                                                                    <div class="col-sm-7">
                                                                        <wj-combo-box name="domino_server_c" [itemsSource]="sererNames" displayMemberPath="text" selectedValuePath="value"
                                                                                       [(ngModel)]="currentEditItem.domino_server_c" placeholder="Select Server" 
                                                                                     [isEditable]="true"  [isRequired]="false">


                                                                        </wj-combo-box>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group col-sm-12">
                                                                    <label for="domino_server_c_file_mask" class="control-label col-sm-5">File Mask:</label>
                                                                    <div class="col-sm-7">
                                                                        <input type="text" class="form-control" name="domino_server_c_file_mask" [(ngModel)]="currentEditItem.domino_server_c_file_mask">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group col-sm-12">
                                                                    <label for="domino_server_c_exclude_folders" class="control-label col-sm-5">Exclude Folder(s):</label>
                                                                    <div class="col-sm-7">
                                                                        <input type="text" class="form-control" name="domino_server_c_exclude_folders" [(ngModel)]="currentEditItem.domino_server_c_exclude_folders">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-sm-12">
                                            <div class="panel panel-default">
                                                <div class="panel-heading">Alert Settings</div>
                                                <div class="panel-body">
                                                    
                                                        <div class="alert alert-info col-lg-12">
                                                            <p>The Difference Threshold is the percentage difference in document count between two replicas on different servers. In other words, if a database on server A has 100 documents, but the same database on server B has only 80 documents, an alert will go out if the threshold is set to 20%.</p>

                                                        </div>
                                                    
                                                    <div class="form-group col-sm-12">
                                                        <label for="difference_threshold" class="control-label col-sm-5">Difference Threshold(%):</label>
                                                        <div class="col-sm-2">
                                                            <input type="number" class="form-control" name="difference_threshold" [(ngModel)]="currentEditItem.difference_threshold">

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel-footer">
                                        <button class="btn btn-primary" type="submit" name="submit" [disabled]="!frmDatabaseReplica.form.valid">Save</button>
                                        <button class="btn btn-primary wj-hide " type="button" name="cancel" (click)="cancelEditAdd()">Cancel</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </wj-popup>
                </div>
        </div>
    </div>
</div>
