<div class="col-lg-2">&nbsp;</div>
<div class="col-xs-12 col-md-12 col-sm-12 col-lg-12">
    <div class="widgetWrapper">
        <div class="widgetTitle">
            Domino Event Log Scanning
        </div>
        <div class="widgetContent">
            <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12">
                <div class="row">



                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="form-group">
                                <label class="control-label col-sm-2">Event Definition</label>
                                <div class="col-sm-10">
                                    <input type="text" [(ngModel)]="sererNames" required />


                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="grid-sort-group"  *ngIf="results">
                        {{results.itemCount}}
                        <!-- edit details in a popup -->
                        <button class="btn btn-success" (click)="editGridRow(frmDialog)" [disabled]="results.itemCount==0">
                            Edit
                        </button>
                        <button class="btn btn-success" (click)="addlogScan(frmDialog)">
                            Add
                        </button>
                        <button class="btn btn-success" (click)="deleteEventLog();" [disabled]="results.itemCount==0">
                            Delete
                        </button>
                    </div>
                    <div>&nbsp;</div>
                    <wj-flex-grid #flex [itemsSource]="results" headersVisibility="Column" selectionMode="Row" [frozenColumns]="1" [isReadOnly]="true">
                        <wj-flex-grid-filter></wj-flex-grid-filter>
                        <wj-flex-grid-column [header]="'Keyword'" [binding]="'keyword'" [width]="180"></wj-flex-grid-column>
                        <wj-flex-grid-column [header]="'Exclude'" [binding]="'exclude'" [width]="200"></wj-flex-grid-column>
                        <wj-flex-grid-column [header]="'One Alert Per Day'" [binding]="'one_alert_per_day'" [width]="250"></wj-flex-grid-column>
                        <wj-flex-grid-column [header]="'Scan Log.nsf'" [binding]="'scan_log'" [width]="150"></wj-flex-grid-column>
                        <wj-flex-grid-column [header]="'Scan AgentLog.nsf'" [binding]="'scan_agent_log'" [width]="150"></wj-flex-grid-column>
                    </wj-flex-grid>
                    <div class="btn-group" *ngIf="data != null">
                        <button type="button" class="btn btn-default"
                                (click)="data.moveToFirstPage()"
                                [disabled]="data.pageIndex <= 0">
                            <span class="glyphicon glyphicon-fast-backward"></span>
                        </button>
                        <button type="button" class="btn btn-default"
                                (click)="data.moveToPreviousPage()"
                                [disabled]="data.pageIndex <= 0">
                            <span class="glyphicon glyphicon-step-backward">
                            </span>
                        </button>
                        <button type="button" class="btn btn-default" disabled style="width:100px">
                            {{
data.pageIndex + 1 | number
                            }} / {{data.pageCount | number}}
                        </button>
                        <button type="button" class="btn btn-default"
                                (click)="data.moveToNextPage()"
                                [disabled]="data.pageIndex >= data.pageCount - 1">
                            <span class="glyphicon glyphicon-step-forward"></span>
                        </button>
                        <button type="button" class="btn btn-default"
                                (click)="data.moveToLastPage()"
                                [disabled]="data.pageIndex >= data.pageCount - 1">
                            <span class="glyphicon glyphicon-fast-forward"></span>
                        </button>
                    </div>
                    <div class="pull-right" *ngIf="data != null">
                        <wj-menu [(value)]="pageSize" [header]="'Page size'">
                            <wj-menu-item [value]="10">10</wj-menu-item>
                            <wj-menu-item [value]="20">20</wj-menu-item>
                            <wj-menu-item [value]="50">50</wj-menu-item>
                        </wj-menu>
                    </div>

                    <div>&nbsp;</div>
                    <wj-popup class="modal-content col-sm-10" #frmDialog>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <b> {{formTitle}}</b>
                                <button type="button" tabindex="-1" class="close wj-hide" (click)="cancelEditAdd()" name="cancel">&times;</button>
                            </div>
                            <form (ngSubmit)="saveEventLog(frmDialog)" #frmUser="ngForm" class="form-horizontal">
                                <div class="panel panel-default">
                                    <p class="alert alert-info col-lg-12">	VitalSigns will search the selected logs for the word or phrase in the Keywords field. If you would like to be alerted every time the word/phrase is found, do not check the limit box.</p>
                                    <div class="panel-body" *ngIf="currentEditItem">
                                        <div class="row">
                                            <div class="form-group col-sm-6">
                                                <label for="keyword" class="control-label col-sm-5">Keyword</label>
                                                <div class="col-sm-7">
                                                    <input type="text" class="form-control" id="keyword" required name="keyword" [(ngModel)]="currentEditItem.keyword" />
                                                </div>
                                            </div>
                                            <div class="form-group col-sm-6">
                                                <label for="exclude" class="control-label col-sm-5">Exclude scanning for</label>
                                                <div class="col-sm-7">
                                                    <input type="text" class="form-control" id="exclude" name="exclude" [(ngModel)]="currentEditItem.exclude" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="funkyradio col-sm-6">
                                                <div class="funkyradio-default">

                                                    <input type="checkbox" id="one_alert_per_day" name="one_alert_per_day" [(ngModel)]="currentEditItem.one_alert_per_day" />
                                                    <label for="one_alert_per_day">Limit to one Alert per day</label>

                                                </div>
                                            </div>
                                            <div class="funkyradio col-sm-6">
                                                <div class="funkyradio-default">

                                                    <input type="checkbox" id="scan_log" name="scan_log" [(ngModel)]="currentEditItem.scan_log" />
                                                    <label for="scan_log">Scan log.nsf</label>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="funkyradio col-sm-6">

                                                <div class="funkyradio-default">
                                                    <input type="checkbox" id="scan_agent_log" name="scan_agent_log" [(ngModel)]="currentEditItem.scan_agent_log" />
                                                    <label for="scan_agent_log">Scan AgentLog.nsf</label>

                                                </div>

                                            </div>



                                        </div>

                                    </div>

                                    <div class="panel-footer">
                                        <button class="btn btn-primary" type="submit" name="submit" [disabled]="!frmUser.form.valid">Save</button>
                                        <button class="btn btn-primary wj-hide " type="button" name="cancel" (click)="cancelEditAdd()">Cancel</button>
                                    </div>



                                </div>


                            </form>
                        </div>
                    </wj-popup>
                    <div>
                        <div class="alert alert-danger" *ngIf="devices.length==0">Please select at least one server</div>
                        <server-location-list (checkedDevices)="changeInDevices($event)" [(deviceList)]="checkedDevices" [(deviceType)]="currentDeviceType"></server-location-list>

                    </div><div>
                       
                        <button type="button" class="btn btn-primary" (click)="applySetting()" [disabled]="!(frmUser.form.valid && devices.length>0)">Save</button>

                        <button type="button" class="btn btn-primary" (click)="CancelSettings()">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-2">&nbsp;</div>