<?xml version="1.0"?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
	<appSettings>
		<add key="CultureString" value ="en-US"/>
	</appSettings>
  <connectionStrings>
    <remove name="VitalSignsConnectionString"/>
    <remove name="VSS_StatisticsConnectionString"/>
    <!--<add name="VitalSignsConnectionString" connectionString="Data Source=192.168.1.147,1433\SQLExpress;Initial Catalog=vitalsigns;User ID=vs;Password=admin123!;Persist Security Info=True;" providerName="System.Data.SqlClient"/>-->
	  <add name="VitalSignsConnectionString" connectionString="Data Source=hyderabad\hyderabad;Initial Catalog=vitalsigns;User ID=sa;Password=sa1225;Persist Security Info=True;" providerName="System.Data.SqlClient"/>
    <!--<add name="VSS_StatisticsConnectionString" connectionString="Data Source=192.168.1.147,1433\SQLExpress;Initial Catalog=VSS_Statistics;User ID=vs;Password=admin123!;Persist Security Info=True;" providerName="System.Data.SqlClient"/>-->
	  <add name="VSS_StatisticsConnectionString" connectionString="Data Source=hyderabad\hyderabad;Initial Catalog=VSS_Statistics;User ID=sa;Password=sa1225;Persist Security Info=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>
