/* ############################################################ */
/* WIDGETS */
/* ############################################################ */

/* ############################# */
/* widgetStatusNumber */
/* ############################# */
[data-widget-type="widgetStatusNumber"] {
	text-align: right;
}

[data-widget-type="widgetStatusNumber"] .widgetFooter { 
	font-size: 13px;
    color: #FFFFFF;
    padding-right: 40px;
}
[data-widget-type="widgetStatusNumber"] .widgetFooter:hover { text-decoration: none; }


[data-widget-type="widgetStatusNumber"] .widgetStatusNumber-head {
	font-size: 120px;
    line-height: 110%;
	padding-right: 18px;
}

[data-widget-type="widgetStatusNumber"] .widgetStatusNumber-text {
	font-size: 16px;
	padding-right: 26px;
}


/* ############################# */
/* widgetImageText */
/* ############################# */
[data-widget-type="widgetImageText"] {
	
	display: flex;
	display: -ms-flexbox;
	display: -webkit-flex;

	align-items: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-box-align: center;

	flex-direction: row;
	-ms-flex-direction: row;
	-webkit-flex-direction: row;

	justify-content: center;
	-ms-flex-pack: center;
	-webkit-flex-pack: center;

	color: #FFFFFF;
	padding: 0 15px;
}

[data-widget-type="widgetImageText"] svg, [data-widget-type="widgetImageText"] img {
	margin-right: 10px;
	width: 50px;
	height: auto;
}

[data-widget-type="widgetImageText"] .widgetImageText-head {
	font-size: 28px;
	line-height: 90%;
    margin-bottom: 5px;
}

[data-widget-type="widgetImageText"] .widgetImageText-text {
	font-size: 12px;
	line-height: 110%;
}



/* ############################# */
/* widgetOnPremisesApps  */
/* ############################# */
[data-widget-type="widgetOnPremisesApps"] .widgetOnPremisesApps-statusCountWrapper {
	
	display: flex;
	display: -ms-flexbox;
	display: -webkit-flex;

	margin-bottom: 34px;
	
}

[data-widget-type="widgetOnPremisesApps"] .widgetOnPremisesApps-statusCountWrapper:last-child {

	margin-bottom: 0;
	
}

[data-widget-type="widgetOnPremisesApps"] h3 {
	font-size: 13px;
    margin: 0 0 5px;
    font-family: "robotomedium";
}


[data-widget-type="widgetOnPremisesApps"] .widgetOnPremisesApps-statusCountWrapper div {
	
	text-align: center;
	color: #FFFFFF;
	line-height: 37px;
	font-family: "robotobold";

	-webkit-flex-grow: 1; /* Safari */
	flex-grow: 1;
}

[data-widget-type="widgetOnPremisesApps"] .widgetOnPremisesApps-statusCountWrapper div:first-child {
	border-bottom-left-radius: 10px;
}

[data-widget-type="widgetOnPremisesApps"] .widgetOnPremisesApps-statusCountWrapper div:last-child {
	border-bottom-right-radius: 10px;
}


/* ############################# */
/* widgetAppStatus  */
/* ############################# */
[data-widget-type="widgetAppStatus"] .widgetContent {
	padding: 20px;
}

[data-widget-type="widgetAppStatus"] svg, [data-widget-type="widgetAppStatus"] img {
	max-height: 84px;
	max-width: 100%;
}

[data-widget-type="widgetAppStatus"] .widgetAppStatus-head {
	margin-top: 10px;
	font-size: 15px;
	line-height: 110%;
}

[data-widget-type="widgetAppStatus"] .widgetAppStatus-text {
	margin-top: 5px;
	font-size: 11px;
	line-height: 110%;
}

[data-widget-type="widgetAppStatus"] .widgetFooter {
	background-color: #FFFFFF;
}


