
<button class="btn btn-primary" (click)="ExportExcel()">Export to Excel</button>
                
<wj-group-panel [grid]="flex" [placeholder]="'Drag columns here to create groups.'" class="visible"></wj-group-panel>
<wj-flex-grid [itemsSource]="data" selectionMode="Row" [isReadOnly]="true" headersVisibility="Column" #flex (itemsSourceChanged)="gridSourceChanged()">
    <wj-flex-grid-filter></wj-flex-grid-filter>
    <wj-flex-grid-column [header]="'Display Name'" [binding]="'display_name'"></wj-flex-grid-column>
    <wj-flex-grid-column [header]="'Account Last Modified'" [binding]="'account_last_modified'"></wj-flex-grid-column>
    <wj-flex-grid-column [header]="'User Principal Name'" [binding]="'user_principal_name'"></wj-flex-grid-column>
    <wj-flex-grid-column [header]="'License(s)'" [binding]="'license'"></wj-flex-grid-column>
</wj-flex-grid>
<loading-indicator [isLoading]="isLoading"></loading-indicator>
<div class="btn-group" *ngIf="data != null">
    <button type="button" class="btn btn-default"
            (click)="data.moveToFirstPage()"
            [disabled]="data.pageIndex <= 0">
        <span class="glyphicon glyphicon-fast-backward"></span>
    </button>
    <button type="button" class="btn btn-default"
            (click)="data.moveToPreviousPage()"
            [disabled]="data.pageIndex <= 0">
        <span class="glyphicon glyphicon-step-backward">
        </span>
    </button>
    <button type="button" class="btn btn-default" disabled style="width:100px">
        {{data.pageIndex + 1 | number}} / {{data.pageCount | number}}
    </button>
    <button type="button" class="btn btn-default"
            (click)="data.moveToNextPage()"
            [disabled]="data.pageIndex >= data.pageCount - 1">
        <span class="glyphicon glyphicon-step-forward"></span>
    </button>
    <button type="button" class="btn btn-default"
            (click)="data.moveToLastPage()"
            [disabled]="data.pageIndex >= data.pageCount - 1">
        <span class="glyphicon glyphicon-fast-forward"></span>
    </button>
</div>
<div class="pull-right" *ngIf="data != null">
    <wj-menu [(value)]="pageSize" [header]="'Page size'">
        <wj-menu-item [value]="10">10</wj-menu-item>
        <wj-menu-item [value]="20">20</wj-menu-item>
        <wj-menu-item [value]="50">50</wj-menu-item>
        <wj-menu-item [value]="100">100</wj-menu-item>
        <wj-menu-item [value]="200">200</wj-menu-item>
    </wj-menu>
</div>

<wj-popup style="border: 0px; width: 820px; -webkit-user-select: text; -moz-user-select: text; -ms-user-select:text; user-select:text;" #powershellPopup>
    <div class="modal-content">
        <div class="modal-header">
            PowerScripts
            <button type="button" tabindex="-1" class="close wj-hide" (click)="closePopup()" name="cancel">&times;</button>
        </div>
        <div class="modal-body">

            <powershell-scripts></powershell-scripts>

        </div>
    </div>
</wj-popup>
      