<div id="zeusContext">
    <div id="zeusContextNavigation">
        <div id="zeusContextNavigationIcon">
            <img class="svgInject"src="/img/servers/Office365.svg" />
        </div>
        <div id="zeusContextNavigationText">
            <h2>
                Office 365 Mailboxes & Users
            </h2>
        </div>
    </div>
    <div class="clearfix"></div>
</div>


<div id="zeusContent">
    <div class="widgetWrapper">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" [class.active]="tab.active" (click)="selectTab(tab)" *ngFor="let tab of tabsData">
                <a href="javascript:void(0);">{{tab.title}}</a>
            </li>
        </ul>
        <div class="widgetContent">
            <div class="tab-content">

                <div #tab></div>

            </div>
        </div>
    </div>

</div>

