

<button class="btn btn-primary" (click)="ExportExcel()">Export to Excel</button>
<!--<button class="btn btn-primary" (click)="PowerShellScripts()" [ngStyle]="{'visibility': showPowerScripts?'visible':'hidden'}">PowerScripts</button>-->
<button class="btn btn-primary" (click)="PowerShellScripts()" [ngStyle]="{'visibility': showPowerScripts?'visible':'hidden'}">PowerScripts</button>
<wj-group-panel [grid]="flex" [placeholder]="'Drag columns here to create groups.'" class="visible"></wj-group-panel>
<wj-flex-grid [itemsSource]="data" selectionMode="Row" [isReadOnly]="true" headersVisibility="Column" #flex (itemsSourceChanged)="gridSourceChanged()">
    <wj-flex-grid-filter></wj-flex-grid-filter>
    <wj-flex-grid-column [header]="'Display Name'" [binding]="'display_name'"></wj-flex-grid-column>
    <wj-flex-grid-column [header]="'Sam Account Name'" [binding]="'sam_account_name'"></wj-flex-grid-column>
    <wj-flex-grid-column [header]="'Email Address'" [binding]="'primary_smtp_address'"></wj-flex-grid-column>
    <wj-flex-grid-column [header]="'Warning Quota (MB)'" [binding]="'issue_warning_quota'"></wj-flex-grid-column>
    <wj-flex-grid-column [header]="'Prohibit Send Quota (MB)'" [binding]="'prohibit_send_quota'"></wj-flex-grid-column>
    <wj-flex-grid-column [header]="'Prohibit Send Receive Quota (MB)'" [binding]="'prohibit_send_receive_quota'"></wj-flex-grid-column>
    <wj-flex-grid-column [header]="'Is Active'" [binding]="'is_active'"></wj-flex-grid-column>
    <wj-flex-grid-column [header]="'Mailbox Type'" [binding]="'mailbox_type'"></wj-flex-grid-column>
    <wj-flex-grid-column [header]="'Total Item Size (MB)'" [binding]="'total_item_size_mb'"></wj-flex-grid-column>
    <wj-flex-grid-column [header]="'Total Item Count'" [binding]="'item_count'"></wj-flex-grid-column>
    <wj-flex-grid-column [header]="'Mailbox Database'" [binding]="'database_name'"></wj-flex-grid-column>
    <wj-flex-grid-column [header]="'Forwarding SMTP Address'" [binding]="'mailbox_forwarding_smtp_address'"></wj-flex-grid-column>
    <wj-flex-grid-column [header]="'Forwarding Address'" [binding]="'mailbox_forwarding_address'"></wj-flex-grid-column>
    <wj-flex-grid-column [header]="'Deliver To Mailbox and Forward'" [binding]="'deliver_to_mailbox_and_forward'"></wj-flex-grid-column>
    <wj-flex-grid-column [header]="'Foward To Rule'" [binding]="'rule_forward_to'"></wj-flex-grid-column>
    <wj-flex-grid-column [header]="'Foward as Attachment To Rule'" [binding]="'rule_forward_as_attachment_to'"></wj-flex-grid-column>
    <wj-flex-grid-column [header]="'Last Logon'" [binding]="'last_logon_time'"></wj-flex-grid-column>
    <wj-flex-grid-column [header]="'Days Since Last Logon'" [binding]="'days_since_last_logon'"></wj-flex-grid-column>
</wj-flex-grid>
<loading-indicator [isLoading]="isLoading"></loading-indicator>
<div class="btn-group" *ngIf="data != null">
    <button type="button" class="btn btn-default"
            (click)="data.moveToFirstPage()"
            [disabled]="data.pageIndex <= 0">
        <span class="glyphicon glyphicon-fast-backward"></span>
    </button>
    <button type="button" class="btn btn-default"
            (click)="data.moveToPreviousPage()"
            [disabled]="data.pageIndex <= 0">
        <span class="glyphicon glyphicon-step-backward">
        </span>
    </button>
    <button type="button" class="btn btn-default" disabled style="width:100px">
        {{data.pageIndex + 1 | number}} / {{data.pageCount | number}}
    </button>
    <button type="button" class="btn btn-default"
            (click)="data.moveToNextPage()"
            [disabled]="data.pageIndex >= data.pageCount - 1">
        <span class="glyphicon glyphicon-step-forward"></span>
    </button>
    <button type="button" class="btn btn-default"
            (click)="data.moveToLastPage()"
            [disabled]="data.pageIndex >= data.pageCount - 1">
        <span class="glyphicon glyphicon-fast-forward"></span>
    </button>
</div>
<div class="pull-right" *ngIf="data != null">
    <wj-menu [(value)]="pageSize" [header]="'Page size'">
        <wj-menu-item [value]="10">10</wj-menu-item>
        <wj-menu-item [value]="20">20</wj-menu-item>
        <wj-menu-item [value]="50">50</wj-menu-item>
        <wj-menu-item [value]="100">100</wj-menu-item>
        <wj-menu-item [value]="200">200</wj-menu-item>
    </wj-menu>
</div>

<wj-popup style="border: 0px; width: 820px; -webkit-user-select: text; -moz-user-select: text; -ms-user-select:text; user-select:text;" #powershellPopup>
    <div class="modal-content">
        <div class="modal-header">
            PowerScripts
            <button type="button" tabindex="-1" class="close wj-hide" (click)="closePopup()" name="cancel">&times;</button>
        </div>
        <div class="modal-body">

            <powershell-scripts></powershell-scripts>

        </div>
    </div>
</wj-popup>
      