<div class="panel-body">
    <form [formGroup]="logsettingform">
        <div class="row">
            <div class="form-group col-sm-6">
                <label for="log_level" class="control-label col-sm-2">Log Level  </label>
                <div class="col-sm-4">
                    <select class="form-control" required style="width: 100px;" name="log_level" id="log_level" [(ngModel)]="log_level" formControlName="log_level">
                        <option value="2" selected="selected">Normal</option>
                        <option value="1">Debug</option>
                        <option value="0">Verbose</option>
                    </select>
                </div>
                <div class="col-sm-2">
                    <button type="button" class="btn btn-primary" (click)="saveloglevel(logsettingform.value)">
                        Save Log Level
                    </button>
                </div>
            </div>

        </div>
    </form>
    <div class="text-danger" *ngIf="devices.length==0"><b>* Please select at least one file</b></div>
    <div>

        <div>



            <wj-flex-grid #flex [itemsSource]="logNames" selectionMode="ListBox" headersVisibility="Column">
                <wj-flex-grid-column [header]="'Select'" [binding]="'is_selected'" contenteditable="true">
                    <template wjFlexGridCellTemplate [cellType]="'Cell'" let-cell="cell">
                        <input type="checkbox" [ngModel]="cell.item.is_selected" (change)="serverCheck(cell.item.file_name,$event)" />
                    </template>
                </wj-flex-grid-column>
                <wj-flex-grid-column [header]="'File'" [binding]="'file_name'" is-read-only="true" [width]="280"> </wj-flex-grid-column>

            </wj-flex-grid>

        </div>

    </div>

    <div class="row">
        <div class="form-group col-sm-9">



            <label class="control-label col-sm-3">Email address to send Log Files</label>
            <div class="col-sm-4">
                <input type="email" [(ngModel)]="emailid" id="emailid" name="emailid" required class="form-control">
            </div>


            <div class="col-sm-2">
                <button type="button" class="btn btn-primary" (click)="applySetting(logsettingform.value)" [disabled]="!(devices.length>0)">
                    Zip and Send
                </button>
            </div>

        </div>


    </div>
</div>