<div class="container">
    <div class="widgetContent">
        <div class="panel-body">
            <div class="row">
                <div class="form-group col-sm-9">
                    <label for="log_level" class="control-label col-sm-2">Log Level  </label>
                    <div class="col-sm-4">
                        <select class="form-control" style="width: 100px;"  name="log_level" id="log_level" [(ngModel)]="log_level">
                            <option value="2" selected="selected">Normal</option>
                            <option value="1">Debug</option>
                            <option value="0">Verbose</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-sm-9">
                    <div class="col-sm-2">
                        <button type="button" class="btn btn-primary" (click)="applySetting(logsettingform.value)">
                            Zip and Send
                        </button>
                    </div>
                    <div class="col-sm-4">
                        <input type="email" [(ngModel)]="emailid" id="emailid" name="emailid" class="form-control" style="width: 150px;">
                    </div>
                </div>


            </div>
            <div>

                <div>
                    <table class="table table-hover" width="25">
                        <tbody *ngIf="logNames">
                            <tr *ngFor="let logname of logNames">

                                <td>
                                    <div class="table-cell-height">
                                        <div>
                                            <div class="funkyradio col-sm-8">
                                                <label>
                                                    <input class="funkyradio" type="checkbox" (change)="serverCheck(logname.file_name,$event)" />
                                                    {{ logname.file_name }}
                                                </label>

                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>

            </div>
        </div>
        </div>
</div>