<div class="widgetWrapper" *ngIf="exchangeServerImportData">
    <!--Step 1-->
    <div *ngIf="currentStep=='1'">
        <div class="panel panel-default">
            <div class="alert alert-info col-lg-12">
                Enter the Exchange  Directory Server value and click 'Load Servers'
            </div>
            <div class="row">
                <div class="form-group col-sm-6">
                    <label for="exchangeServer" class="control-label col-sm-4">Server Type</label>
                    <div class="col-sm-8">
                        <select name="exchangeServer" [(ngModel)]="device_type">
                            <option Value="Exchange" selected>Exchange</option>
                            <!--<option Value="Active Directory">Active Directory</option>
                        <option Value="Data Availablity Group">Data Availablity Group</option>
                        <option Value="Exchange">Exchange</option>
                        <option Value="Skype for Business">Skype for Business</option>
                        <option Value="SharePoint">SharePoint</option>
                        <option Value="Windows">Windows</option>-->
                        </select>
                    </div>
                </div>
                <div *ngIf="device_type=='Exchange'">
                    <div class="form-group col-sm-6">
                        <label for="exchangeServer" class="control-label col-sm-4">Authentication Type</label>
                        <div class="col-sm-8">
                            <select name="authenticationServer" [(ngModel)]="exchangeServerImportData.authentication_type">
                                <option Value="Default">Default</option>
                                <option Value="Kerberos">Kerberos</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-6">
                    <label for="exchangeServer" class="control-label col-sm-4">Server Address</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" required name="exchangeServer" [(ngModel)]="exchangeServerImportData.ip_address">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-6">
                    <label class="control-label col-sm-4">Credentials&nbsp;&nbsp;&nbsp;</label>
                    <wj-combo-box displayMemberPath="alias" selectedValuePath="id" name="credentials" [itemsSource]="deviceCredentialData"
                                  placeholder="Select Credentials" [(selectedValue)] ="exchangeServerImportData.credential_id">
                    </wj-combo-box>
                </div>
                    <div>
                        <button class="btn btn-primary" (click)="addCrdential(frmDialog)">
                            Add Credentials
                        </button>
                    </div>
                
            </div>
            <div class="row">
                <div class="form-group col-sm-6">
                    <button class="btn btn-primary" type="button" name="load_servers" [disabled]="loading" (click)="loadServers()">Load Servers</button>
                    <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                </div>
                </div>
                <div id="errorDiv" class="alert alert-danger" *ngIf="errorMessage">
                    Error: {{errorMessage}}
                </div>
                <div id="errorinfoDiv" class="alert alert-info" *ngIf="errorMessage">
                    Please check the following possible issues to ensure the Import Wizard is able to
                    function correctly:<br />
                    <br />
                    Please enter the Exchange Server's URL, including HTTP/HTTPS. The credentials should be an administrative account with the format of USERNAME@DOMAIN.com
                </div>
            </div>
            <div *ngIf="exchangeServerImportData.servers.length>0">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Select Servers and Assign Locations
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label class="control-label col-sm-4">Locations&nbsp;&nbsp;</label>
                                <wj-combo-box displayMemberPath="text" selectedValuePath="value" name="location" [itemsSource]="deviceLocationData"
                                              [(ngModel)]="exchangeServerImportData.location" placeholder="Select Location" #location>

                                </wj-combo-box>
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="protocol" class="control-label col-sm-1">Protocol</label>
                                <div>
                                    <select name="protocol" [(ngModel)]="exchangeServerImportData.protocol">
                                        <option Value="http://">http</option>
                                        <option Value="https://">https</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                            <div class="alert alert-info col-lg-12">Any server not on the list has already been imported.</div>
                            <div class="row">
                                <div class="col-sm-3">
                                    <button class="btn btn-primary" type="button" name="selectall" (click)="selectAll()">Select All</button>
                                    <button class="btn btn-primary" type="button" name="deselectall" (click)="deselectAll()">Deselect All</button>
                                </div>
                            </div>
                            <div class="row">
                                &nbsp;
                            </div>
                            <div class="row">
                                <div class="col-sm-3" *ngFor="let server of exchangeServerImportData.servers; let i=index">
                                    <label>
                                        <input type="checkbox" class="checkbox-inline" name="{{server.device_name}}" [(ngModel)]="server.is_selected">
                                        {{server.device_name}}
                                    </label>
                                </div>
                            </div>
                        </div>
                    <div class="panel-footer">
                        <button class="btn btn-primary" type="button" name="next" (click)="step1Click()">Next</button>
                    </div>
                </div>
            </div>

        </div>
    
    <!--Step 2-->
    <div *ngIf="currentStep=='2'">
        <div class="panel panel-default">
            <div class="panel-heading">
                Server Attributes
            </div>
            <div class="panel-body">
                <div class="panel panel-default">
                    <div class="panel-heading">Scan Settings</div>
                    <div class="panel-body">
                        <div class="row">
                            <div *ngFor="let attribute of exchangeServerImportData.device_attributes |filterDeviceAttributes:scanSettings">
                                <div class="form-group col-sm-12">
                                    <label class="control-label col-sm-3">{{attribute.attribute_name}}</label>
                                    <div class="col-sm-1">
                                        <div *ngIf="attribute.type=='TextBox'">
                                            <input type="text" [(ngModel)]="attribute.default_value" class="form-control">
                                        </div>
                                        <div *ngIf="attribute.type=='CheckBox'">
                                            <input type="checkbox" [(ngModel)]="attribute.default_value">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">Memory and CPU</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="form-group col-sm-12">
                                <label class="control-label col-sm-3">Memory Threshold</label>
                                <div class="col-sm-1">
                                    <input type="text" [(ngModel)]="exchangeServerImportData.memory_threshold" class="form-control">
                                </div>
                            </div>
                            <div class="form-group col-sm-12">
                                <label class="control-label col-sm-3">CPU Threshold</label>
                                <div class="col-sm-1">
                                    <input type="text" [(ngModel)]="exchangeServerImportData.cpu_threshold" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">Selected Servers</div>
                    <div class="panel-body">
                        <div class="form-group col-sm-12">
                            <div *ngFor="let server of exchangeServerImportData.servers; let i=index">
                                <label *ngIf="server.is_selected" class="col-sm-3">{{server.device_name}}</label>
                            </div>
                        </div>
                    </div>
                </div>            
            </div>
            <div class="panel-footer">
                    <button class="btn btn-primary" type="button" name="next" (click)="step2Click()">Next</button>
                </div>
        </div>       
    </div>

    <!--Step 3-->
    <div *ngIf="currentStep=='3'">
        <div class="panel panel-default">
            <div class="panel-heading">
                Finish
            </div>
            <div class="panel-body">
                <div class="panel-heading">
                    The following servers were imported successfully:
                </div>
                <div class="panel-body">
                    <div class="form-group col-sm-12">
                        <div *ngFor="let server of exchangeServerImportData.servers; let i=index">
                            <label *ngIf="server.is_selected" class="col-sm-3">{{server.device_name}}</label>
                        </div>
                    </div>
                </div>        
            </div>
            <div class="panel-footer">
                <button class="btn btn-primary" type="button" name="next" (click)="step3Click()">Finish</button>
            </div>
        </div>
    </div>
    </div>
<wj-popup style="border: 0px; width: 40%" #frmDialog>
    <div class="modal-content">
        <div class="modal-header">
            Credentials
            <button type="button" tabindex="-1" class="close wj-hide" (click)="cancelEditAdd()" name="cancel">&times;</button>
        </div>
        <form (ngSubmit)="SaveCredential(addCredentialForm.value,frmDialog)" class="form-horizontal" [formGroup]="addCredentialForm">
            <div class="modal-body">

                <div class="form-group col-sm-12">
                    <label for="alias" class="control-label col-sm-2">Alias</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" #name d="alias" required name="alias" formControlName="alias">
                    </div>
                </div>
                <div class="form-group col-sm-12">
                    <label for="user_id" class="control-label col-sm-2">User Id</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" required name="user_id" formControlName="user_id">
                    </div>
                </div>

                <div class="form-group col-sm-12">
                    <label for="password" class="control-label col-sm-2">Password</label>
                    <div class="col-sm-4">
                        <input type="password" class="form-control" name="password" required formControlName="password">
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary"> Save </button>
                <button class="btn btn-primary wj-hide " type="button" name="cancel" (click)="cancelEditAdd()">Cancel</button>
            </div>
        </form>
    </div>
</wj-popup>