<!--servers Not responding -->
<div class="col-xs-12 col-sm-6">
    <div class="widgetWrapper noPadding h-xs-237 zeusColorReact-danger" data-widget-type="widgetStatusNumber">

        <div class="widgetContent">
            <div class="widgetStatusNumber-head zeusColorReactText" *ngIf="statusSummary">{{statusSummary.notResponding}}</div>
            <div class="widgetStatusNumber-text zeusColorReactText">servers are <strong>not responding</strong></div>
        </div>

        <a [routerLink]="['/services/dashboard']" [queryParams]="{status: 'Not Responding'}" class="widgetFooter zeusColorReactBg">
            <span aria-hidden="true" class="glyphicon glyphicon-arrow-right"></span> Show me the list
        </a>

    </div>
</div>

<!--servers No Issues -->
<div class="col-xs-12 col-sm-6">
    <div class="widgetWrapper noPadding h-xs-237 zeusColorReact-success" data-widget-type="widgetStatusNumber">

        <div class="widgetContent">
            <div class="widgetStatusNumber-head zeusColorReactText" *ngIf="statusSummary">{{statusSummary.ok}}</div>
            <div class="widgetStatusNumber-text zeusColorReactText">servers <strong>without issue</strong></div>
        </div>

        <a [routerLink]="['/services/dashboard']" [queryParams]="{status: 'OK'}" class="widgetFooter zeusColorReactBg">
            <span aria-hidden="true" class="glyphicon glyphicon-arrow-right"></span> Show me the list
        </a>

    </div>
</div>

<!--servers Issues -->
<div class="col-xs-12 col-sm-6">
    <div class="widgetWrapper noPadding h-xs-237 zeusColorReact-warning" data-widget-type="widgetStatusNumber">

        <div class="widgetContent">
            <div class="widgetStatusNumber-head zeusColorReactText" *ngIf="statusSummary">{{statusSummary.issue}}</div>
            <div class="widgetStatusNumber-text zeusColorReactText">servers <strong>have issues</strong></div>
        </div>

        <a [routerLink]="['/services/dashboard']" [queryParams]="{status: 'Issue'}" class="widgetFooter zeusColorReactBg">
            <span aria-hidden="true" class="glyphicon glyphicon-arrow-right"></span> Show me the list
        </a>

    </div>
</div>

<!--servers Maintenance -->
<div class="col-xs-12 col-sm-6">
    <div class="widgetWrapper noPadding h-xs-237 zeusColorReact-default" data-widget-type="widgetStatusNumber">

        <div class="widgetContent">
            <div class="widgetStatusNumber-head zeusColorReactText" *ngIf="statusSummary">{{statusSummary.maintenance}}</div>
            <div class="widgetStatusNumber-text zeusColorReactText">servers <strong>are in maintenance</strong></div>
        </div>

        <a [routerLink]="['/services/dashboard']" [queryParams]="{status: 'Maintenance'}" class="widgetFooter zeusColorReactBg">
            <span aria-hidden="true" class="glyphicon glyphicon-arrow-right"></span> Show me the list
        </a>

    </div>
</div>