<div id="zeusContext">

    <div id="zeusContextNavigation">
        <div id="zeusContextNavigationIcon">
            <img class="svgInject" src="/img/menu/dashboard.svg" title="Dashboard" alt="Dashboard" />
        </div>
        <div id="zeusContextNavigationText">
            <h2>
                Office 365
                <app-navigator></app-navigator>
            </h2>
            <p>Office 365 dashboard</p>
        </div>
    </div>

    <div class="clearfix"></div>
</div>

<div class="hidden-xs hidden-sm dashboard-menu" id="zeusContext">

    <ul class="list-group" *ngIf="contextMenuSiteMap">

        <li class="list-group-item" *ngFor="let node of contextMenuSiteMap.nodes" 
            [routerLinkActive]="['selected']"
            [routerLinkActiveOptions]="{exact: true}">
            <a [routerLink]="[node.url]">{{node.title}}</a>
        </li>

    </ul>

</div>

<div id="zeusContent" class="container-fluid">
    <router-outlet></router-outlet>
</div>

<button class="visible-xs visible-sm showMbtn" onclick="$('.dashboard-menu').toggle();">
    <img class="svgInject" src="/img/dashboard/SubLevelsMenu.svg" title="Dashboard Sub Levels" alt="Dashboard Sub Levels" />
</button>
