<button class="btn btn-primary" (click)="ExportExcel()">Export to Excel</button>
<wj-flex-grid [itemsSource]="data" selectionMode="Row" [isReadOnly]="true" headersVisibility="Column" #flex>
    <wj-flex-grid-filter></wj-flex-grid-filter>
    <wj-flex-grid-column [header]="'Users'" [binding]="'display_name'" [width]="150"></wj-flex-grid-column>
    <wj-flex-grid-column [header]="'UPN'" [binding]="'user_principal_name'" [width]="220" align="left"></wj-flex-grid-column>
    <wj-flex-grid-column [header]="'Last Login'" [binding]="'account_last_modified'" [width]="120" align="left">
        <template wjFlexGridCellTemplate [cellType]="'Cell'" let-cell="cell">
            {{cell.item.account_last_modified |date: 'shortDate'}}
        </template>
    </wj-flex-grid-column>
    <wj-flex-grid-column [header]="'Last AD Sync'" [binding]="'ad_last_sync'" [width]="120" align="right">
        <template wjFlexGridCellTemplate [cellType]="'Cell'" let-cell="cell">
            {{cell.item.ad_last_sync |date: 'shortDate'}}
        </template>
    </wj-flex-grid-column>
</wj-flex-grid>
<div class="pull-right" *ngIf="data != null">
    <wj-menu [(value)]="pageSize" [header]="'Page size'">
        <wj-menu-item [value]="10">10</wj-menu-item>
        <wj-menu-item [value]="20">20</wj-menu-item>
        <wj-menu-item [value]="50">50</wj-menu-item>
    </wj-menu>
</div>