<div id="infoDiv1" class="alert alert-info col-md-12" align="left">
    To compare users' community memberships, select two distinct users below and click Compare.
</div>
<div class="col-md-8">
    <div id="user1" class="col-md-4" style="display:inline-block">
        <span class="headerBlock">User 1:</span>
        <wj-combo-box name="user_selector_1" [itemsSource]="userData" [placeholder]="'Select User'" displayMemberPath="name" selectedValuePath="id" #user_selector_1>
        </wj-combo-box>
    </div>
    <div id="user2" class="col-md-4" style="display:inline-block">
        <span class="headerBlock">User 2:</span>
        <wj-combo-box name="user_selector_2" [itemsSource]="userData" [placeholder]="'Select User'"  displayMemberPath="name" selectedValuePath="id" #user_selector_2>
        </wj-combo-box>
    </div>
    <div class="col-md-2">
        <button type="button" class="btn btn-primary" (click)="compareUsers()">Compare</button>
    </div>
</div>
<div class="col-md-12">&nbsp;</div>
<wj-flex-grid *ngIf="comparisonData != null" [itemsSource]="comparisonData" selectionMode="Row" [isReadOnly]="true" headersVisibility="Column" #flex>
    <wj-flex-grid-filter></wj-flex-grid-filter>
    <wj-flex-grid-column [header]="'Name'" [binding]="'name'" width="*"></wj-flex-grid-column>
    <wj-flex-grid-column [header]="'Category'" [binding]="'category'" [width]="90" align="right" [visible]="false"></wj-flex-grid-column>
</wj-flex-grid>
<div class="btn-group" *ngIf="comparisonData != null">
    <button type="button" class="btn btn-default"
            (click)="comparisonData.moveToFirstPage()"
            [disabled]="comparisonData.pageIndex <= 0">
        <span class="glyphicon glyphicon-fast-backward"></span>
    </button>
    <button type="button" class="btn btn-default"
            (click)="comparisonData.moveToPreviousPage()"
            [disabled]="comparisonData.pageIndex <= 0">
        <span class="glyphicon glyphicon-step-backward">
        </span>
    </button>
    <button type="button" class="btn btn-default" disabled style="width:100px">
        {{comparisonData.pageIndex + 1 | number}} / {{comparisonData.pageCount | number}}
    </button>
    <button type="button" class="btn btn-default"
            (click)="comparisonData.moveToNextPage()"
            [disabled]="comparisonData.pageIndex >= comparisonData.pageCount - 1">
        <span class="glyphicon glyphicon-step-forward"></span>
    </button>
    <button type="button" class="btn btn-default"
            (click)="comparisonData.moveToLastPage()"
            [disabled]="comparisonData.pageIndex >= comparisonData.pageCount - 1">
        <span class="glyphicon glyphicon-fast-forward"></span>
    </button>
</div>
<div class="pull-right" *ngIf="comparisonData != null">
    <wj-menu [(value)]="pageSize" [header]="'Page size'">
        <wj-menu-item [value]="10">10</wj-menu-item>
        <wj-menu-item [value]="20">20</wj-menu-item>
        <wj-menu-item [value]="50">50</wj-menu-item>
    </wj-menu>
</div>