<button class="btn btn-primary" (click)="ExportExcel()">Export to Excel</button>
<wj-group-panel [grid]="flex" [placeholder]="'Drag columns here to create groups.'" class="visible"></wj-group-panel>
<wj-flex-grid [itemsSource]="data" selectionMode="Row" [isReadOnly]="true">
    <wj-flex-grid-filter></wj-flex-grid-filter>
    <wj-flex-grid-column [header]="'Community Name'" [binding]="'name'"  [width]="240"></wj-flex-grid-column>
    <wj-flex-grid-column [header]="'Type'" [binding]="'community_type'"></wj-flex-grid-column>

    <wj-flex-grid-column [header]="'Owners'" [binding]="'num_of_owners'"></wj-flex-grid-column>
    <wj-flex-grid-column [header]="'Members'" [binding]="'num_of_members'"></wj-flex-grid-column>
    <wj-flex-grid-column [header]="'Followers'" [binding]="'num_of_followers'"></wj-flex-grid-column>
    <!--<wj-flex-grid-column [header]="'User'" [binding]="'object_user'"></wj-flex-grid-column>
    <wj-flex-grid-column [header]="'Is Owner'" [binding]="'is_owner'"></wj-flex-grid-column>-->
    <wj-flex-grid-column [header]="'URL'" [binding]="'url'" width="*"></wj-flex-grid-column>

  </wj-flex-grid>
<div class="btn-group" *ngIf="data != null">
    <button type="button" class="btn btn-default"
            (click)="data.moveToFirstPage()"
            [disabled]="data.pageIndex <= 0">
        <span class="glyphicon glyphicon-fast-backward"></span>
    </button>
    <button type="button" class="btn btn-default"
            (click)="data.moveToPreviousPage()"
            [disabled]="data.pageIndex <= 0">
        <span class="glyphicon glyphicon-step-backward">
        </span>
    </button>
    <button type="button" class="btn btn-default" disabled style="width:100px">
        {{data.pageIndex + 1 | number}} / {{data.pageCount | number}}
    </button>
    <button type="button" class="btn btn-default"
            (click)="data.moveToNextPage()"
            [disabled]="data.pageIndex >= data.pageCount - 1">
        <span class="glyphicon glyphicon-step-forward"></span>
    </button>
    <button type="button" class="btn btn-default"
            (click)="data.moveToLastPage()"
            [disabled]="data.pageIndex >= data.pageCount - 1">
        <span class="glyphicon glyphicon-fast-forward"></span>
    </button>
</div>
<div class="pull-right" *ngIf="data != null">
    <wj-menu [(value)]="pageSize" [header]="'Page size'">
        <wj-menu-item [value]="100">100</wj-menu-item>
        <wj-menu-item [value]="200">200</wj-menu-item>
        <wj-menu-item [value]="500">500</wj-menu-item>
        <wj-menu-item [value]="1000">1000</wj-menu-item>
        <wj-menu-item [value]="5000">5000</wj-menu-item>
    </wj-menu>
</div>