<div id="zeusHeaderLeftWrapper">
    <a href="javascript:void(0);" class="toggleMenuBt headerBlock">
        <img class="svgInject" src="/img/menu/toggleMenu.svg" title="toggle Menu" alt="toggle Menu" />
    </a>
    <a [routerLink]="['/']" id="headerLogo" class="headerBlock">
        <img src="/img/LogoVitalSigns.png" />
    </a>
    <div id="searchWrapper" class="headerBlock" *ngIf="authService.isLoggedIn">
        <input type="text" value="" placeholder="Find servers..." id="searchInput"  [(ngModel)]="deviceName" (blur)="changeDeviceName()"/>      
        <span class="glyphicon glyphicon-search" aria-hidden="true" id="launchSearchBt" ></span>
    </div>
</div>
<div id="zeusHeaderRightWrapper" *ngIf="authService.isLoggedIn">  
    <div id="noResponseNotification" class="headerBlock notifVitalSign" *ngIf="deviceSummary">
        <a [routerLink]="['/services/dashboard']" [queryParams]="{status: 'Not Responding'}" class="widgetFooter zeusColorReactBg">
            <span class="notifVitalSignNumber badge">{{deviceSummary.notResponding}}</span>
            <span class="notifVitalSignLabel">Not resp. </span>
        </a>      
    </div>
    <div id="noIssuesNotification" class="headerBlock notifVitalSign" *ngIf="deviceSummary">
        <a [routerLink]="['/services/dashboard']" [queryParams]="{status: 'OK'}" class="widgetFooter zeusColorReactBg">
            <span class="notifVitalSignNumber badge">{{deviceSummary.ok}}</span>
            <span class="notifVitalSignLabel">No iss.</span>
        </a>
    </div>
    <div id="issuesNotification" class="headerBlock notifVitalSign" *ngIf="deviceSummary">
        <a [routerLink]="['/services/dashboard']" [queryParams]="{status: 'Issue'}" class="widgetFooter zeusColorReactBg">
            <span class="notifVitalSignNumber badge">{{deviceSummary.issue}}</span>
            <span class="notifVitalSignLabel">Issues</span>
        </a>      
    </div>
    <div id="maintenanceNotification" class="headerBlock notifVitalSign" *ngIf="deviceSummary">
        <a [routerLink]="['/services/dashboard']" [queryParams]="{status: 'Maintenance'}" class="widgetFooter zeusColorReactBg">
            <span class="notifVitalSignNumber badge">{{deviceSummary.maintenance}}</span>
            <span class="notifVitalSignLabel">Mainten.</span>
        </a>
    </div>
    <div id="notificationBtWrapper" class="headerBlock" *ngIf="deviceSummary">
        <span aria-hidden="true" class="glyphicon glyphicon-bell"></span>
        <span class="badge">{{deviceSummary.systemMessages}}</span>
    </div>

    <div id="userWrapper" class="headerBlock">
        <div id="userName">
            
            <a class="dropdown-toggle" data-toggle="dropdown" id="openContextNavigation" aria-hidden="true">{{authService.CurrentUser.email}}<span class="glyphicon glyphicon-chevron-down"></span></a>
            <ul class="dropdown-menu" style="white-space:nowrap; right: 0 !important; left:unset">
                <li style="display:table">
                    <a #forgot2>Change password</a>
                </li>
                <li style="display:table"><a [routerLink]="['/login']" (click)="logout();">Log out</a></li>
            </ul>
            <wj-popup #frmDialog class="popover" [owner]="forgot2" [showTrigger]="'Click'" [hideTrigger]="'None'">
                <h3 class="popover-title">
                    Change Password
                    <button type="button" tabindex="-1" class="close wj-hide">&times;</button>
                </h3>
                <div class="popover-content">
                    <div class="input-group">
                        <label for="password" class="control-label">Please Enter New Password</label>
                        <input #password class="form-control" name="password" type="text" required />
                    </div>
                    <div>&nbsp;</div>
                    <div class="form-actions">
                        <button type="button" class="btn btn-primary" name="save" (click)="changePassword(frmDialog);">OK</button>
                    </div>
                </div>
            </wj-popup>
        </div>
        <!--<a [routerLink]="['/profiles']">
            <img src="/img/JohnDoeAvatar.png" id="userAvatar" />
        </a>-->
    </div>
</div>