<div id="zeusHeaderLeftWrapper">
    <a href="javascript:void(0);" class="toggleMenuBt headerBlock">
        <img class="svgInject" src="/img/menu/toggleMenu.svg" title="toggle Menu" alt="toggle Menu" />
    </a>
    <a [routerLink]="['/']" id="headerLogo" class="headerBlock">
        <img src="/img/LogoVitalSigns.png" />
    </a>
    <div id="searchWrapper" class="headerBlock">
        <input type="text" value="" placeholder="Find servers..." id="searchInput" />
        <span class="glyphicon glyphicon-search" aria-hidden="true" id="launchSearchBt"></span>
    </div>
</div>
<div id="zeusHeaderRightWrapper">

    <div id="noResponseNotification" class="headerBlock notifVitalSign" *ngIf="deviceSummary">
        <span class="notifVitalSignNumber badge">{{deviceSummary.notResponding}}</span>
        <span class="notifVitalSignLabel">No resp. </span>
    </div>
    <div id="noIssuesNotification" class="headerBlock notifVitalSign" *ngIf="deviceSummary">
        <span class="notifVitalSignNumber badge">{{deviceSummary.ok}}</span>
        <span class="notifVitalSignLabel">No iss.</span>
    </div>
    <div id="issuesNotification" class="headerBlock notifVitalSign" *ngIf="deviceSummary">
        <span class="notifVitalSignNumber badge">{{deviceSummary.issue}}</span>
        <span class="notifVitalSignLabel">Issues</span>
    </div>
    <div id="maintenanceNotification" class="headerBlock notifVitalSign" *ngIf="deviceSummary">
        <span class="notifVitalSignNumber badge">{{deviceSummary.maintenance}}</span>
        <span class="notifVitalSignLabel">Mainten.</span>
    </div>
    <div id="notificationBtWrapper" class="headerBlock">
        <span aria-hidden="true" class="glyphicon glyphicon-bell"></span>
        <span class="badge">3</span>
    </div>

    <div id="userWrapper" class="headerBlock">
        <div id="userName">Jonathan Doe<span aria-hidden="true" class="glyphicon glyphicon-chevron-down"></span></div>
        <a [routerLink]="['/profiles']">
            <img src="/img/JohnDoeAvatar.png" id="userAvatar" />
        </a>
    </div>
</div>