<div class="row">
    <wj-flex-grid [itemsSource]="data" selectionMode="Row" [frozenColumns]="2" [isReadOnly]="true" headersVisibility="Column" #flex>
        <wj-flex-grid-filter></wj-flex-grid-filter>
        <wj-flex-grid-column [header]="'Mail ServerName'" [binding]="'mail_server_name'" [width]="200"></wj-flex-grid-column>
        <wj-flex-grid-column [header]="'000-001'" [binding]="'[000-001]'" [width]="100"></wj-flex-grid-column>
        <wj-flex-grid-column [header]="'001-002'" [binding]="'[001-002]'" [width]="100"></wj-flex-grid-column>
        <wj-flex-grid-column [header]="'002-005'" [binding]="'[002-005]'" [width]="100"></wj-flex-grid-column>
        <wj-flex-grid-column [header]="'005-010'" [binding]="'[005-010]'" [width]="100"></wj-flex-grid-column>
        <wj-flex-grid-column [header]="'010-030'" [binding]="'[010-030]'" [width]="100"></wj-flex-grid-column>
        <wj-flex-grid-column [header]="'030-060'" [binding]="'[030-060]'" [width]="100"></wj-flex-grid-column>
        <wj-flex-grid-column [header]="'060-120'" [binding]="'[060-120]'" [width]="100"></wj-flex-grid-column>
        <wj-flex-grid-column [header]="'120-INF'" [binding]="'[120-INF]'" [width]="100"></wj-flex-grid-column>
        <wj-flex-grid-column [header]="'Date Updated'" [binding]="'date_updated'" [width]="200"></wj-flex-grid-column>
       
 </wj-flex-grid>
    <div class="btn-group" *ngIf="data != null">
        <button type="button" class="btn btn-default"
                (click)="data.moveToFirstPage()"
                [disabled]="data.pageIndex <= 0">
            <span class="glyphicon glyphicon-fast-backward"></span>
        </button>
        <button type="button" class="btn btn-default"
                (click)="data.moveToPreviousPage()"
                [disabled]="data.pageIndex <= 0">
            <span class="glyphicon glyphicon-step-backward">
            </span>
        </button>
        <button type="button" class="btn btn-default" disabled style="width:100px">
            {{
data.pageIndex + 1 | number
            }} / {{data.pageCount | number}}
        </button>
        <button type="button" class="btn btn-default"
                (click)="data.moveToNextPage()"
                [disabled]="data.pageIndex >= data.pageCount - 1">
            <span class="glyphicon glyphicon-step-forward"></span>
        </button>
        <button type="button" class="btn btn-default"
                (click)="data.moveToLastPage()"
                [disabled]="data.pageIndex >= data.pageCount - 1">
            <span class="glyphicon glyphicon-fast-forward"></span>
        </button>
    </div>
    <div class="pull-right" *ngIf="data != null">
        <wj-menu [(value)]="pageSize" [header]="'Page size'">
            <wj-menu-item [value]="10">10</wj-menu-item>
            <wj-menu-item [value]="20">20</wj-menu-item>
            <wj-menu-item [value]="50">50</wj-menu-item>
        </wj-menu>
    </div>
</div>