<wj-group-panel [grid]="flex" [placeholder]="'Drag columns here to create groups.'" class="visible"></wj-group-panel>
<wj-flex-grid [itemsSource]="data" selectionMode="Row" [frozenColumns]="2" [isReadOnly]="true" #flex>
    <wj-flex-grid-filter></wj-flex-grid-filter>
    <wj-flex-grid-column [header]="'Database Name'" [binding]="'title'" [width]="250"></wj-flex-grid-column>
    <wj-flex-grid-column [header]="'Status'" [binding]="'status'" [width]="100" align="center">
        <template wjFlexGridCellTemplate [cellType]="'Cell'" let-cell="cell">
            <div [ngSwitch]="cell.item.status">
                <span *ngSwitchCase="'OK'" class="label label-pill label-success">{{cell.item.status}}</span>                
                <span *ngSwitchCase="'Exception'" class="label label-pill label-danger">{{cell.item.status}}</span>
                <span *ngSwitchDefault class="label label-pill label-default">{{cell.item.status}}</span>
            </div>
        </template>
    </wj-flex-grid-column>
    <wj-flex-grid-column [header]="'Device Name'" [binding]="'device_name'" [width]="180"></wj-flex-grid-column>
    <wj-flex-grid-column [header]="'Folder'" [binding]="'folder'" [width]="280"></wj-flex-grid-column>
    <wj-flex-grid-column [header]="'Folder Count'" [binding]="'folder_count'" [width]="150"></wj-flex-grid-column>
    <wj-flex-grid-column [header]="'Details'" [binding]="'details'" [width]="280"></wj-flex-grid-column>
    <wj-flex-grid-column [header]="'File Name'" [binding]="'file_name'" [width]="100"></wj-flex-grid-column>
    <wj-flex-grid-column [header]="'Design Template'" [binding]="'design_template_name'" [width]="200"></wj-flex-grid-column>
    <wj-flex-grid-column [header]="'Size(MB)'" [binding]="'file_size'" [width]="80"></wj-flex-grid-column>
    <wj-flex-grid-column [header]="'Quota(MB)'" [binding]="'quota'" [width]="80"></wj-flex-grid-column>
    <wj-flex-grid-column [header]="'Inbox Documents'" [binding]="'inbox_doc_count'" [width]="100"></wj-flex-grid-column>
    <wj-flex-grid-column [header]="'Scan Date'" [binding]="'scan_date'" [width]="150" [format]="d"></wj-flex-grid-column>
    <wj-flex-grid-column [header]="'ReplicaID'" [binding]="'replica_idss'" [width]="150"></wj-flex-grid-column>
    <wj-flex-grid-column [header]="'Document Count'" [binding]="'document_count'" [width]="150"></wj-flex-grid-column>
    <wj-flex-grid-column [header]="'Categories'" [binding]="'categories'" [width]="150"></wj-flex-grid-column>
</wj-flex-grid>
<div class="btn-group" *ngIf="data != null">
    <button type="button" class="btn btn-default"
            (click)="data.moveToFirstPage()"
            [disabled]="data.pageIndex <= 0">
        <span class="glyphicon glyphicon-fast-backward"></span>
    </button>
    <button type="button" class="btn btn-default"
            (click)="data.moveToPreviousPage()"
            [disabled]="data.pageIndex <= 0">
        <span class="glyphicon glyphicon-step-backward">
        </span>
    </button>
    <button type="button" class="btn btn-default" disabled style="width:100px">
        {{
data.pageIndex + 1 | number
        }} / {{data.pageCount | number}}
    </button>
    <button type="button" class="btn btn-default"
            (click)="data.moveToNextPage()"
            [disabled]="data.pageIndex >= data.pageCount - 1">
        <span class="glyphicon glyphicon-step-forward"></span>
    </button>
    <button type="button" class="btn btn-default"
            (click)="data.moveToLastPage()"
            [disabled]="data.pageIndex >= data.pageCount - 1">
        <span class="glyphicon glyphicon-fast-forward"></span>
    </button>
</div>
<div class="pull-right" *ngIf="data != null">
    <wj-menu [(value)]="pageSize" [header]="'Page size'">
        <wj-menu-item [value]="10">10</wj-menu-item>
        <wj-menu-item [value]="20">20</wj-menu-item>
        <wj-menu-item [value]="50">50</wj-menu-item>
    </wj-menu>
</div>