<div id="serverDetailHeader" *ngIf="service">

    <div id="serverOverview">
        <div class="row">
            <div class="form-group col-sm-6">
                <div class="serverStatus {{service.status}}" [innerHTML]="getStatusDescription(service.status)"></div>
                <div class="serverIcon">
                    <span class="helper"></span><img class="svgInject" src="{{service.icon}}" title="{{service.name}}" alt="{{service.name}}" />
                </div>
                <h2>{{service.name}}</h2>
                <p>{{service.version}} - {{service.description}}</p>
            </div>            
        </div>
       
    </div>
    
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">

        <li role="presentation" [class.active]="tab.active" (click)="selectTab(tab)" *ngFor="let tab of service.tabs">
            <a href="javascript:void(0);">{{tab.title}}</a>
        </li>

    </ul>

</div>
<!-- Tab panes -->
<div id="serverDetailContent" class="tab-content">

    <div #tab></div>

</div>