<div class="widgetWrapper">
    <div class="form-group col-sm-12">
        <div class="col-sm-12">&nbsp;</div>
        <div class="alert alert-info col-sm-12">
            <p>The list of available alerts is listed below. In order to add new alerts or configure existing alerts, please use the Alerts\Alert Definitions menu.</p>
        </div>
        <div class="form-group">
            <wj-flex-grid #flex [itemsSource]="data" selectionMode="Row" headersVisibility="Column" [frozenColumns]="2" [isReadOnly]="true">
                <wj-flex-grid-filter></wj-flex-grid-filter>
                <wj-flex-grid-column [header]="'Name'" [binding]="'notification_name'" [width]="200"> </wj-flex-grid-column>
                <wj-flex-grid-column [header]="'Start Time'" [binding]="'start_time'" [width]="150"></wj-flex-grid-column>
                <wj-flex-grid-column [header]="'Duration (min)'" [binding]="'duration'" [width]="150"></wj-flex-grid-column>
                <wj-flex-grid-column [header]="'To'" [binding]="'send_to'" [width]="150"></wj-flex-grid-column>
                <wj-flex-grid-column [header]="'Cc'" [binding]="'copy_to'" [width]="160"></wj-flex-grid-column>
                <wj-flex-grid-column [header]="'Bcc'" [binding]="'blind_copy_to'" [width]="160"></wj-flex-grid-column>
                <wj-flex-grid-column [header]="'Event Type'" [binding]="'event_type'" [width]="200"></wj-flex-grid-column>
                <wj-flex-grid-column [header]="'Day(s)'" [binding]="'days'" [width]="200"></wj-flex-grid-column>

            </wj-flex-grid>
            <div class="btn-group" *ngIf="data != null">
                <button type="button" class="btn btn-default"
                        (click)="data.moveToFirstPage()"
                        [disabled]="data.pageIndex <= 0">
                    <span class="glyphicon glyphicon-fast-backward"></span>
                </button>
                <button type="button" class="btn btn-default"
                        (click)="data.moveToPreviousPage()"
                        [disabled]="data.pageIndex <= 0">
                    <span class="glyphicon glyphicon-step-backward">
                    </span>
                </button>
                <button type="button" class="btn btn-default" disabled style="width:100px">
                    {{
data.pageIndex + 1 | number
                    }} / {{data.pageCount | number}}
                </button>
                <button type="button" class="btn btn-default"
                        (click)="data.moveToNextPage()"
                        [disabled]="data.pageIndex >= data.pageCount - 1">
                    <span class="glyphicon glyphicon-step-forward"></span>
                </button>
                <button type="button" class="btn btn-default"
                        (click)="data.moveToLastPage()"
                        [disabled]="data.pageIndex >= data.pageCount - 1">
                    <span class="glyphicon glyphicon-fast-forward"></span>
                </button>
            </div>
            <div class="pull-right" *ngIf="data != null">
                <wj-menu [(value)]="pageSize" [header]="'Page size'">
                    <wj-menu-item [value]="10">10</wj-menu-item>
                    <wj-menu-item [value]="20">20</wj-menu-item>
                    <wj-menu-item [value]="50">50</wj-menu-item>
                </wj-menu>
            </div>
        </div>
    </div>
</div>