<div class="container">


    <div *ngIf="serverAttributes" class="form-horizontal">
        <div class="panel panel-default">
            <div class="panel-heading">Server Attributes</div>
            <div class="panel-body">
                <div *ngIf="serverAttributes.device_type=='WebSphere'">
                    <div class="form-group">
                        <label class="control-label col-sm-2">Cell Name</label>
                        <div class="col-sm-10">
                            <input type="text" [(ngModel)]="serverAttributes.cell_name">

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">Node Name</label>
                        <div class="col-sm-10">
                            <input type="text" [(ngModel)]="serverAttributes.node_name">


                        </div>
                    </div>
                </div>

                <div *ngIf="serverAttributes.device_type=='Domino' || serverAttributes.device_type=='WebSphere' || serverAttributes.device_type=='Sametime' || serverAttributes.device_type=='URL'">
                    <div class="form-group">
                        <label class="control-label col-sm-2">Server Name</label>
                        <div class="col-sm-10">
                            <input type="text" [(ngModel)]="serverAttributes.device_name">
                        </div>
                    </div>
                    <div class="form-group" *ngIf="serverAttributes.device_type !='URL'">
                        <label class="control-label col-sm-2">Description</label>
                        <div class="col-sm-10">
                            <input type="text" [(ngModel)]="serverAttributes.description">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">Location</label>
                        <div class="col-sm-10">
                            <input type="text" [(ngModel)]="serverAttributes.location_id">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">Category</label>
                        <div class="col-sm-10">
                            <input type="text" [(ngModel)]="serverAttributes.category">
                        </div>
                    </div>
                    <div class="form-group" *ngIf="serverAttributes.device_type=='URL'">
                        <label class="control-label col-sm-2">Address:</label>
                        <div class="col-sm-10">
                            <input type="text" [(ngModel)]="serverAttributes.ip_address">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">Enable For Scanning</label>
                        <div class="col-sm-10">
                            <input type="checkbox" id="serverAttributes.is_enabled" name="serverAttributes.is_enabled" [(ngModel)]="serverAttributes.is_enabled">
                        </div>
                    </div>



                </div>



            </div>


        </div>
    </div>



    <div *ngIf="serverAttributes" class="form-horizontal">
        <div class="panel panel-default">

            <div class="panel-heading">Scan Settings</div>
            <div class="panel-body">

                <div *ngIf="serverAttributes.device_type=='Domino' || serverAttributes.device_type=='WebSphere' || serverAttributes.device_type=='Sametime' || serverAttributes.device_type =='URL'">
                    <div *ngFor="let attribute of serverAttributes.device_attributes |filterDeviceAttributes:scanSettings">

                        <div class="form-group">
                            <label class="control-label col-sm-2">{{attribute.attribute_name}}</label>
                            <div class="col-sm-2">
                                <div *ngIf="attribute.type=='TextBox'">
                                    <input type="text" [(ngModel)]="attribute.default_value">
                                </div>
                                <div *ngIf="attribute.type=='CheckBox'">
                                    <input type="checkbox" [(ngModel)]="attribute.default_value" id="attribute.default_value" name="attribute.default_value">
                                </div>
                            </div>
                            <div class="col-sm-2">
                                {{attribute.unit_of_measurement}}
                            </div>
                        </div>


                    </div>

                </div>

            </div>
        </div>
    </div>


    <div *ngIf="serverAttributes" class="form-horizontal">
        <div *ngIf="serverAttributes.device_type=='Domino'">
            <div class="panel panel-default">


                <div class="panel-heading">Mail Settings</div>
                <div class="panel-body">


                    <div *ngFor="let attribute of serverAttributes.device_attributes |filterDeviceAttributes:mailSettings">

                        <div class="form-group">
                            <label class="control-label col-sm-2">{{attribute.attribute_name}}</label>
                            <div class="col-sm-2">
                                <div *ngIf="attribute.type=='TextBox'">
                                    <input type="text" [(ngModel)]="attribute.default_value">
                                </div>
                                <div *ngIf="attribute.type=='CheckBox'">
                                    <input type="checkbox" [(ngModel)]="attribute.default_value" id="attribute.default_value" name="attribute.default_value">
                                </div>
                            </div>
                            <div class="col-sm-2">
                                {{attribute.unit_of_measurement}}
                            </div>
                        </div>


                    </div>
                </div>

            </div>

        </div>
    </div>

    <div *ngIf="serverAttributes" class="form-horizontal">
        <div *ngIf="serverAttributes.device_type=='Domino'">
            <div class="panel panel-default">

                <div class="panel-heading">Traveler Settings</div>
                <div class="panel-body">


                    <div *ngFor="let attribute of serverAttributes.device_attributes |filterDeviceAttributes:travelerSettings">

                        <div class="form-group">
                            <label class="control-label col-sm-2">{{attribute.attribute_name}}</label>
                            <div class="col-sm-2">
                                <div *ngIf="attribute.type=='TextBox'">
                                    <input type="text" [(ngModel)]="attribute.default_value">
                                </div>
                                <div *ngIf="attribute.type=='CheckBox'">
                                    <input type="checkbox" [(ngModel)]="attribute.default_value">
                                </div>
                            </div>
                            <div class="col-sm-3">
                                {{attribute.unit_of_measurement}}
                            </div>
                        </div>


                    </div>
                </div>
            </div>

        </div>
    </div>

    <div *ngIf="serverAttributes" class="form-horizontal">
        <div *ngIf="serverAttributes.device_type=='Domino'">
            <div class="panel panel-default">


                <div class="panel-heading">Optional Scan Settings</div>
                <div class="panel-body">
                    <p>
                        The database health service queries the Domino server on a daily basis to produce an inventory of the Notes databases on that server.
                        This information is used to populate a variety of screens, most notably the 'Biggest Mail Files' report and 'Mail Files by Template'.
                    </p>


                    <div *ngFor="let attribute of serverAttributes.device_attributes |filterDeviceAttributes:optionalSettings">

                        <div class="form-group">
                            <label class="control-label col-sm-2">{{attribute.attribute_name}}</label>
                            <div class="col-sm-2">
                                <div *ngIf="attribute.type=='TextBox'">
                                    <input type="text" [(ngModel)]="attribute.default_value">
                                </div>
                                <div *ngIf="attribute.type=='CheckBox'">
                                    <input type="checkbox" [(ngModel)]="attribute.default_value">
                                </div>
                            </div>
                            <div class="col-sm-3">
                                {{attribute.unit_of_measurement}}
                            </div>
                        </div>


                    </div>
                </div>

            </div>

        </div>
    </div>
    <div *ngIf="serverAttributes" class="form-horizontal">
        <div *ngIf="serverAttributes.device_type=='Sametime'">
            <div class="panel panel-default">


                <div class="panel-heading">Chat Settings</div>
                <div class="panel-body">
                    <div *ngFor="let attribute of serverAttributes.device_attributes |filterDeviceAttributes:chatSettings">

                        <div class="form-group">
                            <label class="control-label col-sm-2">{{attribute.attribute_name}}</label>
                            <div class="col-sm-2">
                                <div *ngIf="attribute.type=='TextBox'">
                                    <input type="text" [(ngModel)]="attribute.default_value">
                                </div>
                                <div *ngIf="attribute.type=='CheckBox'">
                                    <input type="checkbox" [(ngModel)]="attribute.default_value" id="attribute.default_value" name="attribute.default_value">
                                </div>
                                <div *ngIf="attribute.type=='ComboBox'">
                                    <div class="form-group col-sm-6">

                                        <div class="col-sm-7">
                                            <wj-combo-box name="attribute.default_value" [itemsSource]="deviceCredentialData" [(text)]="attribute.default_value"
                                                          [(ngModel)]="attribute.default_value">
                                            </wj-combo-box>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                {{attribute.unit_of_measurement}}
                            </div>
                        </div>


                    </div>
                </div>

            </div>

        </div>
    </div>

    <div *ngIf="serverAttributes" class="form-horizontal">
        <div *ngIf="serverAttributes.device_type=='WebSphere'">
            <div class="panel panel-default">


                <div class="panel-heading">WebSphere Settings</div>
                <div class="panel-body">
                    <div *ngFor="let attribute of serverAttributes.device_attributes |filterDeviceAttributes:webSphereSettings">

                        <div class="form-group">
                            <label class="control-label col-sm-2">{{attribute.attribute_name}}</label>
                            <div class="col-sm-5">
                                <div *ngIf="attribute.type=='TextBox'">
                                    <input type="text" [(ngModel)]="attribute.default_value">
                                </div>
                                <div *ngIf="attribute.type=='CheckBox'">
                                    <input type="checkbox" [(ngModel)]="attribute.default_value" id="attribute.default_value" name="attribute.default_value">
                                </div>
                            </div>
                            <div class="col-sm-2">
                                {{attribute.unit_of_measurement}}
                            </div>
                        </div>


                    </div>
                </div>

            </div>

        </div>
    </div>

    <div *ngIf="serverAttributes" class="form-horizontal">
        <div *ngIf="serverAttributes.device_type =='URL'">
            <div class="panel panel-default">


                <div class="panel-heading">Optional: Search Text</div>
                <div class="panel-body">
                    <p>
                        If you enter a value into the Search Text box, then VitalSigns will 
                        try to locate this text on the URL page and an Alert will be generated based on the option you select below. 
                    </p>
                    <div class="row" *ngFor="let attribute of serverAttributes.device_attributes |filterDeviceAttributes:searchText">
                       
                            <div class="form-group">
                                <label class="control-label col-sm-2">{{attribute.attribute_name}}</label>
                                <div class="col-sm-5">
                                    <div *ngIf="attribute.type=='TextBox'">
                                        <input type="text" [(ngModel)]="attribute.default_value">
                                    </div>

                                    
                                    <div *ngIf="attribute.type=='RadioButton'">
                                        <input type="radio" [(ngModel)]="attribute.default_value" id="attribute.default_value" name="attribute.default_value">
                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>
                </div>

            </div>

        </div>

    <div *ngIf="serverAttributes" class="form-horizontal">
        <div *ngIf="serverAttributes.device_type == 'URL'">
            <div class="panel panel-default">
              <div class="panel-heading">Optional: Username/Password</div>
               
                <div class="panel-body">
                    <p>
                        If you enter values into the Username and Password field, VitalSigns will use them when navigating to the page.
                        This is only applicable to pages requiring authentication when searching for specific text in the page which is only available after authentication.
                    </p>
                 
                    <div class="row" *ngFor="let attribute of serverAttributes.device_attributes |filterDeviceAttributes:usernameorPassword">

                        <div class="form-group">
                            <label class="control-label col-sm-2">{{attribute.attribute_name}}</label>
                            <div class="col-sm-5">
                                <div *ngIf="attribute.type=='TextBox' && attribute.field_name =='password'">
                                    <input type="password" [(ngModel)]="attribute.default_value">
                                </div>
                                <div *ngIf="attribute.type=='TextBox' && attribute.field_name !='password'">
                                    <input type="text" [(ngModel)]="attribute.default_value">
                                </div>

                            </div>

                        </div>

                    </div>

                </div>
            </div>

        </div>

    </div>
   
    <div>
        <button type="button" class="btn btn-primary" (click)="applySetting()">Save</button>
    </div>

</div>
