<div class="container">
    <wj-group-panel [grid]="flex" [placeholder]="'Drag columns here to create groups.'" class="visible"></wj-group-panel>
    <wj-flex-grid #flex [itemsSource]="data" selectionMode="Row" [frozenColumns]="1"  headersVisibility ="Column"  [isReadOnly]="true">
        <wj-flex-grid-filter></wj-flex-grid-filter>
        <wj-flex-grid-column [header]="'Enabled'" [binding]="'is_selected'" [width]="100"> </wj-flex-grid-column>
        <wj-flex-grid-column [header]="'Task Name'" [binding]="'task_name'" [width]="100" is-read-only="true"> </wj-flex-grid-column>
        <wj-flex-grid-column [header]="'Load'" [binding]="'is_load'" [width]="100"></wj-flex-grid-column>
        <wj-flex-grid-column [header]="'Restart ASAP'" [binding]="'is_restart_asap'" [width]="100"></wj-flex-grid-column>
        <wj-flex-grid-column [header]="'Resart Later'" [binding]="'is_resart_later'" [width]="100"></wj-flex-grid-column>
        <wj-flex-grid-column [header]="'Disallow'" [binding]="'is_disallow'" [width]="100"></wj-flex-grid-column>
    </wj-flex-grid>
    <div class="btn-group" *ngIf="data != null">
        <button type="button" class="btn btn-default"
                (click)="data.moveToFirstPage()"
                [disabled]="data.pageIndex <= 0">
            <span class="glyphicon glyphicon-fast-backward"></span>
        </button>
        <button type="button" class="btn btn-default"
                (click)="data.moveToPreviousPage()"
                [disabled]="data.pageIndex <= 0">
            <span class="glyphicon glyphicon-step-backward">
            </span>
        </button>
        <button type="button" class="btn btn-default" disabled style="width:100px">
            {{
data.pageIndex + 1 | number
            }} / {{data.pageCount | number}}
        </button>
        <button type="button" class="btn btn-default"
                (click)="data.moveToNextPage()"
                [disabled]="data.pageIndex >= data.pageCount - 1">
            <span class="glyphicon glyphicon-step-forward"></span>
        </button>
        <button type="button" class="btn btn-default"
                (click)="data.moveToLastPage()"
                [disabled]="data.pageIndex >= data.pageCount - 1">
            <span class="glyphicon glyphicon-fast-forward"></span>
        </button>
    </div>
    <div class="pull-right" *ngIf="data != null">
        <wj-menu [(value)]="pageSize" [header]="'Page size'">
            <wj-menu-item [value]="10">10</wj-menu-item>
            <wj-menu-item [value]="20">20</wj-menu-item>
            <wj-menu-item [value]="50">50</wj-menu-item>
        </wj-menu>
    </div>


    <div class="well grid-sort-group">

        <!-- edit details in a popup -->
        <button class="btn btn-default" (click)="editGridRow1(frmDialog)">
            Edit
        </button>
        <button class="btn btn-default" (click)="addServerTask(frmDialog)">
            Add
        </button>
        <button class="btn btn-default" (click)="delteServerTasks();">
            Delete
        </button>
    </div>
    <wj-popup class="col-md-6 modal-content" #frmDialog>

        <div class="panel panel-default">


            <div class="panel-heading">
                <b>
                    {{formTitle}}
                    <button type="button" tabindex="-1" class="close wj-hide" (click)="cancelEditAdd()" name="cancel">&times;</button>
                </b>
            </div>
            <form (ngSubmit)="saveServerTasks(frmDialog)" #frmUser="ngForm"  class="form-horizontal">
              
              
                <div class="panel-body" *ngIf="currentEditItem">
                    <div class="form-group col-sm-12">

                        <input type="checkbox" class="checkbox-inline" id="is_selected" required name="is_selected" [(ngModel)]="currentEditItem.is_selected">

                        <label for="is_selected" class="control-label ">Enabled</label>

                    </div>

                    <div class="form-group col-sm-12">
                        <label for="task_name">Task Name</label>
                        <br />

                        <wj-combo-box name="task_name" [itemsSource]="TaskNames" [(text)]="currentEditItem.task_name"
                                      [(ngModel)]="currentEditItem.task_name">
                        </wj-combo-box>

                    </div>

                    <div class="form-group col-sm-12" *ngIf="currentEditItem">
                        <input type="checkbox" class="checkbox-inline" id="is_load" required name="is_load" [(ngModel)]="currentEditItem.is_load">
                        <label for="is_load">Load</label>
                    </div>
                    <div class="form-group col-sm-12" *ngIf="currentEditItem">
                        <input type="checkbox" class="checkbox-inline" id="is_restart_asap" required name="is_restart_asap" [(ngModel)]="currentEditItem.is_restart_asap">
                        <label for="is_restart_asap">Restart ASAP</label>
                    </div>
                    <div class="form-group col-sm-12" *ngIf="currentEditItem">
                        <input type="checkbox" class="checkbox-inline" id="is_resart_later" required name="is_resart_later" [(ngModel)]="currentEditItem.is_resart_later">
                        <label for="is_resart_later">Resart Later</label>
                    </div>
                    <div class="form-group col-sm-12" *ngIf="currentEditItem">
                        <input type="checkbox" class="checkbox-inline" id="is_disallow" required name="is_disallow" [(ngModel)]="currentEditItem.is_disallow">
                        <label for="is_disallow">Disallow</label>
                    </div>

                </div>
                <div class="panel-footer">
                    <button class="btn btn-primary" type="submit" name="submit" [disabled]="!frmUser.form.valid">Save</button>
                </div>
            </form>
            </div>
</wj-popup>


</div>


