<div class="widgetWrapper">
    <div class="form-group col-sm-12">
        <div class="col-sm-12">&nbsp;</div>
        <div id="infoDiv1" class="alert alert-info col-md-12" align="left">
            Maintenance Windows are times when you do not want the server monitored. You can define maintenance windows using the Hours & Maintenance\Maintenance menu option. Use the Actions column to modify maintenance windows information.
        </div>

        <wj-flex-grid #flex [itemsSource]="data" selectionMode="Row" headersVisibility="Column" [frozenColumns]="2" [isReadOnly]="true">

            <wj-flex-grid-filter></wj-flex-grid-filter>
            <wj-flex-grid-column [header]="'Name'" [binding]="'Name'" [width]="200"> </wj-flex-grid-column>
            <wj-flex-grid-column [header]="'Start Date'" [binding]="'StartDate'" [width]="150"></wj-flex-grid-column>
            <wj-flex-grid-column [header]="'Start Time'" [binding]="'StartTime'" [width]="150"></wj-flex-grid-column>
            <wj-flex-grid-column [header]="'End Date'" [binding]="'EndDate'" [width]="150"></wj-flex-grid-column>
            <wj-flex-grid-column [header]="'Duration'" [binding]="'Duration'" [width]="160" align="right"></wj-flex-grid-column>
            <wj-flex-grid-column [header]="'Maintenance Type'" [binding]="'MaintainType'" [width]="200"></wj-flex-grid-column>
            <wj-flex-grid-column [header]="'Maintenance Frequency'" [binding]="'MaintenanceFrequency'" [width]="200"></wj-flex-grid-column>


        </wj-flex-grid>
        <div class="btn-group" *ngIf="data != null">
            <button type="button" class="btn btn-default"
                    (click)="data.moveToFirstPage()"
                    [disabled]="data.pageIndex <= 0">
                <span class="glyphicon glyphicon-fast-backward"></span>
            </button>
            <button type="button" class="btn btn-default"
                    (click)="data.moveToPreviousPage()"
                    [disabled]="data.pageIndex <= 0">
                <span class="glyphicon glyphicon-step-backward">
                </span>
            </button>
            <button type="button" class="btn btn-default" disabled style="width:100px">
                {{
data.pageIndex + 1 | number
                }} / {{data.pageCount | number}}
            </button>
            <button type="button" class="btn btn-default"
                    (click)="data.moveToNextPage()"
                    [disabled]="data.pageIndex >= data.pageCount - 1">
                <span class="glyphicon glyphicon-step-forward"></span>
            </button>
            <button type="button" class="btn btn-default"
                    (click)="data.moveToLastPage()"
                    [disabled]="data.pageIndex >= data.pageCount - 1">
                <span class="glyphicon glyphicon-fast-forward"></span>
            </button>
        </div>
        <div class="pull-right" *ngIf="data != null">
            <wj-menu [(value)]="pageSize" [header]="'Page size'">
                <wj-menu-item [value]="10">10</wj-menu-item>
                <wj-menu-item [value]="20">20</wj-menu-item>
                <wj-menu-item [value]="50">50</wj-menu-item>
            </wj-menu>
        </div>
    </div>
</div>