
<div class="widgetWrapper">
    <div class="col-xs-12 col-md-4 col-sm-12 col-lg-4">
        <div class="row">&nbsp;</div>
        <div class="form-group">
        <div class="funkyradio">
            <div class="funkyradio-default">
                <input type="radio" name="selectionType" value="allDisksBypercentage" [(ngModel)]="selectedDiskSetting"  id="selectionType1">
                <label for="selectionType1">	All Disks - By Percentage</label>
            </div>
            <div class="funkyradio-default">
                <input type="radio" name="selectionType" value="allDisksByGB" [(ngModel)]="selectedDiskSetting" id="selectionType2">
                <label for="selectionType2">All Disks - By GB</label>
            </div>
            <div class="funkyradio-default">
                <input type="radio" name="selectionType" value="selectedDisks" [(ngModel)]="selectedDiskSetting" id="selectionType3">
                <label for="selectionType3">	Selected Disks</label>
            </div>
            <div class="funkyradio-default">
                <input type="radio" name="selectionType" value="noDiskAlerts" [(ngModel)]="selectedDiskSetting" id="selectionType4">
                <label for="selectionType4">No Disk Alerts</label>
            </div>
            </div>
</div>
        <div class="form-group" *ngIf="selectedDiskSetting">

            <button type="button" class="btn btn-primary" (click)="applySetting(diskSettingsForm.value)">Save</button>
        </div>
        </div>
    <div class="col-xs-12 col-md-8 col-sm-12 col-lg-8">
        <div class="row">&nbsp;</div>
        <div class="input-group" *ngIf="selectedDiskSetting=='allDisksBypercentage'">
            <div class="row">
                <label for="currentThresholdByPercentage" class="control-label col-sm-3">Current threshold:</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" name="currentThresholdByPercentage" [(ngModel)]="diskThreshold">
                </div>
                <label for="currentThresholdByGB" class="control-label col-sm-4">% free space</label>
            </div>

            <div class="row">
                <label for="currentThresholdByPercentage">
                    Disk Space alerts will trigger if any of the drives on the Domino server fall below the threshold set.
                </label>
            </div>
        </div>
            <div class="input-group" *ngIf="selectedDiskSetting=='allDisksByGB'">
                <div class="row">
                    <label for="currentThresholdByGB" class="control-label col-sm-3">Current threshold:</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" name="currentThresholdByGB" [(ngModel)]="diskThreshold">
                    </div>
                    <label for="currentThresholdByGB" class="control-label col-sm-4">GB free space</label>
                   </div>
                <div class="row">
                    <label for="currentThresholdByGB">
                        Disk Space alerts will trigger if any of the drives on the Domino server fall below the threshold set.
                    </label>
                </div>
                </div>

            <div class="form-group" *ngIf="selectedDiskSetting=='selectedDisks'">
                <!--<label >Current disk:</label>-->
                <div class="info col-sm-12">
                    <p>The column 'Free Space Threshold' should be set to a value in GB or Percent (1 to 100) of the remaining free space when an alert should be generated.
               The column 'Threshold Type' should be set accordingly in either percent or GB.</p>
                    </div>
                <wj-flex-grid #flex [itemsSource]="data" selectionMode="Row" [frozenColumns]="1" headersVisibility="Column" (itemsSourceChanged)="itemsSourceChangedHandler()">

                    <wj-flex-grid-column [header]="'Select'" [binding]="'is_selected'"></wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'Disk Name'" is-read-only="true" [binding]="'disk_name'"></wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'Disk Size'" is-read-only="true" [binding]="'disk_size'"></wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'Disk Free Space'" is-read-only="true" [binding]="'disk_free'"> </wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'Percent Free'" is-read-only="true" [binding]="'percent_free'"></wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'Free Space Threshold'" [binding]="'freespace_threshold'"></wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'Threshold Type'" [binding]="'threshold_type'"></wj-flex-grid-column>


                </wj-flex-grid>
                <div class="btn-group" *ngIf="data != null">
                    <button type="button" class="btn btn-default"
                            (click)="data.moveToFirstPage()"
                            [disabled]="data.pageIndex <= 0">
                        <span class="glyphicon glyphicon-fast-backward"></span>
                    </button>
                    <button type="button" class="btn btn-default"
                            (click)="data.moveToPreviousPage()"
                            [disabled]="data.pageIndex <= 0">
                        <span class="glyphicon glyphicon-step-backward">
                        </span>
                    </button>
                    <button type="button" class="btn btn-default" disabled style="width:100px">
                        {{
data.pageIndex + 1 | number
                        }} / {{data.pageCount | number}}
                    </button>
                    <button type="button" class="btn btn-default"
                            (click)="data.moveToNextPage()"
                            [disabled]="data.pageIndex >= data.pageCount - 1">
                        <span class="glyphicon glyphicon-step-forward"></span>
                    </button>
                    <button type="button" class="btn btn-default"
                            (click)="data.moveToLastPage()"
                            [disabled]="data.pageIndex >= data.pageCount - 1">
                        <span class="glyphicon glyphicon-fast-forward"></span>
                    </button>
                </div>
                <div class="pull-right" *ngIf="data != null">
                    <wj-menu [(value)]="pageSize" [header]="'Page size'">
                        <wj-menu-item [value]="10">10</wj-menu-item>
                        <wj-menu-item [value]="20">20</wj-menu-item>
                        <wj-menu-item [value]="50">50</wj-menu-item>
                    </wj-menu>
                </div>
            </div>
            <br />
          
        </div>
    </div>