<div class="widgetWrapper">
    <div class="form-group col-sm-12">
        <div class="col-sm-12">&nbsp;</div>
        <div id="infoDiv1"  *ngIf="module == 'Configurator'"  class="alert alert-info col-md-12" align="left">
            Maintenance Windows are times when you do not want the server monitored. You can define maintenance windows using the Configurator -> Application Settings -> Maintenance tab.
        </div>
       
            <div class="panel panel-default" *ngIf="module == 'dashboard'">
                <div class="panel-body">
                    <div class="row">
                        <div class="form-group col-sm-5">
                            <label for="from_date" class="control-label col-sm-4">From Date</label>
                            <div class="col-sm-6">
                                <input type="date" class="form-control col-sm-7" id="from_date" name="from_date" [(ngModel)]="from_date">
                               
                            </div>
                        </div>
                        <div class="form-group col-sm-5">
                            <label for="from_time" class="control-label col-sm-4">From Time</label>
                            <div class="col-sm-6">
                                <input type="time" class="form-control" id="from_time" name="from_time">
                            </div>
                        </div>
                        <div class="form-group col-sm-2">
                            <button class="btn btn-primary" type="submit" name="submit" (click)="clearClick();">Clear</button>
                        </div>

                    </div>
                    <div class="row">
                        <div class="form-group col-sm-5">
                            <label for="to_date" class="control-label col-sm-4">To Date</label>
                            <div class="col-sm-6">
                                <input type="date" class="form-control col-sm-7" id="to_date" name="to_date">
                            </div>
                        </div>
                        <div class="form-group col-sm-5">
                            <label for="to_time" class="control-label col-sm-4">To Time</label>
                            <div class="col-sm-6">
                                <input type="time" class="form-control" id="to_time" name="to_time">
                            </div>
                        </div>
                        <div class="form-group col-sm-2">
                            <button class="btn btn-primary" type="submit" name="submit" (click)="searchClick();">Search</button>
                        </div>

                    </div>

                </div>
            </div>
           

            <wj-flex-grid #flex [itemsSource]="data" selectionMode="Row" headersVisibility="Column" [frozenColumns]="2" [isReadOnly]="true">

                <wj-flex-grid-filter></wj-flex-grid-filter>
                <wj-flex-grid-column [header]="'Server Name'" *ngIf="module == 'dashboard'" [binding]="'DeviceName'" [width]="200"> </wj-flex-grid-column>
                <wj-flex-grid-column [header]="'Server Type'" *ngIf="module == 'dashboard'" [binding]="'DeviceType'" [width]="200"> </wj-flex-grid-column>
                <wj-flex-grid-column [header]="'Name'" [binding]="'Name'" [width]="200"> </wj-flex-grid-column>
                <wj-flex-grid-column [header]="'Start Date'" [binding]="'StartDate'" [width]="150"></wj-flex-grid-column>
                <wj-flex-grid-column [header]="'Start Time'" [binding]="'StartTime'" [width]="150"></wj-flex-grid-column>
                <wj-flex-grid-column [header]="'End Date'" [binding]="'EndDate'" [width]="150"></wj-flex-grid-column>
                <wj-flex-grid-column [header]="'Duration'" [binding]="'Duration'" [width]="160" align="right"></wj-flex-grid-column>
                <wj-flex-grid-column [header]="'Maintenance Type'" [binding]="'MaintainType'" [width]="200"></wj-flex-grid-column>
                <wj-flex-grid-column [header]="'Maintenance Frequency'" [binding]="'MaintenanceFrequency'" [width]="200"></wj-flex-grid-column>
                <wj-flex-grid-column [header]="'Maintenance Days List'" *ngIf="module == 'dashboard'" [binding]="'MaintenanceDaysList'" [width]="200"> </wj-flex-grid-column>


            </wj-flex-grid>
            <div class="btn-group" *ngIf="data != null">
                <button type="button" class="btn btn-default"
                        (click)="data.moveToFirstPage()"
                        [disabled]="data.pageIndex <= 0">
                    <span class="glyphicon glyphicon-fast-backward"></span>
                </button>
                <button type="button" class="btn btn-default"
                        (click)="data.moveToPreviousPage()"
                        [disabled]="data.pageIndex <= 0">
                    <span class="glyphicon glyphicon-step-backward">
                    </span>
                </button>
                <button type="button" class="btn btn-default" disabled style="width:100px">
                    {{
data.pageIndex + 1 | number
                    }} / {{data.pageCount | number}}
                </button>
                <button type="button" class="btn btn-default"
                        (click)="data.moveToNextPage()"
                        [disabled]="data.pageIndex >= data.pageCount - 1">
                    <span class="glyphicon glyphicon-step-forward"></span>
                </button>
                <button type="button" class="btn btn-default"
                        (click)="data.moveToLastPage()"
                        [disabled]="data.pageIndex >= data.pageCount - 1">
                    <span class="glyphicon glyphicon-fast-forward"></span>
                </button>
            </div>
            <div class="pull-right" *ngIf="data != null">
                <wj-menu [(value)]="pageSize" [header]="'Page size'">
                    <wj-menu-item [value]="10">10</wj-menu-item>
                    <wj-menu-item [value]="20">20</wj-menu-item>
                    <wj-menu-item [value]="50">50</wj-menu-item>
                </wj-menu>
            </div>
</div>
</div>