
<div class="container">

    <div class="panel panel-default">
       
        <div class="panel-body">

            <input type="radio" name="selectionType" value="allDisksBypercentage" [(ngModel)]="selectedDiskSetting"  (click)="handleClick(this);"> 
            <label for="selectionType">	All Disks - By Percentage</label>
            <input type="radio" name="selectionType" value="allDisksByGB" [(ngModel)]="selectedDiskSetting"  (click)="handleClick(this);" >
            <label for="selectionType">All Disks - By GB</label>
            <input type="radio" name="selectionType" value="selectedDisks" [(ngModel)]="selectedDiskSetting"  >
            <label for="selectionType">	Selected Disks</label>
            <input type="radio" name="selectionType" value="noDiskAlerts" [(ngModel)]="selectedDiskSetting" >
            <label for="selectionType">No Disk Alerts</label>
      
    </div>
        </div>
    <div class="form-group" *ngIf="selectedDiskSetting=='allDisksBypercentage'">
        <label for="currentThresholdByPercentage">Current threshold:</label>

        <input type="text" class="form-control"  name="currentThresholdByPercentage" [(ngModel)]="diskThreshold" >
        <label for="currentThresholdByPercentage"> Disk Space alerts will trigger if any of the drives on the Domino server fall below the threshold set.
</label>
    </div> 
    <div class="form-group" *ngIf="selectedDiskSetting=='allDisksByGB'">
        <label for="currentThresholdByGB">Current threshold:</label>

        <input type="text" class="form-control" name="currentThresholdByGB" [(ngModel)]="diskThreshold">
        <label for="currentThresholdByGB">GB free space</label>
        <br/>
        <label for="currentThresholdByGB">
            Disk Space alerts will trigger if any of the drives on the Domino server fall below the threshold set.
        </label>
</div>
    <div class="form-group"  *ngIf="selectedDiskSetting=='selectedDisks'">
        <!--<label >Current disk:</label>-->
        <wj-flex-grid #flex [itemsSource]="data" selectionMode="Row" [frozenColumns]="1" headersVisibility="Column"  (itemsSourceChanged)="itemsSourceChangedHandler()">

            <wj-flex-grid-column [header]="'Select'" [binding]="'is_selected'"></wj-flex-grid-column>
            <wj-flex-grid-column [header]="'Disk Name'" is-read-only="true" [binding]="'disk_name'"></wj-flex-grid-column>
            <wj-flex-grid-column [header]="'Disk Size'" is-read-only="true" [binding]="'disk_size'"></wj-flex-grid-column>
            <wj-flex-grid-column [header]="'Disk Free Space'" is-read-only="true" [binding]="'disk_free'"> </wj-flex-grid-column>
            <wj-flex-grid-column [header]="'Percent Free'" is-read-only="true" [binding]="'percent_free'"></wj-flex-grid-column>
            <wj-flex-grid-column [header]="'Free Space Threshold'" [binding]="'freespace_threshold'"></wj-flex-grid-column>
            <wj-flex-grid-column [header]="'Threshold Type'" [binding]="'threshold_type'"></wj-flex-grid-column>


        </wj-flex-grid>
        <div class="btn-group" *ngIf="data != null">
            <button type="button" class="btn btn-default"
                    (click)="data.moveToFirstPage()"
                    [disabled]="data.pageIndex <= 0">
                <span class="glyphicon glyphicon-fast-backward"></span>
            </button>
            <button type="button" class="btn btn-default"
                    (click)="data.moveToPreviousPage()"
                    [disabled]="data.pageIndex <= 0">
                <span class="glyphicon glyphicon-step-backward">
                </span>
            </button>
            <button type="button" class="btn btn-default" disabled style="width:100px">
                {{
data.pageIndex + 1 | number
                }} / {{data.pageCount | number}}
            </button>
            <button type="button" class="btn btn-default"
                    (click)="data.moveToNextPage()"
                    [disabled]="data.pageIndex >= data.pageCount - 1">
                <span class="glyphicon glyphicon-step-forward"></span>
            </button>
            <button type="button" class="btn btn-default"
                    (click)="data.moveToLastPage()"
                    [disabled]="data.pageIndex >= data.pageCount - 1">
                <span class="glyphicon glyphicon-fast-forward"></span>
            </button>
        </div>
        <div class="pull-right" *ngIf="data != null">
            <wj-menu [(value)]="pageSize" [header]="'Page size'">
                <wj-menu-item [value]="10">10</wj-menu-item>
                <wj-menu-item [value]="20">20</wj-menu-item>
                <wj-menu-item [value]="50">50</wj-menu-item>
            </wj-menu>
        </div>
    </div>
        <div class="form-group" *ngIf="selectedDiskSetting">
          
            <button type="button" class="btn btn-success" (click)="applySetting(diskSettingsForm.value)">OK</button>
        </div>
    </div>