<?xml version="1.0" encoding="UTF-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
      <!--<membership defaultProvider="myProvider">
        <providers>
          <clear />
          <add name="myProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="csMembership" applicationName="/" />
        </providers>
      </membership>
      <roleManager defaultProvider="AspNetSqlRoleProvider" enabled="true">
        <providers>
          <remove name="AspNetSqlRoleProvider" />
          <add name="AspNetSqlRoleProvider" connectionStringName="LocalSqlServer" applicationName="/" type="System.Web.Security.SqlRoleProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        </providers>
      </roleManager>-->
        <!--<authentication mode="Windows" />-->
      <!--<membership defaultProvider="CustomProvider">
        <providers>
          <add
            name="CustomProvider"
            type="CustomMembershipProvider" connectionStringName="csMembership"/>
        </providers>
      </membership>-->
    </system.web>
  <connectionStrings>
    <add name="ConnectionStringLIMS" connectionString="Data Source=HALEAKALA\HALEAKALA05;Initial Catalog=d_cam2;Persist Security Info=True;User ID=ANALYST;Password=ANALYST" providerName="System.Data.SqlClient" />
	  <remove name="VitalSignsConnectionString" />
    <add name="VitalSignsConnectionString" connectionString="Data Source=hyderabad\hyderabad;Initial Catalog=vitalsigns;User ID=sa;Password=sa1225;Persist Security Info=True;" providerName="System.Data.SqlClient" />
	  <!--<add name="VitalSignsConnectionString" connectionString="Data Source=47.22.0.147;Initial Catalog=vitalsigns;User ID=vs;Password=admin123!;Persist Security Info=True;" providerName="System.Data.SqlClient" />-->
    <!-- <add name="ConnectionStringLIMS" connectionString="Data Source=ussv112\engage;Initial Catalog=eNgage;Persist Security Info=True;User ID=ANALYST;Password=ANALYST" providerName="System.Data.SqlClient" />-->
     <!--<add name="ConnectionStringLIMS" connectionString="Data Source=ussv114;Initial Catalog=eNgage;Persist Security Info=True;User ID=ANALYST;Password=ANALYST" providerName="System.Data.SqlClient" />-->
    
    <add name="csLicenses" connectionString="Data Source=HALEAKALA\HALEAKALA05;Initial Catalog=D_LicenseManager;Persist Security Info=True;User ID=ANALYST;Password=ANALYST" providerName="System.Data.SqlClient" />
    <add name="csMembership" connectionString="Data Source=hyderabad\hyderabad;Initial Catalog=aspnetdb;User ID=ANALYST;Password=ANALYST" providerName="System.Data.SqlClient" />
    <remove name="LocalSqlServer" />
    <add name="LocalSqlServer" connectionString="Data Source=hyderabad\hyderabad;Initial Catalog=safdf;User ID=ANALYST;Password=ANALYST" providerName="System.Data.SqlClient" />
    <!--<add name="LocalSqlServer" connectionString="Data Source=ussv114;Initial Catalog=engage_sdb;User ID=ANALYST;Password=ANALYST" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
    <system.webServer>
        <security>
            <requestFiltering>
                <fileExtensions>
                    <add fileExtension=".svc" allowed="true" />
                </fileExtensions>
            </requestFiltering>
        </security>
        <handlers>
            <remove name="svc-ISAPI-4.0_32bit" />
            <add name="svc-ISAPI-4.0_32bit" path="*.svc" verb="*" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" resourceType="Unspecified" requireAccess="Script" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
        </handlers>
    </system.webServer>
</configuration>
