<div class="container">
    <h3> Domino Server Tasks </h3>
    <wj-group-panel [grid]="flex" [placeholder]="'Drag columns here to create groups.'" class="visible"></wj-group-panel>

    
        <wj-flex-grid #flex [itemsSource]="data" selectionMode="Row"   headersVisibility ="Column"  [frozenColumns]="1">
            <wj-flex-grid-filter></wj-flex-grid-filter>
            <wj-flex-grid-column [header]="'Select'" [binding]="'is_selected'" [width]="200"> </wj-flex-grid-column>
            <wj-flex-grid-column [header]="'Task Name'" [binding]="'task_name'" [width]="200" is-read-only="true"> </wj-flex-grid-column>
            <wj-flex-grid-column [header]="'Load'" [binding]="'is_load'" [width]="200"></wj-flex-grid-column>
            <wj-flex-grid-column [header]="'Restart ASAP'" [binding]="'is_restart_asap'" [width]="200"></wj-flex-grid-column>
            <wj-flex-grid-column [header]="'Resart Later'" [binding]="'is_resart_later'" [width]="200"></wj-flex-grid-column>
            <wj-flex-grid-column [header]="'Disallow'" [binding]="'is_disallow'" [width]="150"></wj-flex-grid-column>

        </wj-flex-grid>
        <div class="btn-group" *ngIf="data != null">
            <button type="button" class="btn btn-default"
                    (click)="data.moveToFirstPage()"
                    [disabled]="data.pageIndex <= 0">
                <span class="glyphicon glyphicon-fast-backward"></span>
            </button>
            <button type="button" class="btn btn-default"
                    (click)="data.moveToPreviousPage()"
                    [disabled]="data.pageIndex <= 0">
                <span class="glyphicon glyphicon-step-backward">
                </span>
            </button>
            <button type="button" class="btn btn-default" disabled style="width:100px">
                {{
data.pageIndex + 1 | number
                }} / {{data.pageCount | number}}
            </button>
            <button type="button" class="btn btn-default"
                    (click)="data.moveToNextPage()"
                    [disabled]="data.pageIndex >= data.pageCount - 1">
                <span class="glyphicon glyphicon-step-forward"></span>
            </button>
            <button type="button" class="btn btn-default"
                    (click)="data.moveToLastPage()"
                    [disabled]="data.pageIndex >= data.pageCount - 1">
                <span class="glyphicon glyphicon-fast-forward"></span>
            </button>
        </div>
        <div class="pull-right" *ngIf="data != null">
            <wj-menu [(value)]="pageSize" [header]="'Page size'">
                <wj-menu-item [value]="10">10</wj-menu-item>
                <wj-menu-item [value]="20">20</wj-menu-item>
                <wj-menu-item [value]="50">50</wj-menu-item>
            </wj-menu>
        </div>


        <div>
            <h3>Server/Locations</h3>
            <server-location-list (checkedDevices)="changeInDevices($event)" [(deviceType)]="currentDeviceType"></server-location-list>
          
            <button type="button" class="btn btn-success" (click)="applySetting()">Add Tasks</button>
            <button type="button" class="btn btn-success" (click)="removeSetting()">Remove Tasks</button>

        </div>
       
    </div>


