
<div class="container">
  
    <!--<form [formGroup]="ibmDominoSettingsForm" >-->
       
           
        <div class="form-group">

            <label for="locations">Locations:</label><input type="radio" name="locations" value="locations">
            <label for="credentials">Credentials:</label><input type="radio" name="credentials" value="credentials">
            <label for="businessHours">Business Hours:</label><input type="radio" name="businessHours" value="businessHours">
        </div>
   

    <div class="form-group" *ngIf="deviceLocationData">
        <label for="location">Locations</label>
      
        <wj-combo-box name="location" [itemsSource]="deviceLocationData" 
                      [(ngModel)]="deviceLocation">
        </wj-combo-box>
        <label for="credential">Credentials</label>

        <wj-combo-box name="credential" [itemsSource]="deviceCredentialData"
                      [(ngModel)]="deviceCredential">
        </wj-combo-box>
        <label for="businessHour">Business Hours</label>

        <wj-combo-box name="businessHour" [itemsSource]="devicebusinessHourData"
                      [(ngModel)]="devicebusinessHour">
        </wj-combo-box>
    </div>
    
    <div class="form-group">
        <button type="submit" class="btn btn-success">Submit</button>
    </div>
        <!--</form>-->
    </div>