
<div class="container">

   

    <div class="row">



        <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="col-xs-3 col-md-3 col-sm-3 col-lg-3">
                    </div>
                    <div class="col-xs-3 col-md-3 col-sm-3 col-lg-3">
                        <div class="form-group">
                            <label for="locations">
                                <input type="radio" name="selectionType" value="locations" [(ngModel)]="selectedSetting">
                                Locations
                            </label>
                        </div>
                        <div class="form-group">
                            <label for="credentials">
                                <input type="radio" name="selectionType" value="credentials" [(ngModel)]="selectedSetting">
                                Credentials
                            </label>
                        </div>
                        <div class="form-group">
                            <label for="businessHours">
                                <input type="radio" name="selectionType" value="businessHours" [(ngModel)]="selectedSetting">
                                Business Hours
                            </label>
                        </div>
                    </div>
                    <div class="col-xs-4 col-md-4 col-sm-4 col-lg-4">
                        <div class="form-group" *ngIf="selectedSetting=='locations'">
                            <label for="location">Locations&nbsp;&nbsp;</label>
                            <wj-combo-box displayMemberPath="text" selectedValuePath="value" name="location" [itemsSource]="deviceLocationData"
                                          [(ngModel)]="selectedLocation" placeholder="Select Location">

                            </wj-combo-box>
                        </div>
                        <div class="form-group" *ngIf="selectedSetting=='credentials'">
                            <label for="credential">Credentials&nbsp;&nbsp;</label>

                            <wj-combo-box name="credential" [itemsSource]="deviceCredentialData" displayMemberPath="text" selectedValuePath="value"
                                          [(ngModel)]="selectedCredential" placeholder="Select Credential">
                            </wj-combo-box>
                        </div>
                        <div class="form-group" *ngIf="selectedSetting=='businessHours'">
                            <label for="businessHour">Business Hours&nbsp;&nbsp;</label>

                            <wj-combo-box name="businessHour" [itemsSource]="devicebusinessHourData" displayMemberPath="text" selectedValuePath="value"
                                          [(ngModel)]="selectedBusinessHour" placeholder="Select Business Hour">
                            </wj-combo-box>
                        </div>
                    </div>
                    <div class="col-xs-2 col-md-2 col-sm-2 col-lg-2">
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12">
            <div *ngIf="selectedSetting">
                <server-location-list (checkedDevices)="changeInDevices($event)"></server-location-list>               
              
            </div>

        </div>
        <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12 panel-footer" style="padding-right:15px">
            <button type="button" class="btn-primary" (click)="applySetting(serverLocationsBusinessHoursCredentialsForm.value)">Apply Settings</button>
        </div>
        </div>

</div>