
<div class="container">

    <div class="col-xs-12 col-md-4 col-sm-12 col-lg-4">
        <div class="panel panel-default">

            <div class="panel-body">
                <div class="input-group">
                    <input type="radio" name="selectionType" value="allDisksBypercentage" [(ngModel)]="selectedDiskSetting">
                    <label for="selectionType">	All Disks - By Percentage</label>
                </div>
                <div class="input-group">
                    <input type="radio" name="selectionType" value="allDisksByGB" [(ngModel)]="selectedDiskSetting">
                    <label for="selectionType">All Disks - By GB</label>
                </div>
                <div class="input-group">
                    <input type="radio" name="selectionType" value="selectedDisks" [(ngModel)]="selectedDiskSetting">
                    <label for="selectionType">	Selected Disks</label>
                </div>
                <div class="input-group">
                    <input type="radio" name="selectionType" value="noDiskAlerts" [(ngModel)]="selectedDiskSetting">
                    <label for="selectionType">No Disk Alerts</label>
                </div>
            </div>
        </div>
        </div>
    <div class="col-xs-12 col-md-8 col-sm-12 col-lg-8">
        <div class="form-group" *ngIf="selectedDiskSetting=='allDisksBypercentage'">
            <label for="currentThresholdByPercentage">Current threshold:</label>

            <input type="text" class="form-control" name="currentThresholdByPercentage" [(ngModel)]="diskByPercentage">
            <label for="currentThresholdByPercentage">% free space</label>
        </div>
        <div class="form-group" *ngIf="selectedDiskSetting=='allDisksByGB'">
            <label for="currentThresholdByGB">Current threshold:</label>

            <input type="text" class="form-control" name="currentThresholdByGB" [(ngModel)]="diskByGB">
            <label for="currentThresholdByGB">GB free space</label>
        </div>
        <div class="form-group" *ngIf="selectedDiskSetting=='selectedDisks'">
            <!--<label >Current disk:</label>-->
            <wj-flex-grid [itemsSource]="data" selectionMode="Row" [frozenColumns]="1" headersVisibility="Column" (itemsSourceChanged)="itemsSourceChangedHandler()" #flexDisks>

                <wj-flex-grid-column [header]="'Select'" [binding]="'is_selected'">

                </wj-flex-grid-column>
                <wj-flex-grid-column [header]="'Disk Name'" [binding]="'disk_name'" is-read-only="true">

                </wj-flex-grid-column>
                <wj-flex-grid-column [header]="'Free Space Threshold'" [binding]="'freespace_threshold'" [width]="150">

                </wj-flex-grid-column>
                <wj-flex-grid-column [header]="'Threshold Type'" [binding]="'threshold_type'"></wj-flex-grid-column>


            </wj-flex-grid>

        </div>
        <div class="form-group" *ngIf="selectedDiskSetting">
            <server-location-list (checkedDevices)="changeInDevices($event)"></server-location-list>
            <br />
            <button type="button" class="btn btn-primary" (click)="applySetting(diskSettingsForm.value)">Apply Settings</button>
        </div>
        </div>
    
    </div>