<div class="widgetWrapper">
    <div class="widgetContent">
        <div class="form-group">
            <label for="deviceType" class="control-label">Device Type</label>

            <wj-combo-box name="deviceType" displayMemberPath="text" selectedValuePath="value" [itemsSource]="deviceTypeData" [(text)]="selectedDeviceType" [isEditable]="true"
                          [(ngModel)]="selectedDeviceType" placeholder="Select Device Type" (selectedIndexChanged)="onDeviceTypeIndexChanged($event)" #combo>
            </wj-combo-box>
        </div>
        <div class="widgetContent" *ngIf="selectedDeviceType != null">
            <wj-flex-grid #attributeGrid [itemsSource]="data" selectionMode="Row" headersVisibility="Column" [frozenColumns]="1"  (selectionChanged)="selectionChangedHandler()" (cellEditEnding)="onCellEditEnding(attributeGrid, $event)">
                <wj-flex-grid-column [header]="'Select'" [binding]="'is_selected'" [width]="150"> </wj-flex-grid-column>
                <wj-flex-grid-column [header]="'Attribute Name'" [binding]="'attribute_name'" [width]="350" [isReadOnly]="true"></wj-flex-grid-column>
                <wj-flex-grid-column [header]="'Default Value'" [binding]="'default_value'" [width]="150"></wj-flex-grid-column>
                <wj-flex-grid-column [header]="'Unit of Measurement'" [binding]="'unit_of_measurement'" [width]="250" [isReadOnly]="true"></wj-flex-grid-column>

            </wj-flex-grid>
            <div class="btn-group" *ngIf="data != null">
                <button type="button" class="btn btn-default"
                        (click)="data.moveToFirstPage()"
                        [disabled]="data.pageIndex <= 0">
                    <span class="glyphicon glyphicon-fast-backward"></span>
                </button>
                <button type="button" class="btn btn-default"
                        (click)="data.moveToPreviousPage()"
                        [disabled]="data.pageIndex <= 0">
                    <span class="glyphicon glyphicon-step-backward">
                    </span>
                </button>
                <button type="button" class="btn btn-default" disabled style="width:100px">
                    {{
data.pageIndex + 1 | number
                    }} / {{data.pageCount | number}}
                </button>
                <button type="button" class="btn btn-default"
                        (click)="data.moveToNextPage()"
                        [disabled]="data.pageIndex >= data.pageCount - 1">
                    <span class="glyphicon glyphicon-step-forward"></span>
                </button>
                <button type="button" class="btn btn-default"
                        (click)="data.moveToLastPage()"
                        [disabled]="data.pageIndex >= data.pageCount - 1">
                    <span class="glyphicon glyphicon-fast-forward"></span>
                </button>
            </div>
            <div class="pull-right" *ngIf="data != null">
                <wj-menu [(value)]="pageSize" [header]="'Page size'">
                    <wj-menu-item [value]="10">10</wj-menu-item>
                    <wj-menu-item [value]="20">20</wj-menu-item>
                    <wj-menu-item [value]="50">50</wj-menu-item>
                </wj-menu>
            </div>
        </div>
        </div>
    <div *ngIf="selectedDeviceType != null"><div class="widgetTitle">
    Servers
</div>
<div class="widgetContent">
    <div>
        <div class="text-danger" *ngIf="devices.length==0"><b>* Please select at least one server</b></div>
        <server-location-list (checkedDevices)="changeInDevices($event)" [(deviceType)]="selectedDeviceType"></server-location-list>
        <button type="button" class="btn btn-primary" (click)="applySetting()" [disabled]="!(devices.length>0)">Apply</button>
    </div>

</div></div>
       
    </div>
