<div class="widgetWrapper">
    <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12">
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="form-group col-sm-3">
                <div class="funkyradio">
                    <div class="funkyradio-default">
                        <input type="radio" name="selectionType" id="selectionType1" value="allDisksBypercentage" [(ngModel)]="selectedDiskSetting">
                        <label for="selectionType1">All Disks - By Percentage</label>
                    </div>
                    <div class="funkyradio-default">
                        <input type="radio" name="selectionType" id="selectionType2" value="allDisksByGB" [(ngModel)]="selectedDiskSetting">
                        <label for="selectionType2">All Disks - By GB</label>
                    </div>
                    <div class="funkyradio-default">
                        <input type="radio" name="selectionType" id="selectionType3" value="selectedDisks" [(ngModel)]="selectedDiskSetting">
                        <label for="selectionType3">Selected Disks</label>
                    </div>
                    <div class="funkyradio-default">
                        <input type="radio" name="selectionType" id="selectionType4" value="noDiskAlerts" [(ngModel)]="selectedDiskSetting">
                        <label for="selectionType4">No Disk Alerts</label>
                    </div>
                </div>
            </div>
            <div class="form-group col-sm-7">
                <div class="row">
                    <div class="form-group col-sm-9" *ngIf="selectedDiskSetting=='allDisksBypercentage'">
                        <label for="currentThresholdByPercentage" class="control-label col-sm-3">Current Threshold:</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" name="currentThresholdByPercentage" [(ngModel)]="diskByPercentage">
                        </div>
                        <label for="currentThresholdByPercentage" class="control-label col-sm-3">% free space</label>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-9" *ngIf="selectedDiskSetting=='allDisksByGB'">
                        <label for="currentThresholdByGB" class="control-label col-sm-3">Current Threshold:</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" name="currentThresholdByGB" [(ngModel)]="diskByGB">
                        </div>
                        <label for="currentThresholdByGB" class="control-label col-sm-3">GB free space</label>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group" *ngIf="selectedDiskSetting=='selectedDisks'">
                        <!--<label >Current disk:</label>-->
                        <wj-flex-grid [itemsSource]="data" selectionMode="Row" [frozenColumns]="1" headersVisibility="Column" (itemsSourceChanged)="itemsSourceChangedHandler()" #flexDisks>
                            <wj-flex-grid-column [header]="'Select'" [binding]="'is_selected'"></wj-flex-grid-column>
                            <wj-flex-grid-column [header]="'Disk Name'" [binding]="'disk_name'" is-read-only="true" [width]="200"></wj-flex-grid-column>
                            <wj-flex-grid-column [header]="'Free Space Threshold'" [binding]="'freespace_threshold'" [width]="150" align="right"></wj-flex-grid-column>
                            <wj-flex-grid-column [header]="'Threshold Type'" [binding]="'threshold_type'"></wj-flex-grid-column>
                        </wj-flex-grid>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12">
        <div class="form-group" *ngIf="selectedDiskSetting">
            <server-location-list (checkedDevices)="changeInDevices($event)" [(deviceTypes)]="deviceTypes"></server-location-list>
            <button type="button" class="btn btn-primary" (click)="applySetting(diskSettingsForm.value)" >Apply Settings</button>
        </div>
    </div>
</div>
