<div id="zeusContent">
    <div class="col-xs-12">
        <div class="widgetWrapper">
            <div class="widgetTitle">
                Hours and Destinations
            </div>
            <div class="widgetContent" id="hoursDestinations">
                <vs-hours-destinations>loading...</vs-hours-destinations>
            </div>
        </div>
    </div>

    <div class="col-xs-12">
        <div class="widgetWrapper">
            <div class="widgetTitle">
                Escalation
            </div>
            <div class="widgetContent" id="escalation">
                <vs-escalation>loading...</vs-escalation>
            </div>
        </div>
    </div>
</div>
