<div class="widgetWrapper">
    <div class="widgetContent">
        <div class="grid-sort-group">
            <button class="btn btn-success" (click)="showEditForm(frmDialogEscalate)">
                Edit
            </button>
            <button class="btn btn-success" (click)="showAddForm(frmDialogEscalate)">
                Add
            </button>
            <button class="btn btn-success" (click)="deleteEscalate();">
                Delete
            </button>
        </div>
        <div>&nbsp;</div>
        <wj-flex-grid [itemsSource]="data" selectionMode="Row" headersVisibility="Column" [isReadOnly]="true" #flex id="grid">
            <wj-flex-grid-filter></wj-flex-grid-filter>
            <wj-flex-grid-column [header]="'Escalate To'" [binding]="'send_to'" [width]="280"></wj-flex-grid-column>
            <wj-flex-grid-column [header]="'Interval (min)'" [binding]="'interval'" [width]="120" align="right"></wj-flex-grid-column>
            <wj-flex-grid-column [header]="'Send Via'" [binding]="'send_via'" [visible]="false"></wj-flex-grid-column>
            <wj-flex-grid-column [header]="'Id'" [binding]="'id'" [visible]="false"></wj-flex-grid-column>
        </wj-flex-grid>
        
        <wj-popup class="col-md-8 modal-content" #frmDialogEscalate>
            <div class="panel panel-default">
                <div class="panel-heading">
                    {{formTitle}}
                    <button type="button" tabindex="-1" class="close wj-hide" (click)="cancelEditAdd()" name="cancel">&times;</button>
                </div>
                <form (ngSubmit)="saveEscalation(frmDialogEscalate)" #frmUser="ngForm">
                    <div class="modal-body">
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label for="business_hour" class="control-label col-sm-5">Alerting Mechanism:</label>
                                <wj-combo-box name="send_via" [itemsSource]="sendvia" [(text)]="formObject.send_via" #send_via
                                              [(ngModel)]="formObject.send_via" (selectedIndexChanged)="onSendViaSelectedIndexChanged($event)">
                                </wj-combo-box>
                            </div>
                            <div class="form-group col-sm-6" *ngIf="isEmail">
                                <label for="send_to" class="control-label col-sm-3">Send To:</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="send_to" name="send_to" [(ngModel)]="formObject.send_to" />
                                </div>
                            </div>
                            <div class="form-group col-sm-6" *ngIf="isSMS">
                                <label for="sms_to" class="control-label col-sm-3">SMS To:</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="sms_to" name="sms_to" [(ngModel)]="formObject.send_to" />
                                </div>
                            </div>
                            <div class="form-group col-sm-6" *ngIf="isScript">
                                <label for="script_name" class="control-label col-sm-3">Script:</label>
                                <wj-combo-box name="script_name" [itemsSource]="scripts" [(text)]="formObject.script_name"
                                              [(ngModel)]="formObject.script_name">
                                </wj-combo-box>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label for="interval" class="control-label col-sm-5">Escalation Interval (min):</label>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" id="interval" name="interval" [(ngModel)]="formObject.interval" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel-footer">
                        <button class="btn btn-primary" type="submit" name="submit" [disabled]="!frmUser.form.valid">Save</button>
                        <button class="btn btn-primary wj-hide" type="cancel" name="cancel" (click)="cancelEditAdd()">Cancel</button>
                    </div>

                </form>
            </div>    
        </wj-popup>
    </div>
</div>