<template ngFor let-item="$implicit" [ngForOf]="onPremApps">
    <h3>{{item.type}}</h3>
    <div class="widgetOnPremisesApps-statusCountWrapper">

        <div *ngIf="item.notResponding > 0" class="zeusColorReact-danger zeusColorReactBg" [style.-webkit-flex-grow]="item.notResponding" [style.flex-grow]="item.notResponding">{{item.notResponding}}</div>
        <div *ngIf="item.OK > 0" class="zeusColorReact-success zeusColorReactBg" [style.-webkit-flex-grow]="item.OK" [style.flex-grow]="item.OK">{{item.OK}}</div>
        <div *ngIf="item.issue > 0" class="zeusColorReact-warning zeusColorReactBg" [style.-webkit-flex-grow]="item.issue" [style.flex-grow]="item.issue">{{item.issue}}</div>
        <div *ngIf="item.maintenance > 0" class="zeusColorReact-default zeusColorReactBg" [style.-webkit-flex-grow]="item.maintenance" [style.flex-grow]="item.maintenance">{{item.maintenance}}</div>
    </div>
</template>