<div class="widgetWrapper">
    <!--Step 1-->
    <div *ngIf="currentStep=='1'">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="grid-sort-group">
                    <!-- edit details in a popup -->
                    <button class="btn btn-success" (click)="editCellInfo(frmDialog)">
                        Edit
                    </button>
                    <button class="btn btn-success" (click)="addCellInfo(frmDialog)">
                        Add
                    </button>
                    <button class="btn btn-success" (click)="delteCellInfo();">
                        Delete
                    </button>
                    <button class="btn btn-success" (click)="RefreshCell();">
                        Refresh
                    </button>
                </div>
                <div>&nbsp;</div>
                <!--<wj-group-panel [grid]="flex" [placeholder]="'Drag columns here to create groups.'" class="visible"></wj-group-panel>-->
                <wj-flex-grid #flex [itemsSource]="data" headersVisibility="Column" selectionMode="Row" [isReadOnly]="true">
                    <wj-flex-grid-filter></wj-flex-grid-filter>
                    <wj-flex-grid-column [header]="'Cell Name'" [binding]="'cell_name'" [width]="180"></wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'Name'" [binding]="'name'" [width]="200"></wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'Host Name'" [binding]="'host_name'" [width]="250"></wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'Connection Type'" [binding]="'connection_type'" [width]="150"></wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'Port No.'" [binding]="'port_no'" [width]="100"></wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'Global Security'" [binding]="'global_security'" [width]="150"></wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'Credentials'" [binding]="'credentials_name'" [width]="200"></wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'Realm'" [binding]="'realm'" [visible]="false" [width]="200"></wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'Credentials Id'" [binding]="'credentials_id'" [visible]="false" [width]="200"></wj-flex-grid-column>
                </wj-flex-grid>
                <div class="btn-group" *ngIf="data != null">
                    <button type="button" class="btn btn-default"
                            (click)="data.moveToFirstPage()"
                            [disabled]="data.pageIndex <= 0">
                        <span class="glyphicon glyphicon-fast-backward"></span>
                    </button>
                    <button type="button" class="btn btn-default"
                            (click)="data.moveToPreviousPage()"
                            [disabled]="data.pageIndex <= 0">
                        <span class="glyphicon glyphicon-step-backward">
                        </span>
                    </button>
                    <button type="button" class="btn btn-default" disabled style="width:100px">
                        {{
data.pageIndex + 1 | number
                        }} / {{data.pageCount | number}}
                    </button>
                    <button type="button" class="btn btn-default"
                            (click)="data.moveToNextPage()"
                            [disabled]="data.pageIndex >= data.pageCount - 1">
                        <span class="glyphicon glyphicon-step-forward"></span>
                    </button>
                    <button type="button" class="btn btn-default"
                            (click)="data.moveToLastPage()"
                            [disabled]="data.pageIndex >= data.pageCount - 1">
                        <span class="glyphicon glyphicon-fast-forward"></span>
                    </button>
                </div>
                <div class="pull-right" *ngIf="data != null">
                    <wj-menu [(value)]="pageSize" [header]="'Page size'">
                        <wj-menu-item [value]="10">10</wj-menu-item>
                        <wj-menu-item [value]="20">20</wj-menu-item>
                        <wj-menu-item [value]="50">50</wj-menu-item>
                    </wj-menu>
                </div>
                <div>&nbsp;</div>
                <div class="row">
                    <div class="col-sm-5">
                        <button class="btn btn-primary" type="button" name="selectall" (click)="selectAll()">Select All</button>
                        <button class="btn btn-primary" type="button" name="deselectall" (click)="deselectAll()">Deselect All</button>
                    </div>
                </div>
                <div>
                    &nbsp;
                </div>
                <wj-flex-grid #flex1 [itemsSource]="webSphereServerNodeData" selectionMode="ListBox" headersVisibility="Column">
                    <wj-flex-grid-column [header]="'Select'" [binding]="'is_selected'" contenteditable="true">
                        <template wjFlexGridCellTemplate [cellType]="'Cell'" let-cell="cell">
                            <input type="checkbox" [ngModel]="cell.item.is_selected" (change)="serverCheck(cell.item.id,$event)" />
                        </template>
                    </wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'Cell Name'" [binding]="'cell_name'" [visible]="false" [width]="180">
                    </wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'Node Name'" [binding]="'node_name'" [visible]="false" [width]="180">
                    </wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'Server Name'" [binding]="'server_name'" [width]="200">
                    </wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'Host Name'" [binding]="'host_name'" [width]="250">
                    </wj-flex-grid-column>
                </wj-flex-grid>
                <div class="btn-group" *ngIf="webSphereServerNodeData != null">
                    <button type="button" class="btn btn-default"
                            (click)="webSphereServerNodeData.moveToFirstPage()"
                            [disabled]="webSphereServerNodeData.pageIndex <= 0">
                        <span class="glyphicon glyphicon-fast-backward"></span>
                    </button>
                    <button type="button" class="btn btn-default"
                            (click)="webSphereServerNodeData.moveToPreviousPage()"
                            [disabled]="webSphereServerNodeData.pageIndex <= 0">
                        <span class="glyphicon glyphicon-step-backward">
                        </span>
                    </button>
                    <button type="button" class="btn btn-default" disabled style="width:100px">
                        {{
webSphereServerNodeData.pageIndex + 1 | number
                        }} / {{webSphereServerNodeData.pageCount | number}}
                    </button>
                    <button type="button" class="btn btn-default"
                            (click)="webSphereServerNodeData.moveToNextPage()"
                            [disabled]="webSphereServerNodeData.pageIndex >= webSphereServerNodeData.pageCount - 1">
                        <span class="glyphicon glyphicon-step-forward"></span>
                    </button>
                    <button type="button" class="btn btn-default"
                            (click)="webSphereServerNodeData.moveToLastPage()"
                            [disabled]="webSphereServerNodeData.pageIndex >= webSphereServerNodeData.pageCount - 1">
                        <span class="glyphicon glyphicon-fast-forward"></span>
                    </button>
                </div>
                <div class="pull-right" *ngIf="webSphereServerNodeData != null">
                    <wj-menu [(value)]="srvpageSize" [header]="'Page size'">
                        <wj-menu-item [value]="10">10</wj-menu-item>
                        <wj-menu-item [value]="20">20</wj-menu-item>
                        <wj-menu-item [value]="50">50</wj-menu-item>
                    </wj-menu>
                </div>
            </div>
            <div class="panel-footer">
                <button class="btn btn-primary" type="button" name="next" (click)="step1Click()">Next</button>
            </div>
        </div>
    </div>

    <!--Step 2-->
    <div *ngIf="currentStep=='2'">
        <div class="panel panel-default">
            <div class="panel-heading">
                Server Attributes
            </div>
            <div class="panel-body">
                <div class="panel panel-default">
                    <div class="panel-heading">Scan Settings</div>
                    <div class="panel-body">
                        <div class="row">
                            <div *ngFor="let attribute of  websphereData.device_attributes |filterDeviceAttributes:scanSettings">
                                <div class="form-group col-sm-12">
                                    <label class="control-label col-sm-3">{{attribute.attribute_name}}</label>
                                    <div class="col-sm-1">
                                        <div *ngIf="attribute.type=='TextBox'">
                                            <input type="text" [(ngModel)]="attribute.default_value" class="form-control">
                                        </div>
                                        <div *ngIf="attribute.type=='CheckBox'">
                                            <input type="checkbox" [(ngModel)]="attribute.default_value">
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">WebSphere Settings</div>
                    <div class="panel-body">
                        <div class="row">
                            <div *ngFor="let attribute of  websphereData.device_attributes |filterDeviceAttributes:webSphereSettings">
                                <div class="form-group col-sm-12">
                                    <label class="control-label col-sm-3">{{attribute.attribute_name}}</label>
                                    <div class="col-sm-1">
                                        <div *ngIf="attribute.type=='TextBox'">
                                            <input type="text" [(ngModel)]="attribute.default_value" class="form-control">
                                        </div>
                                        <div *ngIf="attribute.type=='CheckBox'">
                                            <input type="checkbox" [(ngModel)]="attribute.default_value">
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">Memory and CPU Settings</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="form-group col-sm-12">
                                <label class="control-label col-sm-3">Memory Threshold</label>
                                <div class="col-sm-1">
                                    <input type="text" [(ngModel)]="websphereData.memory_threshold" class="form-control">
                                </div>
                            </div>
                            <div class="form-group col-sm-12">
                                <label class="control-label col-sm-3">CPU Threshold</label>
                                <div class="col-sm-1">
                                    <input type="text" [(ngModel)]="websphereData.cpu_threshold" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">Selected Servers</div>
                    <div class="panel-body">
                        <div class="form-group col-sm-12">
                            <div *ngFor="let server of  websphereData.selected_servers; let i=index">
                                <label>{{server.server_name}}</label>
                            </div>
                        </div>
                    </div>
                </div>  
            </div>
            <div class="panel-footer">
                <button class="btn btn-primary" type="button" name="next" (click)="step2Click()">Next</button>
            </div>
        </div>
    </div>

    <!--Step 3-->
    <div *ngIf="currentStep=='3'">
        <div class="panel panel-default">
            <div class="panel-heading">
                Finish
            </div>
            <div class="panel-body">
                <div class="panel-heading">
                    The following servers were imported successfully:
                </div>
                <div class="panel-body">
                    <div class="form-group col-sm-12">
                        <div *ngFor="let server of  websphereData.selected_servers; let i=index">
                            <label>{{server.server_name}}</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <button class="btn btn-primary" type="button" name="next" (click)="step3Click()">Finish</button>
            </div>
        </div>  
    </div>
    <wj-popup style="border: 0px; width: 820px" #frmDialog>
                <div class="modal-content">
                    <div class="modal-header">
                        {{formTitle}}
                        <button type="button" tabindex="-1" class="close wj-hide" (click)="cancelEditAdd()" name="cancel">&times;</button>
                    </div>
                    <form (ngSubmit)="saveCellInfo(frmDialog)" #frmCell="ngForm" class="form-horizontal">

                        <div class="modal-body" *ngIf="currentEditItem">
                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <label for="login_name" class="control-label col-sm-5">Name</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control" id="name" required name="name" [(ngModel)]="currentEditItem.name">
                                    </div>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label for="full_name" class="control-label col-sm-5">Host Name</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control" id="host_name" required name="host_name" [(ngModel)]="currentEditItem.host_name">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <label for="status" class="control-label col-sm-5">Connection Type</label>
                                    <div class="col-sm-7">
                                        <select name="status" class="form-control" [(ngModel)]="currentEditItem.connection_type" id="connection_type">
                                            <option value="SOAP">SOAP</option>
                                            <option value="RMI">RMI</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label for="email" class="control-label col-sm-5">Port No</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control" id="email" required name="email" [(ngModel)]="currentEditItem.port_no">
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <div class="col-sm-5">&nbsp;</div>
                                    <div class="funkyradio col-sm-7">
                                        <div class="funkyradio-default">
                                            <input type="checkbox" class="checkbox-inline" id="global_security" name="global_security" [(ngModel)]="currentEditItem.global_security">
                                            <label for="global_security">Global Security</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-sm-6" *ngIf="currentEditItem.global_security">
                                    <label for="credentails" class="control-label col-sm-5">Credentials</label>
                                    <div class="col-sm-7">
                                        <wj-combo-box name="credentials" [itemsSource]="deviceCredentialData" displayMemberPath="text" selectedValuePath="value"
                                                      [(ngModel)]="currentEditItem.credentials_id" [(text)]="currentEditItem.credentials_name" [placeholder]="'Select Credentials'" [isEditable]="true">
                                        </wj-combo-box>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="display: none">
                                <div class="form-group col-sm-6" *ngIf="currentEditItem.global_security">
                                    <label for="realm" class="control-label col-sm-5">Realm</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control" id="realm" name="realm" [(ngModel)]="currentEditItem.realm">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary" type="submit" name="submit" [disabled]="!frmCell.form.valid">Save</button>
                            <button class="btn btn-primary wj-hide " type="button" name="cancel" (click)="cancelEditAdd()">Cancel</button>
                        </div>
                    </form>
                </div>
            </wj-popup>
</div>
