
<div class="col-lg-3">&nbsp;</div>
<div class="col-lg-12">
    <div class="widgetWrapper">
        <div class="widgetContent">
            <div class="row">
                <!--Step 1-->
                <div>



                    <form (ngSubmit)="onSubmit(websphereSettingsForm.value)" [formGroup]="websphereSettingsForm" class="form-horizontal">

                        <div class="panel-body">

                            <div class="form-group col-sm-6">
                                <label for="name" class="control-label col-sm-5">Name</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" required name="name" formControlName="name">
                                </div>
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="host_name" class="control-label col-sm-5">Host Name</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" required name="host_name" formControlName="host_name">
                                </div>
                            </div>


                            <div class="form-group col-sm-6">
                                <label for="connection_type" class="control-label col-sm-5">Connection Type</label>
                                <div class="col-sm-7">
                                    <select name="status" class="form-control" formControlName="connection_type" id="connection_type">
                                        <option value="SOAP">SOAP</option>
                                        <option value="RMI">RMI</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="email" class="control-label col-sm-5">Port No</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" required name="port_no" formControlName="port_no">
                                </div>
                            </div>


                            <div class="form-group col-sm-6">
                                <div class="funkyradio">
                                    <div class="funkyradio-default">
                                        <input type="checkbox" id="global_security" formControlName="global_security" name="global_security" (change)="isLimitsChecked($event.target.checked)" />
                                        <label for="global_security">Global Security</label>
                                    </div>
                                </div>
                            </div>

                            <div *ngIf="limitsChecked" class="form-group col-sm-6">
                                <label for="credentials_id" class="control-label col-sm-5"> Credentials</label>
                                <div class="col-sm-7">
                                    <wj-combo-box name="credentials_id" [itemsSource]="deviceCredentialData" displayMemberPath="text" selectedValuePath="value"
                                              [(ngModel)]="credentials_id"  formControlName="credentials_id"  placeholder="Select Credential" [isEditable]="true" selectedItem="credentials_id" >
                                    </wj-combo-box>
                                </div>
                            </div>


                            <div *ngIf="limitsChecked" class="form-group col-sm-6">
                                <label for="realm" class="control-label col-sm-5">Realm</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" name="realm" formControlName="realm">
                                </div>
                            </div>

                        </div>

                        <button type="submit" class="btn btn-default">Refresh</button>
                        <!-- edit details in a popup -->
                        <!--<button class="btn btn-default" (click)="RefreshCell();">
                            Refresh
                        </button>-->

                    </form>

                </div>
            </div>

        </div>
        <div>&nbsp;</div>

        <div class="widgetContent">
            <div>
                <wj-flex-grid #flex1 [itemsSource]="webSphereServerNodeData" selectionMode="ListBox" headersVisibility="Column">

                    <wj-flex-grid-column [header]="'Select'" [binding]="'is_selected'" contenteditable="true">
                        <template wjFlexGridCellTemplate [cellType]="'Cell'" let-cell="cell">
                            <input type="checkbox" [ngModel]="cell.item.is_selected" (change)="serverCheck(cell.item.id,$event)" />
                        </template>
                    </wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'Node Name'" [binding]="'node_name'" [visible]="false" [width]="180">
                    </wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'Server Name'" [binding]="'server_name'" [width]="200">
                    </wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'Host Name'" [binding]="'host_name'" [width]="250">
                    </wj-flex-grid-column>
                </wj-flex-grid>
                <div class="btn-group" *ngIf="webSphereServerNodeData != null">
                    <button type="button" class="btn btn-default"
                            (click)="webSphereServerNodeData.moveToFirstPage()"
                            [disabled]="webSphereServerNodeData.pageIndex <= 0">
                        <span class="glyphicon glyphicon-fast-backward"></span>
                    </button>
                    <button type="button" class="btn btn-default"
                            (click)="webSphereServerNodeData.moveToPreviousPage()"
                            [disabled]="webSphereServerNodeData.pageIndex <= 0">
                        <span class="glyphicon glyphicon-step-backward">
                        </span>
                    </button>
                    <button type="button" class="btn btn-default" disabled style="width:100px">
                        {{
webSphereServerNodeData.pageIndex + 1 | number
                        }} / {{webSphereServerNodeData.pageCount | number}}
                    </button>
                    <button type="button" class="btn btn-default"
                            (click)="webSphereServerNodeData.moveToNextPage()"
                            [disabled]="webSphereServerNodeData.pageIndex >= webSphereServerNodeData.pageCount - 1">
                        <span class="glyphicon glyphicon-step-forward"></span>
                    </button>
                    <button type="button" class="btn btn-default"
                            (click)="webSphereServerNodeData.moveToLastPage()"
                            [disabled]="webSphereServerNodeData.pageIndex >= webSphereServerNodeData.pageCount - 1">
                        <span class="glyphicon glyphicon-fast-forward"></span>
                    </button>
                </div>
                <div class="pull-right" *ngIf="webSphereServerNodeData != null">
                    <wj-menu [header]="'Page size'">
                        <wj-menu-item [value]="10">10</wj-menu-item>
                        <wj-menu-item [value]="20">20</wj-menu-item>
                        <wj-menu-item [value]="50">50</wj-menu-item>
                    </wj-menu>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <button class="btn btn-primary" type="button" name="next" (click)="step1Click()">Save</button>
        </div>


    </div>
</div>
<div class="col-lg-3">&nbsp;</div>



