<div class="form-group col-sm-12">
    <form [formGroup]="tests" (ngSubmit)="onSubmit(tests.value)">
        <div class="panel panel-default">
            <div class="panel-heading">Overall Pass/Fail Tests</div>
            <div class="panel-body">
                <p>Check any items you would like to be tested upon scanning this server.</p>
                <div class="funkyradio col-sm-3">
                    <div class="funkyradio-default">
                        <input type="checkbox" class="checkbox-inline" id="smtp" formControlName="smtp" name="smtp" />
                        <label for="smtp">SMTP</label>
                    </div>
                </div>
                <div class="funkyradio col-sm-3">
                    <div class="funkyradio-default">
                        <input type="checkbox" class="checkbox-inline" id="auto_discovery" formControlName="auto_discovery" name="auto_discovery" />
                        <label for="auto_discovery">Auto Discovery</label>
                    </div>
                </div>
                <div class="funkyradio col-sm-3">
                    <div class="funkyradio-default">
                        <input type="checkbox" class="checkbox-inline" id="create_calendar" formControlName="create_calendar" name="create_calendar" />
                        <label for="create_calendar">Create Calendar</label>
                    </div>
                </div>
                <div class="funkyradio col-sm-3">
                    <div class="funkyradio-default">
                        <input type="checkbox" class="checkbox-inline" id="imap" formControlName="imap" name="imap" />
                        <label for="imap">IMAP</label>
                    </div>
                </div>
                <div class="funkyradio col-sm-3">
                    <div class="funkyradio-default">
                        <input type="checkbox" class="checkbox-inline" id="pop3" formControlName="pop3" name="pop3" />
                        <label for="pop3">POP3</label>
                    </div>
                </div>
                <div class="funkyradio col-sm-3">
                    <div class="funkyradio-default">
                        <input type="checkbox" class="checkbox-inline" id="mapi_connectivity" formControlName="mapi_connectivity" name="mapi_connectivity" />
                        <label for="mapi_connectivity">MAPI Connectivity</label>
                    </div>
                </div>
                <div class="funkyradio col-sm-3">
                    <div class="funkyradio-default">
                        <input type="checkbox" class="checkbox-inline" id="inbox" formControlName="inbox" name="inbox" />
                        <label for="inbox">Inbox</label>
                    </div>
                </div>
                <div class="funkyradio col-sm-3">
                    <div class="funkyradio-default">
                        <input type="checkbox" class="checkbox-inline" id="owa" formControlName="owa" name="owa" />
                        <label for="owa">OWA</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">Performance Tests</div>
            <div class="panel-body">
                <p>Check any items you would like to be tested upon scanning this server.</p>
                <div class="form-group">
                    <label for="mail_flow_threshold" class="control-label col-sm-4">Mail Flow Threshold (ms)</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" id="mail_flow_threshold" name="mail_flow_threshold" formControlName="mail_flow_threshold" />
                    </div>
                    <div class="funkyradio col-sm-4">
                        <div class="funkyradio-default">
                            <input type="checkbox" class="checkbox-inline" id="mail_flow" formControlName="mail_flow" name="mail_flow" />
                            <label for="mail_flow">Mail Flow</label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="create_folder_threshold" class="control-label col-sm-4">Create Folder Threshold (ms)</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" id="create_folder_threshold" name="create_folder_threshold" formControlName="create_folder_threshold" />
                    </div>
                    <div class="funkyradio col-sm-4">
                        <div class="funkyradio-default">
                            <input type="checkbox" class="checkbox-inline" id="create_folder" formControlName="create_folder" name="create_folder" />
                            <label for="create_folder">Create Folder</label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="create_site_threshold" class="control-label col-sm-4">Create Site Threshold (ms)</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" id="create_site_threshold" name="create_site_threshold" formControlName="create_site_threshold" />
                    </div>
                    <div class="funkyradio col-sm-4">
                        <div class="funkyradio-default">
                            <input type="checkbox" class="checkbox-inline" id="create_site" name="create_site" formControlName="create_site" />
                            <label for="create_site">Create Site</label>
                        </div>
                    </div>
                        </div>
                <div class="form-group">
                    <label for="onedrive_upload_treshold" class="control-label col-sm-4">OneDrive Upload Threshold (ms)</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" id="onedrive_upload_treshold" name="onedrive_upload_treshold" formControlName="onedrive_upload_treshold" />
                    </div>
                    <div class="funkyradio col-sm-4">
                        <div class="funkyradio-default">
                            <input type="checkbox" class="checkbox-inline" id="onedrive_upload" name="onedrive_upload" formControlName="onedrive_upload" />
                            <label for="onedrive_upload">OneDrive Upload</label>
                        </div>
                    </div>
                        </div>
                <div class="form-group">
                    <label for="onedrive_download_threshold" class="control-label col-sm-4">OneDrive Download Threshold (ms)</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" id="onedrive_download_threshold" name="onedrive_download_threshold" formControlName="onedrive_download_threshold" />
                    </div>
                    <div class="funkyradio col-sm-4">
                        <div class="funkyradio-default">
                            <input type="checkbox" class="checkbox-inline" id="onedrive_download" name="onedrive_download" formControlName="onedrive_download" />
                            <label for="onedrive_download">OneDrive Download</label>
                        </div>
                    </div>
                        </div>
                    </div>
                </div>
        <button type="submit" class="btn btn-primary" name="submit">Save</button>
    </form>
</div>





