<div *ngFor="let entry of data" style="float: left" class="col-xs-4 col-sm-3 col-md-2 col-lg-2">
    <a [routerLink]="['/services/dashboard/' + entry.id + (entry.type == 'Office365' ? ';' + entry.category : '')]">
        <div class="widgetWrapper h-xs-75 zeusColorReactBg" data-widget-type="widgetImageText" style="justify-content: left;" 
             [ngStyle]="{'background-color' : entry.status_code.toLowerCase() == 'ok' ? 'rgba(95, 190, 127, 0.85)' : (
                entry.status_code.toLowerCase() == 'issue' ? 'rgba(249, 156, 28, 0.85)' : (
                    entry.status_code.toLowerCase() == 'not responding' ? 'rgba(239, 58, 36, 0.85)' : 'rgba(132, 132, 132, 0.85)'
                )
             )}">
     
                <img class="svgInject" src="{{entry.icon}}" title="{{entry.device_type}}" style="width: 50px; fill:white;" />
         
                <div style="width: 75%;">
                    <div style="font-size: 15px; line-height: 110%; font-weight: bold; color: #ffffff; overflow: hidden; white-space: nowrap; text-overflow: ellipsis">{{entry.name}}</div>
                    <div style="font-size: 15px; line-height: 110%; color: ##ffffff; overflow: hidden; white-space: nowrap; text-overflow: ellipsis">{{entry.status_string}}</div>
                </div>
            </div>
    </a>
</div>